/*------------------------------------*\
    НАВИГАЦИЯ
\*------------------------------------*/
.nav{
    font-size: 13px;
    float:left;
    text-align: center;
    list-style:none;
    font-weight:bold;
    padding: 15px;
    margin-left: 27%;
    margin-right: 10%;
    margin-bottom:30px;
    top: 2px;
}
.nav li{
    float:left;
    margin-right:10px;
    position:relative;
    display:block;
}
.nav li a{
    display:block;
    color:#ff8000;
    background:#ffffcc/*rgba(255, 0, 0, 0.70)*/;
    text-decoration:none;
    text-shadow:0px 0px 1px white;/*rgba(0,0,0,0.50); /* Тень текста, чтобы приподнять его на немного */
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:10px;
    border-color: white;
    border-style: outset;
    padding: 0.10em;
}
.nav li a:hover{
    color:black;
    background:#b3d9ff;
    background:rgba(107,12,54,0.75); /* Выглядит полупрозрачным */
    text-decoration:underline;
}
/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
.nav ul{
    list-style:none;
    position:absolute;
    left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
    opacity:0; /* Устанавливаем начальное состояние прозрачности */
    -webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
}
.nav ul li{
    padding-top:2px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
    float:none;
    background:url(dot.gif);
}
.nav ul a{
    white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
    display:block;
}
.nav li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
    left: 0%;/* Приносим его обратно на экран, когда нужно */
    opacity:1; /* Делаем непрозрачным */
}
.nav li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
    background:#ffffcc;/*rgba(0, 0, 0, 0.70); /* Выглядит полупрозрачным */
    text-decoration:none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px cyan;
    border-style: ridge;
}
.nav li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
    text-decoration:none;
    -webkit-transition:-webkit-transform 0.075s linear;
}
.nav li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
    background:rgba(0, 0, 0, 0.40);/* Будет полупрозрачным */
    text-decoration:underline;
    -moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
}