@media all /*and (min-width: 1921px)*/ and (max-width: 2560px){
    /*HTML*/
    html{
        background-color: rgba(215,215,215,.9);
        color: gray;
        font-family: sans-serif;
    }
    /*BODY*/
    body{
        width: auto;
        margin-left: 22%;
        margin-right: 50px;
    }
    /*HEADER*/
    header{
        background-color: whitesmoke;
        margin: auto;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 20%;
    }
    /*HEADER_LOGO*/
    .hdr_logo h2{
        color: darkcyan;
        text-align: center;
        text-shadow: 1px 1px 1px lightgray;
    }
    .hdr_logo h2 span{
        color: orange;
    }
    /*HEADER_MENU*/
    .hdr_menu{}
    .hdr_nav ul{
        list-style-type: none;
    }
    .hdr_nav li{
        margin-right: 20px;
        margin-bottom: 10px;
        padding: 5px;
        border: 2px solid orange;
        border-collapse: collapse;
        border-radius: 15px;
        text-align: center;
    }
    .hdr_nav li:hover{
        background-color: orange;
    }
    .hdr_nav li a{
        color: gray;
        text-decoration: none;
    }
    /*HEADER_REG_SING_IN*/
    .registration_singIn {
        margin-right: 10%;
    }
    .registration_singIn ul{
        list-style-type: none;
        float: right;
    }
    .registration_singIn li{
        margin: 5px;
        float: left;
    }
    .registration_singIn li a{
        color: gray;
        font-size: .8em;
    }
    .registration_singIn li a:hover{
        text-decoration: none;
    }
    /*HEADER_CONTACTS*/
    .hdr_contacts{
        position: absolute;
        bottom: 0;
        padding: 10px;
        font-size: .8em;
    }
    .hdr_contacts ul{
        list-style-type: none;
    }
    .hdr_contacts li:nth-child(1){
        color: black;
        text-shadow: 1px 1px 1px gray;
        font-size: 1.8em;
    }
    .hdr_contacts li:nth-child(2) a,
    .hdr_contacts li:nth-child(3) a{
        font-size: 1.2em;
        color: gray;
    }
    .hdr_contacts li:nth-child(2) a:hover,
    .hdr_contacts li:nth-child(3) a:hover{
        text-decoration: none;
    }
    /*WELCOM_TO_SITE*/
    #welcome_to_site{
        width: auto;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 0 5px black;
        position: fixed;
        top: 15%;
        left: 25%;
        right: 25%;
        background-color: whitesmoke;
        color: black;
    }
    .wlcm_h{
        text-align: center;
    }
    .wlcm_submit{
        text-align: right;
    }
    .wlcm_submit input{
        padding: 5px;
        font-size: 1.1em;
        color: gray;
        border: 0 solid white;
        border-radius: 10px;
        background-color: whitesmoke;
        text-decoration: none;
        cursor: pointer;
    }
    /* ALL_CONTENTS*/
    .all_contents{
        width: auto;
        max-width: 1500px;
        margin-right: 20%;
    }
    @media all and (max-width:1920px){
        .all_contents{
            width: auto;
            max-width: 1200px;
            margin: 0 auto;
        }
    }
    /*CONTENT_MENU*/
    .content_nav{
        height: 60px;
        margin-bottom: 20px;
    }
    .basic_cntnt_nav ul{
        float: right;
        list-style-type: none;
    }
    .basic_cntnt_nav li{
        margin:0 5px;
        padding: 5px 10px;
        border: 2px solid lightgray;
        border-radius: 15px;
        float: left;
    }
    .basic_cntnt_nav a{
        color: gray;
        text-decoration: none;
    }
    .basic_cntnt_nav li:hover{
        background-color: lightgray;
    }
    .basic_cntnt_nav a:hover{
        color: white;
    }
    /*TOP_NEWS*/
    .top_news{
        position: absolute;
        top:20%;
        right: 10%;
    }
    .basic_top_news{}
    @media all and (max-width: 1920px){
        .top_news, .basic_top_news{
            display: none;
        }
    }
    /*BLC_BLOG*/
    .basic_blog{
        margin: 20px;
        padding: 0px;
    }
    .blck_blog{
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 10px gray;
    }
    .blck_blog_h{}
    .blck_blog_info{}
    .blck_blog_href a{
        color: gray;
    }
    .blck_blog_href a:hover{
        text-decoration: none;
    }
    /*POPULAR*/
    .popular_h{}
    .popular{
        width: auto;
        height: 180px;
        margin: 10px 0;
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 5px gray;
    }
    .basic_popular{
        float: left;
        margin: 25px;
    }
    .blck_popular{
        float: left;
    }
    /*FOOTER*/
    footer{
        width: auto;
        margin-left: -50px;
        margin-right: -50px;
        margin-bottom: -10px;
        padding: 10px 20px;
        background-color: beige;
    }
    @media all and (max-width:1920px){
        footer{
            width: auto;
            margin-left: -27px;
            margin-right: -50px;
            margin-bottom: -20px;
            padding: 10px 20px;
            background-color: beige;
        }
    }
    .ftr_nav{}
}