@font-face{
	font-family: Pangolin-Regular;
	src: url(./fonts/Pangolin-Regular.ttf);
	src: url(./fonts/Neucha.ttf);
}

html, body{
	background: white;
	background-repeat: no-repeat;
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
	font-family: Arial;
	font-size: 14px;
	line-height: 1.3em;
	text-shadow: 1px 1px 1px black;
}

body{
	background: url(../images/1300x2600.png);
	box-shadow: 0 0 10px black;
}

header{
	background: url(../images/logo.png) no-repeat;
	height: 120px;
}

ul#contacts{
	float: right;
	list-style-type: none; 
	font-size: 11px; 
	font-family: cursive;
}

#contacts li{
	color: lightgrey;
	text-shadow: 1px 1px 1px black;
}

li b{
	font-size: 16px
}

h1{
	color: white;
	text-align: left;
	text-shadow: 1px 1px 1px black;
	padding: 5px;
}

h2, h3{
	text-align: center;
	color: white;
	text-shadow: 1px 1px 1px grey;
}

h4{
	text-align: left;
}

p{
	padding-left: 20px;
	padding-right: 20px;
	color: white;
}

li{
	list-style-type: none;
}

#allcontent{
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 0px;
}

#basic{
	border: none;
	padding: 5px;
}

#basic div{
	background-color: rgba(0, 0, 0, 0.0)/*rgba(82, 122, 122, 0.85)*/;
	text-shadow: 1px 1px 1px grey;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	/*border-radius: 10px;
	box-shadow: 1px 1px 10px grey;*/
	height: 350px;
	width: 1120px;
}

#basic h3{
	color: white;
	font-size: 1.1em;
	line-height: 1.1em;
	text-shadow: 1px 1px 1px black;
}

#basic p{
	color: white;
	line-height: 1.1em;
	text-shadow: 1px 1px 1px black;
}

#workingOut{
	border: none;
	margin: 5% 0 0 0;
	padding: 10px;
	width: 1300px;

}

#workingOut h1{
	text-align: center;
	font-size: 1.4em;
	margin-left: -4%;
	color: black;
	text-shadow: 0px 0px 3px white;
}

#workingOut h2{
	text-align: center;
	font-size: 14px;
	color: black;
	text-shadow: 0px 0px 3px white;
}

#visiting{
	background: rgba(0, 0, 0, 0.0)/*(82, 122, 122, 0.70)*/;
	text-align: ;
	border: none;
	height: 110px;
	width: 200px;
	float: left;
	margin: 10px 1% 0 5%;
	box-shadow: 0px 0px 1px black;
	border-radius: 0px;
}

#visiting div{
	display: none;
}

#visiting p{
	color: black;
	text-shadow: 0 0 3px white;
}

#visiting:hover{
	background: lightgrey/*rgba(133, 173, 173, 0.70)*/;
	border: none;
	height: 110px;
	width: 200px;
	float: left;
	margin: 10px 1% 0 5%;
	box-shadow: 0 0 10px black;
	border-radius: 0px;
	-moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
}

#visiting:hover div{
	background: lightgrey/*rgb(133, 173, 173)*/;
	text-align: left;
	font-size: 12px;
	line-height: 1.2em;
	display: block;
	border: none;
	height: 300px;
	width: 500px;
	float: left;
	margin: 0 1% 0 1%;
	box-shadow: 0 0 10px black;
	border-radius: 0px;
	-moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
}

#visiting:hover div b{
	font-size: 1.3em;
}

#landing{
	background: rgba(0, 0, 0, 0.0)/*(82, 122, 122, 0.70)*/;
	border: none;
	height: 110px;
	width: 200px;
	float: left;
	margin: 10px 1% 0 1%;
	box-shadow: 0px 0px 1px black;
	border-radius: 0px;
}

#landing p{
	color: black;
	text-shadow: 0 0 1px white;
}
#landing div{
	display: none;
}

#landing:hover{
	background: lightgrey/*rgba(133, 173, 173, 0.70)*/;
	border: none;
	height: 110px;
	width: 200px;
	float: left;
	margin: 10px 1% 0 1%;
	box-shadow: 0 0 10px black;
	border-radius: 0px;
	-moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
}

#landing:hover div{
	background: lightgrey/*rgb(133, 173, 173)*/;
	text-align: left;
	font-size: 12px;
	line-height: 1.2em;
	display: block;
	border: none;
	height: 300px;
	width: 500px;
	float: left;
	margin: 10px 1% 0 1%;
	box-shadow: 0 0 10px black;
	border-radius: 0px;
	-moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
}

#landing:hover div li{
	color: black;
	text-shadow: 0 0 0 white;
	font-size: 1.0em;
}

#landing:hover div b{
	font-size: 1.3em;
}

#company{
	background: rgba(0, 0, 0, 0.0)/*(82, 122, 122, 0.70)*/;
	border: none;
	height: 110px;
	width: 200px;
	float: left;
	margin: 10px 1% 0 1%;
	box-shadow: 0px 0px 1px black;
	border-radius: 0px;
}

#company div{
	display: none;
}

#company p{
	color: black;
	text-shadow: 0 0 1px white;
}

#company:hover{
	background: lightgrey/*rgba(133, 173, 173, 0.70)*/;
	border: none;
	height: 110px;
	width: 200px;
	float: left;
	margin: 10px 1% 0 1%;
	box-shadow: 0 0 10px black;
	border-radius: 0px;
	-moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
}

#company:hover div{
	background: lightgrey/*rgb(133, 173, 173)*/;
	text-align: left;
	font-size: 12px;
	line-height: 1.2em;
	display: block;
	border: none;
	height: 300px;
	width: 500px;
	float: right;
	margin: 10px 1% 0 1%;
	box-shadow: 0 0 10px black;
	border-radius: 0px;
	-moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
}

#company:hover div b{
	font-size: 1.3em;
}

#magazyn{
	background: rgba(0, 0, 0, 0.0)/*(82, 122, 122, 0.70)*/;
	border: none;
	height: 110px;
	width: 200px;
	float: left;
	margin: 10px 5% 0 1%;
	box-shadow: 0px 0px 1px black;
	border-radius: 0px;
}

#magazyn div{
	display: none;
}

#magazyn p{
	color: black;
	text-shadow: 0 0 1px white;
}

#magazyn:hover{
	background: lightgrey/*rgba(133, 173, 173, 0.70)*/;
	border: none;
	height: 110px;
	width: 200px;
	float: left;
	margin: 10px 5% 0 1%;
	box-shadow: 0 0 10px black;
	border-radius: 0px;
	-moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
}

#magazyn:hover div{
	background: lightgrey/*rgb(133, 173, 173)*/;
	text-align: left;
	font-size: 12px;
	line-height: 1.2em;
	display: block;
	border: none;
	height: 300px;
	width: 500px;
	float: right;
	margin: 10px 2% 0 1%;
	box-shadow: 0 0 10px black;
	border-radius: 0px;
	-moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
}

#magazyn:hover div b{
	font-size: 1.3em;
}

#adaptiv{
	float: left;
	background: rgba(255, 255, 255, 0.70);
	border: none;
	margin: 3% 1% 0 1%;
	padding: 5px;
	box-shadow: 0px 0px 5px black;
	border-radius: 20px;
}

#adaptiv h2{
	color:black;
	text-shadow: 1px 1px 3px white;
}

#others{
	border: none;
	margin-top: 19%;
	margin-bottom: 0%;
}

#design{
	padding: 0px;
	border: none;
}

#design h2{
	text-align: center;
	font-size: 1.4em;
	color: black;
	text-shadow: 0 0 3px white;
	border: none;
}

#design p, a{
	color: white;
	font-size: 14px;
	text-shadow: 1px 1px 3px black;
}

#design div{
	background-color: rgba(0, 0, 0, 0.0)/*(82, 122, 122, 0.85)*/;
	color: black;
	text-shadow: 1px 1px 1px grey;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	/*border-radius: 10px;
	box-shadow: 1px 1px 10px grey;*/
	height: 300px;
	width: 1120px;
}

#seo{
	height: 300px;
	margin-top: 5%;
	margin-left: 5%;
	padding: 5px;
	border: none;
}

#seo h2{
	margin-left: -5%;
	font-size: 1.4em;
	text-shadow: 0 0 3px white;
	color: black;
}

#seo div{
	margin-left: 5%;
	float: left;
	background-color: rgba(0,0,0,0.0)/*(82, 122, 122, 0.70)*/;
	padding: 10px;
	margin-right: 5%;
	border: none;
	/*border-radius: 10px;
	box-shadow: 1px 1px 10px grey;*/
	height: 60px;
	width: 150px;
}

#seo div:hover{
	margin-left: 5%;
	float: left;
	background-color: rgba(0, 0, 0, 0.0);
	padding: 10px;
	margin-right: 5%;
	border: none;
	/*border-radius: 0px;
	box-shadow: 0px 0px 10px black;*/
	height: 200px;
	width: 150px;
	-moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
}

.seoblocklef, .seoblockrig{
	display: none;
}

#seo div:hover div.seoblocklef{
	display: block;
	float: left;
	background-color: rgba(82, 122, 122, 0.50);
	height: 200px;
	width: 400px;
	box-shadow: 0 0 10px black;
	color: white;
	text-shadow: 1px 1px 1px grey;
	-moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
}

#seo div:hover div.seoblockrig{
	display: block;
	float: right;
	background-color: rgba(82, 122, 122, 0.50);
	height: 200px;
	width: 400px;
	box-shadow: 0 0 10px black;
	color: white;
	text-shadow: 1px 1px 1px grey;
	-moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
}

#seo h3{
	color: white;
	font-size: 1.0em;
	text-shadow: 1px 1px 3px black;
}

#seo p{
	font-size: 12px;
	line-height: 1.2em;
	color: white;
	text-shadow: 1px 1px 3px black;
	
}

#services{
	margin: 8% auto 0 auto;
	padding: 0px;
	border: none;
}

#services h2{
	font-size: 1.4em;
	text-shadow: 0 0 3px white;
	color: black;
}

#services div{
	background-color: rgba(0, 0, 0, 0.0)/*(82, 122, 122, 0.85)*/;
	color: black;
	font-size: 12px;
	line-height: 1.2em;
	text-shadow: 1px 1px 1px grey;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	/*border-radius: 10px;
	box-shadow: 1px 1px 10px grey;*/
	height: 280px;
	width: 1120px;
}

#services p, li{
	color: black;
	text-shadow: 0 0 1px white;
	font-size: 1.2em; 
	line-height: 1.2em;
}

#regform{
	width: 650px;
	height: 380px;
	box-shadow: 1px 1px 10px grey;
	border-radius: 10px;
	background: rgba(82, 122, 122, 0.85);
	padding: 5px;
	margin: 0 auto 0 auto;
}

#regform h2{
	color: black;
	font-size: 1.4em;
	text-shadow: 0px 0px 3px white;
}

#feedback{
	padding: 0px;
	margin: 0px;
	margin-top: 4%;
	text-align: center;
}

#feedback label{
	font-size: 18px;
	color: white;
	text-align: center;
	text-shadow: 1px 1px 1px black;
}

#feedback p{
	color: black;
	text-shadow: 0px 0px 3px white;
}

.fio{
	height: 28px;
	width: 300px;
	padding: 5px;
	margin: 10px 30px 0 0;
	font-size: 16px;
	color: black;
	background: white;
	border: none;
	box-shadow: 0 0 3px black;
}

.phone{
	height: 28px;
	width: 300px;
	padding: 5px;
	margin: 10px 30px 0 65px;
	font-size: 16px;
	color: black;
	background: white;
	border: none;
	box-shadow: 0 0 3px black;
}

.email{
	height: 28px;
	width: 300px;
	padding: 5px;
	margin: 10px 30px 0 89px;
	font-size: 16px;
	color: black;
	background: white;
	border: none;
	box-shadow: 0 0 3px black;
}

.city{
	height: 28px;
	width: 300px;
	padding: 5px;
	margin: 10px 30px 0 90px;
	font-size: 16px;
	color: black;
	background: white;
	border: none;
	box-shadow: 0 0 3px black;
}

.submit{
	height: 28px;
	width: 200px;
	font-size: 16px;
	color: black;
	background: darkorange;
	border: 3px solid orange;
	border-radius: 15px;
}

.submit:hover{
	height: 28px;
	width: 200px;
	font-size: 16px;
	color: black;
	text-shadow: 1px 1px 1px black;
	background: orange;
	border: 3px ridge darkorange;
	border-radius: 15px;
	box-shadow: 0 0 10px aqua;
}

footer{
	padding: 0px;
	margin: 2px;
	font-size: 12px;
	line-height: 1.1em;
}

footer a{
	color: black;
	text-shadow: 1px 1px 1px lightgrey;
}

footer p{
	color: black;
	padding: 5px;
	text-shadow: 0 0 1px white;
}

#comments textarea{
	float: right;
	padding: 5px;
	margin: -80px 180px 0 0;
	border-style: solid;
	box-shadow: 0 0 10px black;
}

#comments p{
	float: right;
	padding: 5px;
	margin: -49px -650px 0 0px;
}

/*------------------------------------*\
    НАВИГАЦИЯ
\*------------------------------------*/
.nav{
    font-size: 12px;
    float:left;
    text-align: center;
    list-style:none;
    font-weight:bold;
    padding: 3px;
    margin-top: -100px;
    margin-left: 20%;
    margin-right: 1%;
    /*position: fixed;*/
}
.nav li{
    float:left;
    margin-right:10px;
    position:relative;
    display:block;
}
.nav li a{
    display:block;
    color:white;
    background:rgba(0, 0, 0, 0.0)/*(82, 122, 122, 0.70)*/;
    text-decoration:none;
    text-shadow:0px 0px 1px black;/*rgba(0,0,0,0.50); /* Тень текста, чтобы приподнять его на немного */
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-style: solid;
    border-width: 0;
    border-radius: 5px;
    /*box-shadow: 0 0 3px black;*/
    padding: 0.40em;
}
.nav li a:hover{
    color:orange;
    text-decoration:underline;
}
.nav li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
    background:rgba(0, 0, 0, 0.0)/*(133, 173, 173, 0.70)*/; /* Выглядит полупрозрачным */
    text-decoration:none;
    border-radius: 5px;
    /*box-shadow: 0px 0px 3px aqua;*/
    border-color: white;
    border-style: solid;
    -moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
}
.nav li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
    text-decoration:none;
    -webkit-transition:-webkit-transform 0.075s linear;
}
.nav li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
    background:rgba(255, 255, 204, 0.70);/* Будет полупрозрачным */
    text-decoration:underline;
    -moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
}
/*Конец верхнего меню*/
