/*
	RabbitWeb.ru for Efimov RS
								*/
/*
			BACK-UP
							*/
#back .left img{
	position: fixed;
	float: left;
	margin:0 auto 0 auto;
	left: 0;
	bottom: 40px;
	width: auto;
	max-width: 50px;
	margin: 10px;
}

#back .left:hover img{ 
	-moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
}

#back .right img{
	position: fixed;
	float: right;
	margin:0 auto 0 auto;
	right: 0;
	bottom: 40px;
	width: auto;
	max-width: 50px;
	margin: 10px;
}

#back .right:hover img{ 
	-moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
}
/*end back-up*/

/*
		Services-TABLE
							*/

#module h1{
	text-align: center;
	font-size: 1.6em;
	color: black;
	margin-top: 18%;
	padding: 10px 10px 0 10px;
	text-shadow: 1px 1px 1px grey;
	border: none;
}

#module p{
	text-align: center;
	color: black;
	font-size: 14px;
	text-shadow: 1px 1px 1px grey;
}

#module a{
	color: lightblue;
	font-size: 16px;
	text-shadow: 1px 1px 1px black;
}

#module li{
	color: black;
	text-shadow: 1px 1px 1px grey;
	font-size: 14px;
}

#module div{
	background-color: rgba(0, 0, 0, 0.15);
	color: black;
	text-shadow: 1px 1px 1px grey;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	height: auto;
	width: auto;
}

#module .basic-table{
	color: black;
	text-shadow: 1px 1px 1px grey;
	padding: 5px;
	margin: 0 auto 10px auto;
	border-collapse: collapse;
	box-shadow: 0 0 3px black;
}

#module .basic-table tr{
	border: 1px solid black;
}

#module .basic-table td{
	border: 1px solid black;
	padding: 5px;
}

#module .basic-table h3{
	color: lightblue;
	text-shadow: 1px 1px 1px black;
}

#module .basic-table b{
	color: orange;
	font-size: 16px;
}

#module .others-table{
	color: black;
	text-shadow: 1px 1px 1px grey;
	padding: 5px;
	margin: 0 auto 10px auto;
	border-collapse: collapse;
	box-shadow: 0 0 3px black;
}

#module .others-table tr{
	border: 1px solid black;
}

#module .others-table td{
	border: 1px solid black;
	padding: 5px;
}

#module .others-table h3{
	color: lightblue;
	text-shadow: 1px 1px 1px black;
}

#module .others-table b{
	color: orange;
	font-size: 16px;
}

#module .magazyn-table{
	color: black;
	text-shadow: 1px 1px 1px grey;
	padding: 5px;
	margin: 0 auto 10px auto;
	border-collapse: collapse;
	box-shadow: 0 0 3px black;
}

#module .magazyn-table tr{
	border: 1px solid black;
}

#module .magazyn-table td{
	border: 1px solid black;
	padding: 5px;
}

#module .magazyn-table h3{
	color: lightblue;
	text-shadow: 1px 1px 1px black;
}

#module .magazyn-table b{
	color: orange;
	font-size: 16px;
}

#module .landing-table{
	color: black;
	text-shadow: 1px 1px 1px grey;
	padding: 5px;
	margin: 0 auto 10px auto;
	border-collapse: collapse;
	box-shadow: 0 0 3px black;
}

#module .landing-table tr{
	border: 1px solid black;
}

#module .landing-table td{
	border: 1px solid black;
	padding: 5px;
}

#module .landing-table h3{
	color: lightblue;
	text-shadow: 1px 1px 1px black;
}

#module .landing-table b{
	color: orange;
	font-size: 18px;
}

#module img{
	width: auto;
	max-width: 40px;
}

#admin{
	margin: 5% auto 0 auto;
	padding: 0px;
	border: none;
}

#admin h2{
	font-size: 1.6em;
	text-shadow: 0 0 3px white;
	color: black;
}

#admin div{
	background-color: rgba(0, 0, 0, 0.0);
	color: black;
	font-size: 12px;
	line-height: 1.2em;
	text-shadow: 1px 1px 1px grey;
	padding: 8px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	height: auto;
	max-height: 400px;
	width: auto;
	max-width: 1100px;
}

#admin p, li{
	color: black;
	text-shadow: 1px 1px 1px grey;
	font-size: 1.2em; 
	line-height: 1.2em;
}

#admin img{
	float: left;
}
/*end Services*/

/*
	Design portfolio
						*/
#portfolio-design{
	margin: 4% auto 0 auto;
	padding: 3%;
	border: none;
}

#portfolio-design h1{
	text-align: center;
	text-shadow: 0 0 3px white;
	color: black;
}

#portfolio-design h3{
	text-align: left;
	font-size: 1.6em;
	text-shadow: 0 0 3px white;
	color: black;
}

#portfolio-design div{
	background-color: rgba(0, 0, 0, 0.0);
	color: black;
	font-size: 12px;
	line-height: 1.2em;
	text-shadow: 1px 1px 1px grey;
	padding: 10px;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	border: none;
	width: auto;
	max-width: 1100px;
}

#portfolio-design p, li{
    list-style-type:none;
	color: black;
	text-shadow: 1px 1px 1px grey;
	font-size: 1.2em; 
	line-height: 1.2em;
}

#portfolio-design img{
	float: left;
	width: auto;
	max-width: 300px;
}

#portfolio li:hover a img{
	float: left;
	width: auto;
	max-width: 280px;
	padding: 10px;
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
}
/*End Design*/

/*SEO*/
#seo-basic p{
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	width: auto;
	max-width: 920px;
	line-height: 1.2em;
	color: black;
	text-align: center;
	text-shadow: 1px 1px 3px grey;
}


#seo-basic h1{
	text-align: center;
	margin-top: 10%;
	padding: 5% 10px 0 10px;
	text-shadow: 1px 1px 1px grey;
	color: black;
}

#seo-basic h4{
	text-align: center;
	padding: 5px 10px 0 10px;
	text-shadow: 1px 1px 1px grey;
	color: black;
}

#seo-basic ul{
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	max-width: 850px;
	line-height: 1.3em;
}

#seo-basic li{
    list-style-type:none;
	color: black;
	margin-left: 0%;
	margin-right: 0%;
	text-shadow: 1px 1px 1px grey;
}

#seo-basic h2{
	color: orange;
	text-shadow: 1px 1px 1px grey;
}

#seo-basic .seo-dev{
	width: auto;
	margin-left: 2%;
}

#seo-basic .grafic{
	width: auto;
	margin-left: 15%;
	margin-right: auto;
}

/*
        END SEO
                        */
                        
/*
		SEO-TABLE
						*/

#seo-table h1{
	text-align: center;
	color: black;
	padding: 20px 10px 0 10px;
	text-shadow: 1px 1px 1px grey;
	border: none;
}

#seo-table p{
	text-align: center;
	color: white;
	font-size: 14px;
	text-shadow: 1px 1px 1px grey;
}

#seo-table a{
	color: lightblue;
	font-size: 21px;
	text-shadow: 1px 1px 1px grey;
}

#seo-table li{
	color: white;
	text-shadow: 1px 1px 1px grey;
	font-size: 14px;
}

#seo-table div{
	background-color: rgba(0, 0, 0, 0.1);
	color: black;
	text-shadow: 1px 1px 1px grey;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	height: auto;
	width: auto;
}

.field{
	margin: 10px;
}

#seo-table .seo-table{
	color: black;
	text-shadow: 1px 1px 1px grey;
	padding: 5px;
	margin: 0 auto 0 auto;
	border-collapse: collapse;
	box-shadow: 0 0 3px black;
}

#seo-table .seo-table tr{
	border: 1px solid white;
}

#seo-table .seo-table td{
	border: 1px solid black;
	padding: 5px;
}

#seo-table .seo-table h3{
	color: lightblue;
}

#seo-table .seo-table b{
	color: orange;
	font-size: 16px;
	text-shadow: 1px 1px 1px black;
}

/*
		SEO fadeBack
							*/
#seo-basic h2{
	background: url(../_images/open.png) no-repeat 0 11px;
	padding: 10px 0 0 25px;
	cursor: pointer;
	color: lightblue;
}

#seo-basic img{
	width: 40px;
}

#seo-basic h2.close {
	background-image: url(../_images/close.png);
}
.answer {
	margin-left: 25px;
	font-size: 14px;
}
/*CLOSE fadeBack SEO*/