html, body{
	background: rgba(82, 122, 122, 0.70) url(../images/fon1900x3711.png);
	background-repeat: no-repeat;
	background-position: ;
	height: auto;
	width: 1900px;
	font-family: Arial;
	line-height: 1.2em;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 1px 1px 1px black;
}

#allcontent{
	padding-top: 5px;
	padding-bottom: 5px;
}

#basic{
	border: none;
	padding: 5px;
}

#basic div{
	background-color: rgba(82, 122, 122, 0.70);
	text-shadow: 1px 1px 1px grey;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	border-radius: 10px;
	box-shadow: 1px 1px 10px grey;
	height: 600px;
	width: 1200px;
}

#basic h3, p{
	color: white;
	text-shadow: 1px 1px 1px black;
}

#workingOut{
	border: none;
	margin: 13% 0 21% 0;
	padding: 20px;
	width: 1900px;
	height: auto;
	color: black;

}

#workingOut h1{
	text-align: center;
	margin-left: -4%;
	font-size: 1.3em;
	color: black;
	text-shadow: 1px 1px 1px grey;
}

#workingOut h2{
	text-align: center;
	font-size: 1.0em;
	color: white;
	text-shadow: 1px 1px 3px black;
}

#visiting{
	background: rgba(82, 122, 122, 0.70);
	line-height: 1.0em;
	border: none;
	height: 100px;
	width: 300px;
	float: left;
	margin: 10px 1% 0 3%;
	box-shadow: 1px 1px 3px black;
	border-radius: 10px;
}

#visiting div{
	display: none;
}

#visiting:hover{
	background: rgba(133, 173, 173, 0.70);
	border: none;
	line-height: 1.0em;
	height: 100px;
	width: 300px;
	float: left;
	margin: 10px 1% 0 3%;
	box-shadow: 0 0 10px blue;
	border-radius: 10px;
}

#visiting:hover div{
	background: rgb(133, 173, 173);
	text-align: left;
	font-size: 12px;
	line-height: 1.2em;
	display: block;
	border: none;
	height: 200px;
	width: 500px;
	float: left;
	margin: 0px 1% 0 1%;
	box-shadow: 0 0 10px blue;
	border-radius: 10px;
	-moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
}

#visiting:hover div b{
	font-size: 1.3em;
}

#landing{
	background: rgba(82, 122, 122, 0.70);
	border: none;
	height: 100px;
	width: 300px;
	float: left;
	margin: 10px 1% 0 1%;
	box-shadow: 1px 1px 3px black;
	border-radius: 10px;
}

#landing div{
	display: none;
}

#landing:hover{
	background: rgba(133, 173, 173, 0.70);
	border: none;
	height: 100px;
	width: 300px;
	float: left;
	margin: 10px 1% 0 1%;
	box-shadow: 0 0 10px blue;
	border-radius: 10px;
}

#landing:hover div{
	background: rgb(133, 173, 173);
	text-align: left;
	font-size: 12px;
	line-height: 1.2em;
	display: block;
	border: none;
	height: 300px;
	width: 500px;
	float: left;
	margin: 10px 1% 0 1%;
	box-shadow: 0 0 10px blue;
	border-radius: 10px;
	-moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
}

#landing:hover div b{
	font-size: 1.3em;
}

#company{
	background: rgba(82, 122, 122, 0.70);
	border: none;
	height: 100px;
	width: 300px;
	float: left;
	margin: 10px 1% 0 1%;
	box-shadow: 1px 1px 3px black;
	border-radius: 10px;
}

#company div{
	display: none;
}

#company:hover{
	background: rgba(133, 173, 173, 0.70);
	border: none;
	height: 100px;
	width: 300px;
	float: left;
	margin: 10px 1% 0 1%;
	box-shadow: 0 0 10px blue;
	border-radius: 10px;
}

#company:hover div{
	background: rgb(133, 173, 173);
	text-align: left;
	font-size: 12px;
	line-height: 1.2em;
	display: block;
	border: none;
	height: 200px;
	width: 500px;
	float: right;
	margin: 10px 1% 0 1%;
	box-shadow: 0 0 10px blue;
	border-radius: 10px;
	-moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
}

#company:hover div b{
	font-size: 1.3em;
}

#magazyn{
	background: rgba(82, 122, 122, 0.70);
	border: none;
	height: 100px;
	width: 300px;
	float: left;
	margin: 10px 2% 0 1%;
	box-shadow: 1px 1px 3px black;
	border-radius: 10px;
}

#magazyn div{
	display: none;
}

#magazyn:hover{
	background: rgba(133, 173, 173, 0.70);
	border: none;
	height: 100px;
	width: 300px;
	float: left;
	margin: 10px 2% 0 1%;
	box-shadow: 0 0 10px blue;
	border-radius: 10px;
}

#magazyn:hover div{
	background: rgb(133, 173, 173);
	text-align: left;
	font-size: 12px;
	line-height: 1.2em;
	display: block;
	border: none;
	height: 200px;
	width: 500px;
	float: right;
	margin: 10px 2% 0 1%;
	box-shadow: 0 0 10px blue;
	border-radius: 10px;
	-moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
}

#magazyn:hover div b{
	font-size: 1.3em;
}

#adaptiv{
	float: left;
	background: rgba(82, 122, 122, 0.70);
	border: none;
	margin: 2% 5% 0 5%;
	padding: 5px;
	box-shadow: 2px 1px 3px black;
	border-radius: 10px;
}

#adaptiv h2{
	color:white;
	font-size: 1.0em;
	text-shadow: 1px 1px 3px black;
}

#others{
	border: none;
	margin-top: 0%;
	margin-bottom: 0%;
}

#design{
	padding: 0px;
	border: none;
}

#design h2{
	text-align: center;
	font-size: 1.2em;
	border: none;
}

#design p, li{
	color: white;
	text-shadow: 1px 1px 3px black;
}

#design div{
	background-color: rgba(82, 122, 122, 0.70);
	color: black;
	text-shadow: 1px 1px 1px grey;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	border-radius: 10px;
	box-shadow: 1px 1px 10px grey;
	height: 230px;
	width: 500px;
}

#seo{
	height: 500px;
	margin-left: 10%;
	margin-right: 10%;
	padding: 5px;
	border: none;
}

#seo h2{
	margin-left: 0%;
	font-size: 1.2em;
}

#seo div{
	margin-left: 10px;
	float: left;
	background-color: rgba(82, 122, 122, 0.70);
	padding: 10px;
	border: none;
	border-radius: 10px;
	box-shadow: 1px 1px 10px grey;
	height: 400px;
	width: 200px;
}

#seo h3{
	color: white;
	font-size: 1.0em;
	text-shadow: 1px 1px 3px black;
}

#seo p{
	line-height: 1.0em;
	color: white;
	text-shadow: 1px 1px 3px black;
	
}

#services{
	margin: 0% auto 0 auto;
	padding: 5px;
	border: none;
}

#services h2{
	font-size: 1.1em;
	color: black;
}

#services div{
	background-color: rgba(82, 122, 122, 0.70);
	color: black;
	text-shadow: 1px 1px 1px grey;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	border-radius: 10px;
	box-shadow: 1px 1px 10px grey;
	height: 400px;
	width: 800px;
}

#regform{
	width: 800px;
	height: 200px;
	box-shadow: 1px 1px 10px grey;
	border-radius: 10px;
	background: rgb(82, 122, 122);
	padding: 5px;
	margin: 10px auto 0 auto;
}

#regform h2{
	color: black;
	font-size: 1.1em;
	text-shadow: 1px 1px 1px white;
}

#feedback{
	padding: 0px;
	margin: 0px;
	margin-top: 2%;
	text-align: center;
}

#feedback label{
	font-size: 20px;
	color: white;
	text-align: center;
	text-shadow: 1px 1px 1px black;
}

#feedback p{
	color: black;
	text-shadow: 1px 1px 1px white;
}

.forminput{
	height: 28px;
	width: 200px;
	font-size: 16px;
	color: black;
	background: white;
	border-width: 0;
	border-style: ridge;
	border-color: lightblue;
	box-shadow: 0 0 1px black;
}

.submit{
	height: 28px;
	width: 200px;
	font-size: 16px;
	color: black;
	background: darkorange;
	border: 3px solid orange;
	border-radius: 15px;
}

.submit:hover{
	height: 28px;
	width: 200px;
	font-size: 16px;
	color: black;
	background: orange;
	border: 3px ridge darkorange;
	border-radius: 15px;
	box-shadow: 0 0 10px aqua;
}
