/*RabbitWeb.ru for Efimov RS*/
@font-face{
	font-family: Pangolin-Regular;
	font-family: Neucha;
	font-family: Comfortaa-Regular;
	font-family: KellySlab-Regular;
	src: url(./fonts/Pangolin-Regular.ttf);
	src: url(./fonts/Neucha.ttf);
	src: url(../fonts/Comfortaa-Regular.ttf);
	src: url(../fonts/KellySlab-Regular.ttf);
}

html, body{
	background: white;
}

body{
	background: url(../images/1900x3859.png);
	box-shadow: 0 0 10px black;
	font-family: Neucha;
	background-repeat: no-repeat;
	height: auto;
	width: 1900px;
	font-family: Arial;
	line-height: 1.2em;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 0px 0px 1px black;
}

header{
	background-image: url(../images/logo1.png);
	background-repeat: no-repeat;
	background-size: 150px 90px;
	height: 130px;
	width: 1900px;
}

header h1{
	margin-left: 6px; 
}

table{
	padding: 10px;
}
td{
	padding-right: 7px;
	font-size: 0.9em;
}

#contacts{
	float: right;
	list-style-type: none; 
	font-size: 11px; 
	font-family: cursive;
	margin-right: 1%;
	margin-top: -3%;
}

#contacts li{
	padding: 5px;
	color: lightgrey;
	text-shadow: 1px 1px 1px black;
}

#contacts li img{
	height: 15px;
	width: auto;
}

#social{
	float: right;
	list-style-type: none; 
	font-size: 11px; 
	font-family: cursive;
	padding: 0;
	margin-right: 1%;
	margin-top: -1%;
}

#social li{
	float: right;
	padding: 0 5px 0 0;
	color: lightgrey;
	text-shadow: 1px 1px 1px black;
}

#social li img{
	height: 35px;
	width: auto;
}

li b{
	font-size: 14px
}

h1{
	color: black;
	text-align: left;
	text-shadow: 1px 1px 1px lightgrey;
	padding: 38px 0 0 2px;
}

h2, h3{
	text-align: center;
	color: white;
	text-shadow: 1px 1px 1px grey;
}

h4{
	text-align: left;
}

p{
	padding-left: 20px;
	padding-right: 20px;
	color: black;
}

li{
	list-style-type: none;
}

#allcontent{
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#basic{
	margin-top: -5px;
	border: none;
	padding: 5px;
}

#basic div{
	background-color: rgba(0, 0, 0, 0.0);
	text-shadow: 1px 1px 1px grey;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	height: 642px;
	width: 1300px;
}

#basic h1{
	text-align: center;
	font-size: 4.3em;
	color: #99ceff;
	text-shadow: 1px 1px 1px white;
	margin-top: 150px;
	padding: 5px;
}

#basic h1 span{
	color: #ffad33;
}

#basic h2{
	font-size: 1.7em;
	color: #ccffff;
	text-shadow: 1px 1px 1px grey;
	line-height: 1.2em;
	margin-top: 30px;
	padding: 5px;
}

#basic h2 span{
	color: #ffcc80;
}

#basic h3{
	color: white;
	font-size: 1.1em;
	line-height: 1.1em;
	text-shadow: 1px 1px 1px grey;
}

#basic p{
	text-align: center;
	color: white;
	line-height: 1.3em;
	text-shadow: 1px 1px 1px grey;
}

header, #basic{
	background-color: rgba(0, 0, 0,0.65);
}

#workingOut{
	border: none;
	padding: 60px;
	width: 1900px;
}

#workingOut h1{
	text-align: center;
	font-size: 1.6em;
	margin-left: -6%;
	color: black;
	text-shadow: 0px 0px 3px white;
}

#workingOut h2{
	text-align: center;
	font-size: 14px;
	color: black;
	text-shadow: 0px 0px 3px white;
}

#visiting{
	background: rgba(0, 0, 0, 0.0);
	border: none;
	height: 130px;
	width: 200px;
	float: left;
	margin: 10px 1% 0 7%;
	box-shadow: 0px 0px 1px black;
	border-radius: 0px;
}

#visiting div{
	display: none;
}

#visiting p{
	color: black;
	text-shadow: 0 0 3px white;
}

#visiting:hover{
	background: rgba(214, 214, 194, 0.30);
	border: none;
	height: 130px;
	width: 200px;
	float: left;
	margin: 10px 1% 0 7%;
	box-shadow: 0 0 10px black;
	border-radius: 0px;
	-moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
}

#visiting:hover div{
	background: rgba(242, 242, 242, 0.90);
	text-align: left;
	font-size: 12px;
	line-height: 1.3em;
	display: block;
	border: none;
	height: auto;
	width: 500px;
	float: left;
	margin: 0 1% 0 1%;
	box-shadow: 0 0 10px black;
	-moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
}

#visiting:hover div b{
	font-size: 1.3em;
}

#visiting:hover div a{
	color: lightblue;
	text-shadow: 1px 1px 1px black;
}

#visiting table{
	padding: 5px;
	margin: 0 auto 0 auto;
}

#visiting td{
	padding: 0px;
	text-shadow: 1px 1px 1px lightgrey;
	border-collapse: collapse;
}

#visiting img{
	width: 10px;
}

#visiting b{
	color: orange;
	text-shadow: 1px 1px 1px black;
}

#landing{
	background: rgba(0, 0, 0, 0.0)/*(82, 122, 122, 0.70)*/;
	border: none;
	height: 130px;
	width: 200px;
	float: left;
	margin: 10px 1% 0 5%;
	box-shadow: 0px 0px 1px black;
}

#landing p{
	color: black;
	text-shadow: 0 0 1px white;
}
#landing div{
	display: none;
}

#landing:hover{
	background: rgba(214, 214, 194, 0.30)/*rgba(133, 173, 173, 0.70)*/;
	border: none;
	height: 130px;
	width: 200px;
	float: left;
	margin: 10px 1% 0 5%;
	box-shadow: 0 0 10px black;
	-moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
}

#landing:hover div{
	background: rgba(242, 242, 242, 0.90)/*rgb(133, 173, 173)*/;
	text-align: left;
	font-size: 12px;
	line-height: 1.2em;
	display: block;
	border: none;
	height: auto;
	width: 500px;
	float: left;
	margin: 10px 1% 0 1%;
	box-shadow: 0 0 10px black;
	-moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
}

#landing:hover div p{
	color: black;
	text-shadow: 1px 1px 3px white;
}

#landing:hover div li{
	color: black;
	text-shadow: 0 0 0 grey;
	font-size: 1.0em;
}

#landing:hover div b{
	font-size: 1.3em;
}

#landing:hover div a{
	color: lightblue;
	text-shadow: 1px 1px 1px black;
}

#landing table{
	padding: 5px;
	margin: 0 auto 0 auto;
}

#landing td{
	padding: 0px;
	text-shadow: 1px 1px 1px lightgrey;
	border-collapse: collapse;
}

#landing img{
	width: 10px;
}

#landing b{
	color: orange;
	text-shadow: 1px 1px 1px black;
}

#company{
	background: rgba(0, 0, 0, 0.0)/*(82, 122, 122, 0.70)*/;
	border: none;
	height: 130px;
	width: 200px;
	float: left;
	margin: 10px 1% 0 5%;
	box-shadow: 0px 0px 1px black;
	border-radius: 0px;
}

#company div{
	display: none;
}

#company p{
	color: black;
	text-shadow: 0 0 1px white;
}

#company:hover{
	background: rgba(214, 214, 194, 0.30)/*rgba(133, 173, 173, 0.70)*/;
	border: none;
	height: 130px;
	width: 200px;
	float: left;
	margin: 10px 1% 0 5%;
	box-shadow: 0 0 10px black;
	-moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
}

#company:hover div{
	background: rgba(242, 242, 242, 0.90)/*rgb(133, 173, 173)*/;
	text-align: left;
	font-size: 12px;
	line-height: 1.3em;
	display: block;
	border: none;
	height: auto;
	width: 470px;
	float: right;
	margin: 10px 1% 0 1%;
	box-shadow: 0 0 10px black;
	-moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
}

#company:hover div b{
	font-size: 1.3em;
}

#company:hover div a{
	color: lightblue;
	text-shadow: 1px 1px 1px black;
}

#company table{
	padding: 5px;
	margin: 0 auto 0 auto;
}

#company td{
	padding: 0px;
	text-shadow: 1px 1px 1px lightgrey;
	border-collapse: collapse;
}

#company img{
	width: 10px;
}

#company b{
	color: orange;
	text-shadow: 1px 1px 1px black;
}
/*END COMPANY*/

/*MAGAZYN START*/
#magazyn{
	background: rgba(0, 0, 0, 0.0);
	border: none;
	height: 130px;
	width: 200px;
	float: left;
	margin: 10px 5% 0 5%;
	box-shadow: 0px 0px 1px black;
	border-radius: 0px;
}

#magazyn div{
	display: none;
}

#magazyn p{
	color: black;
	text-shadow: 0 0 1px white;
}

#magazyn:hover{
	background: rgba(214, 214, 194, 0.30);
	border: none;
	height: 130px;
	width: 200px;
	float: left;
	margin: 10px 5% 0 5%;
	box-shadow: 0 0 10px black;
	border-radius: 0px;
	-moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
}

#magazyn:hover div{
	background: rgba(242, 242, 242, 0.90);
	text-align: left;
	font-size: 12px;
	line-height: 1.2em;
	display: block;
	border: none;
	height: auto;
	width: 500px;
	float: right;
	margin: 10px 2% 0 1%;
	box-shadow: 0 0 10px black;
	-moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
}

#magazyn:hover div b{
	font-size: 1.3em;
}

#magazyn:hover div a{
	color: lightblue;
	text-shadow: 1px 1px 1px black;
}

#magazyn table{
	padding: 5px;
	margin: 0 auto 0 auto;
}

#magazyn td{
	padding: 0px;
	text-shadow: 1px 1px 1px lightgrey;
	border-collapse: collapse;
}

#magazyn img{
	width: 10px;
}

#magazyn b{
	color: orange;
	text-shadow: 1px 1px 1px black;
}
/*END MAGAZYN*/

/*START ADAPTIV*/
#adaptiv{
	float: left;
	background: rgba(255, 255, 255, 0.70);
	border: none;
	margin: 3% 1% 0 5%;
	padding: 5px;
	box-shadow: 0px 0px 5px black;
	border-radius: 20px;
}

#adaptiv h2{
	color:black;
	text-shadow: 1px 1px 3px white;
}

#others{
	background-color: rgba(0, 0, 0,0.75);
	height: 1213px;
	border: none;
	margin-top: 15.4%;
	margin-bottom: 0%;
}

#design h1{
	text-align: center;
	font-size: 1.6em;
	color: white;
	padding: 7% 10px 0 10px;
	text-shadow: 1px 1px 1px grey;
	border: none;
}

#design p{
	text-align: center;
	color: white;
	font-size: 14px;
	text-shadow: 1px 1px 1px grey;
}

#design a{
	color: lightblue;
	font-size: 18px;
	text-shadow: 1px 1px 1px grey;
}

#design li{
	color: white;
	text-shadow: 1px 1px 1px grey;
	font-size: 14px;
}

#design div{
	background-color: rgba(0, 0, 0, 0.0);
	color: black;
	text-shadow: 1px 1px 1px grey;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	height: 350px;
	width: 1200px;
}

#design img{
	width: 40px;
}
/*END DESIGN*/

/*SEO*/
#dev-basic p{
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	width: 920px;
	font-size: 14px;
	line-height: 1.2em;
	color: white;
	text-align: center;
	text-shadow: 1px 1px 3px grey;
}


#dev-basic{
	text-align: center;
	padding: 21% 10px 0 10px;
	font-size: 1.1em;
	text-shadow: 1px 1px 1px grey;
	color: white;
}

#dev-basic h4{
	text-align: center;
	padding: 5px 10px 0 10px;
	text-shadow: 1px 1px 1px grey;
	color: white;
}

#dev-basic ul{
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 850px;
	line-height: 1.3em;
}

#dev-basic li{
	color: white;
	margin-left: 0%;
	margin-right: 0%;
	text-shadow: 1px 1px 1px black;
	font-size: 13px;
}

#dev-basic h2{
	color: lightblue;
	font-size: 18px;
	text-shadow: 1px 1px 1px grey;
}

#dev-basic img.htmlCss{
	width: 150px;
	padding: 5px 5px 5px 10px;
	margin-left: auto;
}
#dev-basic img.javaScript{
	width: 90px;
	padding: 5px;
}
#dev-basic img.pHp{
	width: 120px;
	padding: 5px;
}
#dev-basic img.jQuery{
	width: 80px;
	padding: 5px;
}
#dev-basic img.Ajax{
	width: 150px;
	padding: 5px;
}
#dev-basic img.Bootstrap{
	width:90px;
	padding: 5px;
}
#dev-basic img.Photoshop{
	width: 70px;
	padding: 5px 10px 5px 5px;
	margin-right: auto;
}

#seo div{
	margin-left: 12%;
	float: left;
	background-color: rgba(242,242,242,0.00);
	padding: 5px;
	margin-right: auto;
	border: none;
	height: 60px;
	width: 160px;
}

#seo div:hover{
	margin-left: 12%;
	float: left;
	background-color: rgba(0, 0, 0, 0.00);
	padding: 5px;
	margin-right: auto;
	border:none;
	height: 60px;
	width: 160px;
}

#seo div:hover h3{
	color: grey;
	text-shadow: 1px 1px 1px black;
}

.seoblocklef, .seoblockrig{
	display: none;
}

#seo div:hover .seoblocklef{
	display: block;
	float: left;
	background-color: rgba(242, 242, 242, 0.90);
	height: 250px;
	width: 500px;
	padding: 5px;
	border: none;
	box-shadow: 0 0 10px grey;
	color: white;
	text-shadow: 1px 1px 1px grey;
	-moz-transform:scale(1.03);
    -webkit-transform:scale(1.03);
}

#seo div:hover .seoblockrig{
	display: block;
	float: right;
	background-color: rgba(242, 242, 242, 0.90);
	height: 250px;
	width: 500px;
	padding: 5px;
	border: none;
	box-shadow: 0 0 10px grey;
	color: white;
	text-shadow: 1px 1px 1px grey;
	-moz-transform:scale(0.98);
    -webkit-transform:scale(0.98);
}

#seo h3{
	color: white;
	font-size: 1.0em;
	text-shadow: 0px 0px 10px grey;
}

#seo p{
	font-size: 12px;
	line-height: 1.2em;
	color: black;
	text-shadow: 1px 1px 3px grey;
	
}

#services{
	margin: 0% auto 0 auto;
	padding: 0px;
	border: none;
}

#seo li{
	font-size: 12px;
	line-height: 1.2em;
	color: black;
	text-shadow: 1px 1px 3px grey;
}
/*END SEO*/

/*SERVICES*/
#services{
	margin: 0% auto 0 auto;
	padding: 0px;
	border: none;
}

#services h2{
	font-size: 1.6em;
	text-shadow: 0 0 3px white;
	color: black;
}

#services div{
	background-color: rgba(0, 0, 0, 0.0);
	color: black;
	font-size: 12px;
	line-height: 1.2em;
	text-shadow: 1px 1px 1px grey;
	padding: 8px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	height: 448px;
	width: 1200px;
}

#services div{
	background-image: url(../images/services-web-design.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 280px 280px;
}

#services p, li{
	color: black;
	text-shadow: 0 0 1px white;
	font-size: 1.2em; 
	line-height: 1.2em;
}
/*END SERVICES*/

/*REGFORM*/
#regform{
	width: 1900px;
	padding-top: 5px;
	margin: 0 auto 0 auto;
}

#regform h2{
	color: orange;
	font-size: 1.4em;
	text-shadow: 1px 1px 1px grey;
}

#feedback{
	padding: 0px;
	margin: 0px;
	margin-top: 0%;
	text-align: center;
}

#feedback label{
	margin-right: 30px;
	font-size: 18px;
	color: white;
	text-align: center;
	text-shadow: 1px 1px 1px grey;
}

#feedback p{
	color: white;
	text-shadow: 1px 1px 1px grey;
}

#fio{
	height: 28px;
	width: 300px;
	padding: 5px;
	margin: 10px 30px 0 83px;
	font-size: 16px;
	color: black;
	background: white;
	border: none;
	box-shadow: 0 0 3px black;
	-moz-transform:scale(1);
    -webkit-transform:scale(1);
}

#phone{
	height: 28px;
	width: 300px;
	padding: 5px;
	margin: 10px 30px 0 65px;
	font-size: 16px;
	color: black;
	background: white;
	border: none;
	box-shadow: 0 0 3px black;
	-moz-transform:scale(1);
    -webkit-transform:scale(1);
}

#email{
	height: 28px;
	width: 300px;
	padding: 5px;
	margin: 10px 30px 0 88px;
	font-size: 16px;
	color: black;
	background: white;
	border: none;
	box-shadow: 0 0 3px black;
	-moz-transform:scale(1);
    -webkit-transform:scale(1);
}

#city{
	height: 28px;
	width: 300px;
	padding: 5px;
	margin: 10px 30px 0 90px;
	font-size: 16px;
	color: black;
	background: white;
	border: none;
	box-shadow: 0 0 3px black;
	-moz-transform:scale(1);
    -webkit-transform:scale(1);
}

.submit{
	height: 28px;
	width: 200px;
	font-size: 16px;
	color: black;
	background: darkorange;
	border: 1px solid orange;
	box-shadow: 1px 1px 1px black;
}

.submit:hover{
	height: 28px;
	width: 200px;
	font-size: 16px;
	color: black;
	text-shadow: 1px 1px 0px grey;
	background: orange;
	border: 1px inset darkorange;
	box-shadow: 0 0 10px white;
}

footer{
	padding: 0px;
	margin: -17px auto 0 auto;
	font-size: 12px;
	line-height: 1.1em;
}

footer p{
	color: white;
	margin-top: 10px;
	padding: 5px;
	text-shadow: 1px 1px 1px grey;
}

#bottom{
	list-style-type: none;
	padding-top: 120px;
}

#bottom a{
	color: white;
	text-shadow: 1px 1px 1px grey;
	font-size: 12px;
	font-style: bold;
}

#regform, footer{
	background-color: rgba(0, 0, 0, 0.65);
	width: 1900px;
	height: 255px;
}

#comments textarea{
	float: right;
	padding: 5px;
	margin: -80px 180px 0 0;
	border-style: solid;
	box-shadow: 0 0 10px black;
}

#comments p{
	float: right;
	padding: 5px;
	margin: -49px -650px 0 0px;
}

/*------------------------------------*\
    НАВИГАЦИЯ
\*------------------------------------*/
.nav{
    float:left;
    text-align: center;
    list-style:none;
    font-weight:bold;
    padding: 3px;
    margin-top: -30px;
    margin-left: 28%;
    margin-right: auto;
}

.nav li{
    float:left;
    margin-right:10px;
    position:relative;
    display:block;
}

.nav li a{
	font-size: 14px;
    display:block;
    color:white;
    background:rgba(0, 0, 0, 0.0);
    text-decoration:none;
    text-shadow:0px 0px 1px black; /* Тень текста, чтобы приподнять его на немного */
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-style: solid;
    border-width: 0;
    border-radius: 0;
    padding: 5px;
}

.nav li a:hover{
    color:#99ceff;
    text-decoration:underline;
}

.nav li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
    background:rgba(0, 0, 0, 0.0); /* Выглядит полупрозрачным */
    text-decoration:none;
    border-radius: 0px;
    border-color: none;
    border-style: solid;
    -moz-transform:scale(.9);
    -webkit-transform:scale(.9);
}
/*Выпадающий список*/
.nav ul{
	list-style:none;
    position:absolute;
    left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
    opacity:0; /* Устанавливаем начальное состояние прозрачности */
    -webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
}
.nav ul li{
    padding-top: 0px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
    float:none;
    background:url(dot.gif);
}
.nav ul a{
    white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
    display:block;
}
.nav li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
    left:0; /* Приносим его обратно на экран, когда нужно */
    opacity:1; /* Делаем непрозрачным */
}
.nav li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
	font-size: 14px;
	text-decoration:none;
    background:#99ceff;
    background:rgba(0, 0, 0, 0.7); /* Выглядит полупрозрачным */
    
}
.nav li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
    text-decoration:none;
    -webkit-transition:-webkit-transform 0.075s linear;
}
.nav li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
    background:#99ceff;
    background:rgba(0, 0, 0, 0.75); /* Будет полупрозрачным */
    text-decoration:underline;
    -moz-transform:scale(1);
    -webkit-transform:scale(1);
}
/*Конец верхнего меню*/
