/************************************
RabbitWeb.ru (main) for the Efimov RS
************************************/
/*@media all and(min-width: 1025px){*/
	@font-face{
		font-family: Pangolin-Regular;
		font-family: Neucha;
		font-family: Comfortaa-Regular;
		font-family: KellySlab-Regular;
		src: url(../fonts/Pangolin-Regular.ttf);
		src: url(../fonts/Neucha.ttf);
		src: url(../fonts/Comfortaa-Regular.ttf);
		src: url(../fonts/KellySlab-Regular.ttf);
	}
	html{
		background-color: #669999;
	}
	
	/*******MENU********/
	#menu{
		margin: 10px;
		height: 110px;
		border-bottom: 1px solid black;
	}
	#menu h2{
		color: lightblue;
		text-decoration: none;
		text-shadow: -1px 1px 1px lightblue;
	}
	#menu h2 span{
		color: orange;
		text-shadow: -1px 1px 1px orange;
	}
	#menu ul{
		float: right;
		list-style: none;
		height: auto;
		width: auto;
		margin: 0px;
		padding: 10px;
	}
	#menu ul li{
		float: left;
		color: black;
		text-align: center;
		text-shadow: 0px 0px 1px grey;
		margin: 0 10px 0 10px;
	}
	#menu li:hover{
		color: grey;
		text-shadow: 1px 1px 1px white;
	}
	#menu li a{
		color: black;
		text-decoration: none;
	}
	#menu a img{
		padding: 10px;
		width: auto;
		max-width: 30px;
	}
	/*****end MENU*****/

	/***AllContent open***/
	#allcontent{
		width: auto;
		max-width: 1000px;
		margin: 10% auto 5% auto;
	}
	#allcontent p{
		line-height: 1.3em;
	}

	/***Courses open***/
	.Courses{
		width: auto;
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
	.Courses p{
		padding: 10px;
	}
	.Courses div{
		float: left;
		margin: 10px;
	}
	.Courses table{
		width: auto;
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10%;
	}
	.Courses tr{
		margin: 10px auto 5px auto;		
	}
	.Courses td{
		text-align: center;
		background-color: white;
		border: 0px solid black;
		border-radius: 5px 10px 10px 0;
		height: auto;
	}
	.Courses td h5,
	.Courses td h4{
		color: black;
	}
	.Courses .coursesScratch{
		background-color: rgba(0, 153, 51,0.3);
	}
	.Courses .coursesPython{
		background-color: rgba(204, 204, 0,0.5);
	}
	.Courses .coursesJavaScript{
		background-color: rgba(230, 138, 0,0.5);
	}
	.Courses .coursesScratch:hover{
		background-color: rgb(0, 153, 51);
		text-align: center;
		box-shadow: 2px 2px 3px black;
		-webkit-transform: scale(1.01);
		-moz-transform: scale(1.01);
	}
	.Courses .coursesPython:hover{
		background-color: rgb(204, 204, 0);
		text-align: center;
		box-shadow: 2px 2px 3px black;
		-webkit-transform: scale(1.01);
		-moz-transform: scale(1.01);
	}
	.Courses .coursesJavaScript:hover{
		background-color: rgb(230, 138, 0);
		text-align: center;
		box-shadow: 2px 2px 3px black;
		-webkit-transform: scale(1.01);
		-moz-transform: scale(1.01);
	}
	.Courses td a{
		color: black;
		text-decoration: none;
	}
	/***end Courses***/
	/*Price-list start*/
	.Price-learning ul{
		float: left;
	}
	.Price-learning li{
		float: left;
		padding: 10px;
		margin: 10px;
		border: 2px solid black;
		list-style-type: none;
	}
	/*end Price-list*/
	/*newSite open*/
	.newInfo,
	.newCourses{
		width: auto;
		max-width: 1000px;
		margin-bottom: 10%;
	}
	.newInfo div,
	.newCourses div{
		float: left;
		padding: 10px;
	}
	.newInfo img,
	.newCourses img{
		width: 200px;
		float: left;
		padding: 10px;
	}
	.newSite a{
		color: black;
		line-height: 1,1em;
	}
	.newCourses a{
		color: black;
		text-decoration: none;
		line-height: 1,1em;
	}
	/*newSite end*/

	/*Block open*/
	.block{
		float: left;
		margin-top: 15%;
		padding: 10px;
	}
	.block img{
		background-color: grey;
		border: 1px solid black;
		width: 200px;
		height: auto;
	}
	/*Block end*/

	/***NEXTPAGEPREV open***/
	#nextPagePrev{
		width: auto;
		max-width: 1000px;
	}
	#nextPagePrev p{
		margin: 0% auto 0 30%;
	}
	#nextPagePrev p a{
		color: grey;
		padding: 5px;
		text-decoration: none;
	}
	#nextPagePrev p a:hover{
		color: black;
		background-color: grey;
	}
	/***end NEXTPAGEPREV***/

	/***POSTS open***/
	.posts_new{
		margin: 0 auto 10% auto;
		height: auto;
	}
	.posts_new div,
	.posts_old div{
		float: left;
		padding: 10px;
	}
	.posts_old div{
		margin-top: 5%;
	}
	.posts_new a,
	.posts_old a{
		color: black;
		text-decoration:none;
	}
	.posts_new img,
	.posts_old img{
		width: auto;
		max-width: 250px;
	}
	#submitPosts{
		background-color: grey;
		width: 250px;
		height: 380px;
	}
	#submitPosts p{
		text-align: center;
		padding-top: 130px;
	}
	#submitPosts input{
		border: 2px solid lightgreen;
		border-radius: 10px;
		height: 30px;
	}
	#submitPosts input:hover{
		background-color: lightgreen;
		border: 2px solid green;
		border-radius: 10px;
		height: 30px;
	}
	/***end POSTS***/

	#web_developer_info h1,
	#web_developer_info h2,
	#web_developer_info h3,
	#python_programmer_info h1,
	#python_programmer_info h2,
	#python_programmer_info h3,
	#scratch_info h1,
	#scratch_info h2,
	#scratch_info h3,
	#javascript_info h1,
	#javascript_info h2,
	#javascript_info h3{
		text-align: center;
	}
	#scratch_info div,
	#javascript_info div{
		margin-top: 10%;
	}
	#scratch_info a,
	#javascript_info a{
		color: black;
	}
	#web_developer_info img,
	#scratch_info img,
	#python_programmer_info img,
	#javascript_info img{
		width: auto;
		max-width: 1000px;
		margin-left: 5%;
		margin-right: auto;
		padding: 10px;
	}
	#javascript_info img{
		border-radius: 20px;
		box-shadow: 0 0 3px black;
	}
	#javascript_info .js-img li,
	#javascript_info .js-img img{
		width: auto;
		max-width: 800px;
		margin: 0 auto 0 auto;
	}
	.scratch-Green,
	.scratch-Yellow{
		list-style-type: none;
	}
	.scratch-Green li{
		background-color: lightgreen;
		width: auto;
		margin: 5px auto 5px auto;
		padding: 5px;
		border-radius: 5px 10px 10px 0;
		box-shadow: 1px 1px 2px black;
		text-align: center;
		font-style: italic;
	}
	.scratch-Yellow li{
		background-color: yellow;
		width: auto;
		margin: 5px auto 5px auto;
		padding: 5px;
		border-radius: 5px 10px 10px 0;
		box-shadow: 1px 1px 2px black;
		text-align: center;
		font-style: italic;
	}
	#scratchForm h4,
	#python-form h4,
	#javascript-form h4{
		text-shadow: 1px 1px 1px white;
	}
	#scratchForm img,
	#python-form img,
	#javascript-form img{
		width: 50px;
		margin-left: auto;
		margin-right: auto;
	}
	#scratchForm form,
	#python-form form,
	#javascript-form form{
		text-align: center;
		width: auto;
		max-width: 650px;
		border: 3px solid white;
		border-radius: 10px;
		box-shadow: 0 0 5px black;
		padding: 10px;
		margin-left: auto;
		margin-right: auto;
	}
	#scratchForm input,
	#python-form input,
	#javascript-form input{
		height: 28px;
		border: 2px solid blue;
		border-radius: 5px 10px 10px 0;
		margin: 5px;
		box-shadow: 1px 1px 1px black;
	}
	#scratchForm input:hover,
	#python-form input:hover,
	#javascript-form input:hover{
		height: 28px;
		border: 2px solid orange;
		border-radius: 3px 10px 10px 0;
		margin: 5px;
	}
	#scratchForm .submit,
	#python-form .submit,
	#javascript-form .submit,
	#resources .submit,
	#resources-scratch .submit,
	#resources-python .submit{
		background-color: orange;
		border: 2px solid orange;
		border-radius: 10px;
		text-shadow: 1px 1px 0.5px black;
		box-shadow: 2px 3px 1px darkorange;
	}
	#scratchForm .submit:hover,
	#python-form .submit:hover,
	#javascript-form .submit:hover,
	#resources .submit:hover,
	#resources-scratch .submit:hover,
	#resources-python .submit:hover{
		background-color: orange;
		border: 2px solid orange;
		border-radius: 10px;
		box-shadow: none;
		text-shadow: none;
	}
	#sprites{
		width: auto;
		max-width: 900px;
		margin: 0 auto 0 auto;
		border-top: 1px solid grey;
		border-bottom: 1px solid grey;
	}
	#sprites li{
		background-color: orange;
		width: auto;
		margin: 10px auto 10px auto;
		padding: 5px;
		border-radius: 5px 10px 10px 0;
		box-shadow: 1px 1px 2px black;
		list-style-type: none;
		text-align: center;
		font-style: italic;
	}
	#sprites img{
		width: 100px;
	}
	#reviews{
		width: auto;
		max-width: 800px;
		margin: 0 auto 0 auto;
		padding: 10px;
		color: lightgrey;
		border-top: 1px solid lightgrey;
		border-bottom: 1px solid lightgrey;
	}
	#tableScratch table{
		margin: 0 auto 0 auto;
	}
	#tableScratch td{
		width: 200px;
		padding: 5px 2px 5px 10px;
	}
	#structure div{
		width: auto;
		max-width: 800px;
		margin: 0 auto 0 auto;
	}
	/*AllContent end*/

	/***REGFORM open***/
	#regForm{
		margin: 0 auto 0 auto;
	}
	#regForm form{
		width: auto;
		max-width: 1000px;
	}
	#regForm input{
		border: 0px solid black;
		height: 30px;
		margin: 10px;
	}
	/***end REGFORM***/

	/*FOOTER open*/
	#footer{
		margin: 10px;
		height: 70px;
		border-top: 1px solid black;
	}
	#footer h2 a{
		color: lightblue;
		text-decoration: none;
		text-shadow: -1px 1px 1px lightblue;
	}
	#footer h2 span{
		color: orange;
		text-shadow: -1px 1px 1px orange;
	}
	#footer ul{
		float: right;
		list-style: none;
		width: auto;
	}
	#footer ul li{
		float: left;
		padding-left: 10px;
	}
	#footer li a{
		text-decoration: none;
	}
	#footer a img{
		width: 30px;
	}
	/*FOOTER end*/

	/**************JS Panel-Animation start***************/
	.nav {
	margin: 10px 0 0 100px;	
	}
	.nav li {
		display: inline-block;
		padding: 5px;
	}
	.nav a, .example {
		display: inline-block;
		font-family: 'ColaborateLightRegular', Arial, sans-serif;
		font-size: 12px;
		color: rgb(100,100,100);
		text-decoration: none;
		border-radius: 0.25em;
		padding: .25em .5em;
		background-color: rgba(255,211,224,.5);
		-webkit-transition: all .25s ease-in;
		-moz-transition: all .25s ease-in;
		-o-transition: all .25s ease-in;
		transition: all .25s ease-in;
		cursor: pointer;
	}
	.nav a:hover, .example:hover{
		background-color: rgba(255,255,255,.85);
		color: rgb(0,0,0);
	}
	.nav a, .example {
		display: inline-block;
		font-family: 'ColaborateLightRegular', Arial, sans-serif;
		font-size: 12px;
		color: rgb(100,100,100);
		text-decoration: none;
		border-radius: 0.25em;
		padding: .25em .5em;
		background-color: rgba(255,211,224,.5);
		-webkit-transition: all .25s ease-in;
		-moz-transition: all .25s ease-in;
		-o-transition: all .25s ease-in;
		transition: all .25s ease-in;
		cursor: pointer;
	}
	.nav a:hover, .example:hover{
		background-color: rgba(255,255,255,.85);
		color: rgb(0,0,0);
	}
	#resources,
	#resources-scratch,
	#resources-python {
		background-color: rgba(0,0,0,0.79);
		padding: 0em 1em 1em .75em;
		position: fixed;
		top: 10em;
		left: -39em;
		width: 30em;
		border-radius: 0 0 .5em 0;
		display: none;
	}
	#resources .open,
	#resources-scratch .open,
	#resources-python .open {
		position: absolute;
		width: 20px;
		height: 20px;
		right: -20px;
		top: -35px;
		background-color: green/*rgba(100,100,100,0.8)*/;
		border-radius: .5em 0;
		text-align: center;
		font-family: 'ColaborateBoldRegular', Arial, sans-serif;
		cursor: pointer;
		color: rgb(255,255,255);
		line-height: 100%;
	}
	#resources .open:hover,
	#resources-scratch .open:hover,
	#resources-python .open:hover {
		background-color: #00cc00;
	}
	#resources h2,
	#resources-scratch h2,
	#resources-python h2 {
		font-family: 'ColaborateBoldRegular', Arial, sans-serif;
		font-size:18px;
		text-transform:uppercase;
		color: rgb(255,255,255);
		margin-top: 1em;
		text-shadow: none;
	}
	#resources h3,
	#resources-scratch h3,
	#resources-python h3 {
		font-family: 'ColaborateMediumRegular', Arial, sans-serif;
		font-size: 14px;
		color: rgba(0,0,0,.8);
		margin-top: 8px;
	}
	#resources ul {
		margin: 5px 0 0 0;
	}
	#resources .nav a,
	#resources-scratch .nav a,
	#resources-python .nav a {
		color: rgb(255,255,255);
	}
	/*FORM*/
	#resources img,
	#resources-scratch img,
	#resources-python img{
		width: 70px;
		margin-right: 0;
		margin-left: 420px;
	}
	#resources form,
	#resources-scratch form,
	#resources-python form{
		margin: -70px auto 0px 25%;
	}
	#resources input,
	#resources-scratch input,
	#resources-python input{
		height: 28px;
		margin: 0 auto 10px auto;
		border: 0px outset blue;
		border-radius: 10px;
	}
	h2.nav{
		color: white;
		text-align: center;
	}
	/*end FORm*/
	/*************JS Panel-Animation end****************/
} 