/************************************
RabbitWeb.ru (main) for the Efimov RS
************************************/
/*@media all and(min-width: 1025px){*/
	@font-face{
		font-family: Pangolin-Regular;
		font-family: Neucha;
		font-family: Comfortaa-Regular;
		font-family: KellySlab-Regular;
		src: url(../fonts/Pangolin-Regular.ttf);
		src: url(../fonts/Neucha.ttf);
		src: url(../fonts/Comfortaa-Regular.ttf);
		src: url(../fonts/KellySlab-Regular.ttf);
	}
	html{
		background-color: lightgrey;
	}
	/***HEADER open***/
	#header{
		margin: 10px;
		height: 70px;
		border-bottom: 1px solid black;
	}
	#header h2 a{
		color: darkcyan;
		text-decoration: none;
	}
	#header h2 span{
		color: orange;
	}
	#header ul{
		float: right;
		list-style: none;
		width: auto;
	}
	#header ul li{
		float: right;
		padding-left: 10px;
	}
	#header li a{
		text-decoration: none;
	}
	#header a img{
		width: 40px;
	}
	/***HEADER end***/
	/*******MENU********/
	#menu ul{
		background-color: darkgrey;
		position: fixed;
		list-style: none;
		border-radius: 0 10px 10px 0;
		width: 100px;
		padding: 10px;
	}
	#menu li{
		color: lightgrey;
		text-align: center;
		text-shadow: 1px 1px 1px grey;
		margin: 0 10px 0 10px;
	}
	#menu li:hover{
		color: black;
		text-shadow: 1px 1px 1px lightgrey;
	}
	#menu li a{
		text-decoration: none;
	}
	#menu a img{
		padding: 10px;
		width: auto;
		max-width: 30px;
	}
	/*****end MENU*****/
	/***AllContent open***/
	#allcontent{
		margin: 0 auto 0 15%;
	}
	/*newSite open*/
	#newInfo img,
	#newCourses img{
		width: 200px;
		float: left;
	}

	/*newSite end*/

	/*Block open*/
	#block img{
		background-color: grey;
		border: 1px solid black;
		width: 200px;
		height: auto;
	}
	/*Block end*/
	
	/*AllContent end*/
	/*FOOTER open*/
	#footer{
		margin: 10px;
		height: 70px;
		border-top: 1px solid black;
	}
	#footer h2 a{
		color: darkcyan;
		text-decoration: none;
	}
	#footer h2 span{
		color: orange;
	}
	#footer ul{
		float: right;
		list-style: none;
		width: auto;
	}
	#footer ul li{
		float: right;
		padding-left: 10px;
	}
	#footer li a{
		text-decoration: none;
	}
	#footer a img{
		width: 30px;
	}
	/*FOOTER end*/
} 