/*
	RabbitWeb.ru for Efimov RS
								*/
@media (min-width: 1025px) and (max-width: 2560px){
	/*
				BACK-UP
								*/
	#back .left img{
		position: fixed;
		float: left;
		margin:0 auto 0 auto;
		left: 0;
		bottom: 40px;
		width: auto;
		max-width: 50px;
		margin: 10px;
	}
	
	#back .left:hover img{ 
		-moz-transform:scale(1.10);
	    -webkit-transform:scale(1.10);
	}
	
	#back .right img{
		position: fixed;
		float: right;
		margin:0 auto 0 auto;
		right: 0;
		bottom: 40px;
		width: auto;
		max-width: 50px;
		margin: 10px;
	}
	
	#back .right:hover img{ 
		-moz-transform:scale(1.10);
	    -webkit-transform:scale(1.10);
	}
	/*end back-up*/
	
	/*
			Services-TABLE
								*/
	
	#module h1{
		text-align: center;
		font-size: 1.6em;
		color: white;
		margin-top: 10%;
		padding: 10px 10px 0 10px;
		text-shadow: 1px 1px 1px grey;
		border: none;
	}
	
	#module p{
		text-align: center;
		color: white;
		font-size: 14px;
		text-shadow: none;
	}
	
	#module a{
		color: lightblue;
		font-size: 16px;
		text-shadow: none;
	}
	
	#module li{
		color: white;
		text-shadow: 1px 1px 1px grey;
		font-size: 14px;
	}
	
	#module div{
		background-color: rgba(0, 0, 0, 0.15);
		color: white;
		text-shadow: none;
		padding: 0px;
		margin:0 auto 0 auto;
		border: none;
		height: auto;
		width: auto;
	}
	
	#module .basic-table{
		color: white;
		text-shadow: none;
		padding: 5px;
		margin: 0 auto 10px auto;
		border-collapse: collapse;
		box-shadow: 0 0 3px black;
	}
	
	#module .basic-table tr{
		border: 1px solid black;
	}
	
	#module .basic-table td{
		border: 1px solid black;
		padding: 5px;
	}
	
	#module .basic-table h3{
		color: lightblue;
		text-shadow: none;
	}
	
	#module .basic-table b{
		color: orange;
		font-size: 16px;
	}
	
	#module .others-table{
		color: white;
		text-shadow: none;
		padding: 5px;
		margin: 0 auto 10px auto;
		border-collapse: collapse;
		box-shadow: 0 0 3px black;
	}
	
	#module .others-table tr{
		border: 1px solid black;
	}
	
	#module .others-table td{
		border: 1px solid black;
		padding: 5px;
	}
	
	#module .others-table h3{
		color: lightblue;
	}
	
	#module .others-table b{
		color: orange;
		font-size: 16px;
	}
	
	#module .magazyn-table{
		color: white;
		text-shadow: none;
		padding: 5px;
		margin: 0 auto 10px auto;
		border-collapse: collapse;
		box-shadow: 0 0 3px black;
	}
	
	#module .magazyn-table tr{
		border: 1px solid black;
	}
	
	#module .magazyn-table td{
		border: 1px solid black;
		padding: 5px;
	}
	
	#module .magazyn-table h3{
		color: lightblue;
	}
	
	#module .magazyn-table b{
		color: orange;
		font-size: 16px;
	}
	
	#module .landing-table{
		color: white;
		padding: 5px;
		margin: 0 auto 10px auto;
		border-collapse: collapse;
		box-shadow: 0 0 3px black;
	}
	
	#module .landing-table tr{
		border: 1px solid black;
	}
	
	#module .landing-table td{
		border: 1px solid black;
		padding: 5px;
	}
	
	#module .landing-table h3{
		color: lightblue;
	}
	
	#module .landing-table b{
		color: orange;
		font-size: 18px;
	}
	
	#module img{
		width: auto;
		max-width: 40px;
	}
	/*end Services*/
	
	
	/*SEO*/
	#seo-basic p{
		margin-left: auto;
		margin-right: auto;
		padding: 0px;
		width: auto;
		max-width: 920px;
		line-height: 1.2em;
		color: white;
		text-align: center;
	}
	
	
	#seo-basic h1{
		text-align: center;
		margin-top: 30%;
		padding: 5% 10px 0 10px;
		color: white;
	}
	
	#seo-basic h4{
		text-align: center;
		padding: 5px 10px 0 10px;
		color: white;
	}
	
	#seo-basic ul{
		padding: 0px;
		margin-left: auto;
		margin-right: auto;
		width: auto;
		max-width: 850px;
		line-height: 1.3em;
	}
	
	#seo-basic li{
	    list-style-type:none;
		color: white;
		margin-left: 0%;
		margin-right: 0%;
	}
	
	#seo-basic h2{
		color: orange;
	}
	
	#seo-basic .seo-dev{
		width: auto;
		margin-left: 2%;
	}
	
	#seo-basic .grafic{
		width: auto;
		margin-left: 15%;
		margin-right: auto;
	}
	
	/*
	        END SEO
	                        */
	                        
	/*
			SEO-TABLE
							*/
	
	#seo-table h1{
		text-align: center;
		color: white;
		padding: 20px 10px 0 10px;
		border: none;
	}
	
	#seo-table p{
		text-align: center;
		color: white;
		font-size: 14px;
	}
	
	#seo-table a{
		color: lightblue;
		font-size: 21px;
	}
	
	#seo-table li{
		color: white;
		font-size: 14px;
	}
	
	#seo-table div{
		background-color: rgba(0, 0, 0, 0.1);
		color: white;
		padding: 0px;
		margin-left: auto;
		margin-right: auto;
		border: none;
		height: auto;
		width: auto;
	}
	
	.field{
		margin: 10px;
	}
	
	#seo-table .seo-table{
		color: white;
		padding: 5px;
		margin: 0 auto 0 auto;
		border-collapse: collapse;
		box-shadow: 0 0 3px black;
	}
	
	#seo-table .seo-table tr{
		border: 1px solid white;
	}
	
	#seo-table .seo-table td{
		border: 1px solid black;
		padding: 5px;
	}
	
	#seo-table .seo-table h3{
		color: lightblue;
	}
	
	#seo-table .seo-table b{
		color: orange;
		font-size: 16px;
	}
	
	/*
			SEO fadeBack
								*/
	#seo-basic h2{
		background: url(../_images/open.png) no-repeat 0 11px;
		padding: 10px 0 0 25px;
		cursor: pointer;
		color: lightblue;
	}
	
	#seo-basic img{
		width: 40px;
	}
	
	#seo-basic h2.close {
		background-image: url(../_images/close.png);
	}
	.answer {
		margin-left: 25px;
		font-size: 14px;
	}
	/*CLOSE fadeBack SEO*/

}