body{
	background: white;
}

header{
	background: lightblue url(./images/ios-8-apple-iphone-kosmos.jpg);
	background-repeat: no-repeat;
	height: 100px;
	width: 910px;
}

h1{
	color: white;
	text-align: center;
	text-shadow: 1px 1px 1px black;
	padding-top: 10px;
}

table{
	width: 910px;
}

td{
	background: yellow;
	border: 1px outset white;
	box-shadow: 1px 1px 1px black;
	text-align: center;
	padding: 5px;
}


