/*RabbitWeb.ru for Efimov RS*/
@media all and (min-width: 1025px){
	@font-face{
		font-family: Pangolin-Regular;
		font-family: Neucha;
		font-family: Comfortaa-Regular;
		font-family: KellySlab-Regular;
		src: url(../fonts/Pangolin-Regular.ttf);
		src: url(../fonts/Neucha.ttf);
		src: url(../fonts/Comfortaa-Regular.ttf);
		src: url(../fonts/KellySlab-Regular.ttf);
	}
	
	html{
		background: black;
	}
	
	body{
		background: white;
		box-shadow: 0 0 10px black;
		max-width: 1600px;
		min-width: 1025px;
		margin-left: auto;
		margin-right: auto;
		line-height: 1.3em;
		text-shadow: 0px 0px 1px white;
		font-family: Comfortaa-Regular;
	}
	
	/*Start BASIC + header*/

	/*------------------------------------*\
	    НАВИГАЦИЯ
	\*------------------------------------*/
	.nav{
	    float:right;
	    text-align: left;
	    list-style:none;
	    font-weight:bold;
	    padding: 3px;
	    margin: 0% auto 0 auto;
	}
	
	.nav li{
		float: left;
	    margin-right:10px;
	    position:relative;
	    display:block;
	}
	
	.nav li a{
		font-size: 14px;
	    display:block;
	    color:white;
	    background:rgba(0, 0, 0, 0.0);
	    text-decoration:none;
	    text-shadow:0px 0px 1px black; /* Тень текста, чтобы приподнять его на немного */
	    -moz-border-radius:2px;
	    -webkit-border-radius:2px;
	    border-style: solid;
	    border-width: 0;
	    border-radius: 0;
	    padding: 5px;
	}
	
	.nav li a:hover{
	    color:#99ceff;
	    text-decoration:underline;
	}
	
	.nav li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
	    background:rgba(0,0,0, 0.0); /* Выглядит полупрозрачным */
	    text-decoration:none;
	    border-color: none;
	    border-style: solid;
	    -moz-transform:scale(.9);
	    -webkit-transform:scale(.9);
	}
	/*Выпадающий список*/
	.nav ul{
		list-style:none;
	    position:absolute;
	    left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
	    opacity:0; /* Устанавливаем начальное состояние прозрачности */
	    -webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
	}
	.nav ul li{
	    padding-top: 0px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
	    float:none;
	    background:url(dot.gif);
	}
	.nav ul a{
	    white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
	    display:block;
	}
	.nav li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
	    left:0; /* Приносим его обратно на экран, когда нужно */
	    opacity:1; /* Делаем непрозрачным */
	}
	.nav li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
		font-size: 14px;
		text-decoration:none;
	    background:#99ceff;
	    background:rgba(0, 0, 0, 0.0); /* Выглядит полупрозрачным */
	    
	}
	.nav li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
	    text-decoration:none;
	    -webkit-transition:-webkit-transform 0.075s linear;
	}
	.nav li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
	    background:#99ceff;
	    background:rgba(0, 0, 0, 0.0); /* Будет полупрозрачным */
	    text-decoration:underline;
	    -moz-transform:scale(1);
	    -webkit-transform:scale(1);
	}
	
	/* IMG */
	.nav img{
		width: 25px;
	}
	/*Конец верхнего меню*/

	#basic{
		background-image: url(../images/fon-rabbitweb2.png);
		background-size: auto;
		background-repeat: no-repeat;
		background-position: center;
		border: none;
		height: 800px;
	}
	
	#basic div{
		background-color: rgba(0, 0, 0, 0.67);
		text-shadow: 1px 1px 1px grey;
		height: 800px;
		padding: 20px;
		margin-left: auto;
		margin-right: auto;
		border: none;
	}
	
	#basic h1{
		text-align: center;
		font-size: 4.0em;
		color: #99ceff;
		text-shadow: 1px 1px 1px white;
		margin-top: 25%;
		padding: 5px;
	}
	
	#basic h1 span{
		color: #ffad33;
	}
	
	#basic h2{
		font-size: 1.3em;
		color: #ccffff;
		text-shadow: 1px 1px 1px grey;
		line-height: 1.2em;
		margin-top: 30px;
		padding: 5px;
	}

	#basic h2 span{
		color: #ffcc80;
	}
	
	header img{
		margin-left: 6px;
		width: 120px;
		float: left;
	}	
	
	table{
		padding: 10px;
	}
	td{
		padding-right: 7px;
	}
	
	/*	CONTACTS */
	.phone{
	    text-align:right;
	    font-size:21px;
	    padding:10px;
	    color:white;
	}
	
	#contacts div{
		background-color: rgba(0,0,0,0.0);
		border-radius:10px;
		position:fixed;
		top: 50%;
		left: 0;
	}
	
	#contacts div:hover{
		background-color: rgba(0,0,0,0.0);
		border-radius: 10px;
		position:fixed;
		top: 50%;
	}
	
	#contacts p img{
		border: none;
		width: 40px;
		height: auto;
		padding: 0 0 10px 0;
	}
	
	#contacts p img:hover{
		border: none;	
		padding:0 0 10px 0;
		-moz-transform:scale(1.2);
	    -webkit-transform:scale(1.2);
	}
	
	.social{
		float: right;
		list-style-type: none;
		font-family: cursive;
		padding: 0;
		margin-right: 1%;
		margin-top: -1%;
		bottom: 0;
	}
	
	li.social{
		float: right;
		padding: 0 5px 0 0;
		color: lightgrey;
		text-shadow: 1px 1px 1px black;
	}
	
	li.social img{
		height: auto;
		width: 30px;
	}
	/*	END CONTACTS */

	h1{
		color: white;
		text-align: left;
		text-shadow: none;
		padding: 30px;
	}
	
	h2, h3, h4, h5, h6{
		text-align: center;
		color: white;
	}
	
	p{
		padding-left: 20px;
		padding-right: 20px;
		color: white;
		text-shadow: none;
	}
	
	#allcontent{
		background-color: #262626;
		padding-top: 5px;
		padding-bottom: 0px;
	}
	
	/*START CALLBACK*/
	#contacts div.callPhone,
	#contacts div.callMessange{
		display: none;
		position: fixed;
		top: 49.5%;
		left: 0%;
		background-color: rgba(242, 242, 242, 0.1);
		padding: 0;
		width: 310px;
		height: auto;
		border-radius: 5px 10px 5px 5px;
	}
	
	.callBack h2{
		color: black;
		text-shadow: 1px 1px 1px grey;
		line-height: 1.2em;
		padding:5px;
	}
	
	.callBack ul{
		list-style-type:none;	
	}
	
	.callPhone li,
	.callMessange li{
		margin-top: 10px;
		color: white;
		text-shadow: none;
	}
	
	.callBack li input{
		border: 1px ridge lightgrey;
		width: 180px;
		height: 28px;
		margin-left: 50px;
	}

	.callMessange input{
		margin-top: 10px;
	}
	
	.callBack input.submit{
		background-color: rgba(179, 0, 0,0.70);
		height: 28px;
		width: auto;
		border: none;
		border-radius: 10px;
		color: lightgrey;
	}
	
	.callBack input.submit:hover{
		background-color: rgba(179, 0, 0,0.70);
		height: 28px;
		width: auto;
		border: 1px solid red;
		border-radius: 10px;
		box-shadow: 0 0 3px red;
		color: white;
		text-shadow: 1px 1px 1px black;
	}
	
	.callPhone img,
	.callMessange img{
		float: right;
		width: 21px;
		height: auto;
		margin: -1px 0 0 0;
	}
	
	.callPhone img:hover,
	.callMessange img:hover{
		width: 21px;
		height: auto;
		margin: -1px 0 0 0;
		-moz-transform:scale(1.15);
	    -webkit-transform:scale(1.15);
	}
	/*END CallBack*/
	
	/*workingOut Главная*/
	#workingOut{
		background: url(../images/Hand-Holding-Tablet-PNG-Image1.png) no-repeat;
		background-position: left;
		background-color: white;
		background-size: 450px;
		background-color: rgba(242, 242, 242, .0);
		border: none;
		padding: 0px;
		margin: 5% auto 0 auto;
		height: 90%;
		width: 90%;
		max-width: 1600px;
	
	}
	
	#workingOut div{
		width: auto;
		max-width: 650px;
		border-radius: 0px;
	}
	
	#workingOut h1{
		margin-top: 0%;
		text-align: left;
	}
	
	#visiting,
	#promo,
	#catalog,
	#landing,
	#company,
	#magazyn,
	#CMS,
	#browser,
	#seo-find,
	#servTech,
	#serv-info_2,
	#designSite,
	#design-tuning-small{
		border: none;
		padding: 10px;
	}
	
	#visiting:hover,
	#promo:hover,
	#catalog:hover,
	#landing:hover,
	#company:hover,
	#magazyn:hover,
	#CMS:hover,
	#browser:hover,
	#seo-find:hover,
	#servTech:hover,
	#serv-info_2:hover,
	#designSite:hover,
	#design-tuning-small:hover{
		border: none;
		box-shadow: 0 0 5px black;
		padding: 10px;
		-moz-transform:scale(1.03);
	    -webkit-transform:scale(1.03);
	}

	#visiting{background-color: #e6f7ff;}
	#promo{background-color: #ccefff;}
	#catalog{background-color: #b3e7ff;}
	#landing{background-color: #99dfff;}
	#company{background-color: #80d7ff;}
	#magazyn{background-color: #66cfff;}
	#CMS{background-color: #4dc6ff;}
	#designSite{background-color: #33beff;}
	#browser{background-color: #1ab6ff;}
	#seo-find{background-color: #00aeff;}
	#servTech{background-color: #009de6;}
	#serv-info_2{background-color: #008bcc;}
	#design-tuning-small{background-color: #990000;}
	
	#visiting h2,
	#promo h2,
	#catalog h2,
	#landing h2,
	#company h2,
	#magazyn h2,
	#CMS h3,
	#browser h3,
	#seo-find h3,
	#servTech h3,
	#serv-info_2 h2,
	#designSite h2,
	#design-tuning-small h2{
		background: url(../images/open.png) no-repeat;
		width: auto;
		padding: 0 5px -10px 25px;
		font-size: .8em;
		text-shadow: none;
		cursor: pointer;
		color: black;
	}

	#visiting img.icon,
	#promo img.icon,
	#catalog img.icon,
	#landing img.icon,
	#company img.icon,
	#magazyn img.icon,
	#CMS img.icon,
	#browser img.icon,
	#seo-find img.icon,
	#servTech img.icon,
	#serv-info_2 img.icon,
	#designSite img.icon{
		width: auto;
		max-width: 58px;
	}
	
	#visiting div,
	#promo div,
	#catalog div,
	#landing div,
	#company div,
	#magazyn div,
	#CMS div,
	#browser div,
	#seo-find div,
	#servTech div,
	#serv-info_2 div,
	#designSite div,
	#design-tuning-small div{
		display: none;
	}
	
	#visiting p,
	#promo p,
	#catalog p,
	#landing p,
	#company p,
	#magazyn p,
	#CMS p,
	#browser p,
	#seo-find p,
	#servTech p,
	#serv-info_2 p,
	#designSite p,
	#design-tuning-small p{
		color: black;
		font-size: 12px;
		line-height: 1.2em;
		text-align: left;
	}
	
	#visiting div,
	#promo div,
	#catalog div,
	#landing div,
	#company div,
	#magazyn div,
	#CMS div,
	#browser div,
	#seo-find div,
	#servTech div,
	#serv-info_2 div,
	#designSite div,
	#design-tuning-small div{
		background-color: white;
		text-align: left;
		font-size: 12px;
		line-height: 1.3em;
		display: block;
		border: 1px ridge lightblue;
		border-radius: 10px;
		height: auto;
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
	
	#visiting:hover div h3,
	#promo:hover div h3,
	#catalog:hover div h3,
	#landing:hover div h3,
	#company:hover div h3,
	#magazyn:hover div h3{
		text-shadow: none;
	}
	
	#visiting div a,
	#promo div a,
	#catalog div a,
	#landing div a,
	#company div a,
	#magazyn div a,
	#design-tuning-small div a{
		color: grey;
	}
	
	#visiting div p input,
	#promo div p input,
	#catalog div p input,
	#landing div p input,
	#company div p input,
	#magazyn div p input{
		background-color: rgba(242, 242, 242, 0.90);
		color: black;
		border: 2px solid black;
		border-radius: 12px;
		padding: 3px;
	}
	
	#visiting div p input:hover,
	#promo div p input:hover,
	#catalog div p input:hover,
	#landing div p input:hover,
	#company div p input:hover,
	#magazyn div p input:hover{
		background-color: rgba(242, 242, 242, 0.90);
		color: grey;
		border: 2px solid grey;
		border-radius: 12px;
		padding: 3px;
		-moz-transform:scale(.97);
	    -webkit-transform:scale(.97);
	}
	
	#visiting table,
	#promo table,
	#catalog table,
	#landing table,
	#company table,
	#magazyn table{
		padding: 5px;
		margin: 0 auto 0 auto;
	}
	
	#visiting td,
	#promo td,
	#catalog td,
	#landing td,
	#company td,
	#magazyn td{
		padding: 0px;
		border-collapse: collapse;
		font-size: 12px;
	}
	
	#visiting img,
	#promo img,
	#catalog img,
	#landing img,
	#company img,
	#magazyn img,
	#design-tuning-small img{
		width: 15px;
	}
	
	#visiting b,
	#promo b,
	#catalog b,
	#landing b,
	#company b,
	#magazyn b{
		color: orange;
		font-size: 1.3em;
		text-shadow: none;
	}
	
	.blockLeft ul.check li img,
	.blockRight ul.check li img{
		width: 12px;
	}
	
	#CMS li,
	#browser li,
	#seo-find li,
	#servTech li,
	#serv-info_2 li,
	#designSite li,
	#design-tuning-small li{
		list-style: none;
		text-align: left;
		font-size: 12px;
		line-height: 1.5em;
		color: black;
	}
	
	#visiting h2.close,
	#promo h2.close,
	#catalog h2.close,
	#landing h2.close,
	#company h2.close,
	#magazyn h2.close,
	#CMS h3.close,
	#browser h3.close,
	#seo-find h3.close,
	#servTech h3.close,
	#serv-info_2 h2.close,
	#designSite h2.close,
	#design-tuning-small h2.close{
		background-image: url(../images/close.png);
	}

	/*	EDN workingOut */
	
	/*	Portfolio	*/
	#portfolio{
		background-size: auto;
		margin-top: 5%;
		margin-bottom: 0;
		margin-left: auto;
		margin-right: auto;
		padding: 0px;
		border: none;
		max-width: 1600px;
		min-width: 1025px;
	}
	
	#portfolio .laptop-portfolio{
		background: url(../images/mac-laptop-png-13.png) no-repeat;
		background-position: center;
		background-size: auto;
		color: black;
		font-size: 12px;
		line-height: 1.2em;
		padding: 8px;
		margin-left: auto;
		margin-right: auto;
		height: 800px;
		border: none;
	}
	
	.laptop-portfolio div{
		width: 900px;
		position: relative;
		margin-top: 8%;
		margin-left: auto;
		margin-right: auto;
	}
	
	#portfolio p,
	#portfolio li{
		list-style: none;
		color: black;
		font-size: 12px; 
		line-height: 1.2em;
	}
	
	#portfolio img{
		float: left;
		border-radius: 20px;
		height:auto;
		width: auto;
		max-width: 270px;
		padding: 15px;
	}
	
	#portfolio img:hover{
		float: left;
		height:auto;
		width: auto;
		max-width: 270px;
		padding: 15px;
		-moz-transform:scale(1.05);
	    -webkit-transform:scale(1.05);
	}

	/*	END Portfolio */
	
	/*	COMMON
		SERVICES	*/
	#common{
		background-image: url(../images/website-order-icon.png);
		background-repeat: no-repeat;
		background-position: right;
		background-size: 700px;
		border: none;
		height: auto;
		width: auto;
		max-width: 1600px;
	}
	
	#common li{
	    list-style-type:none;
	}
	
	#serv-info_1 div.serv_1_float_1,
	#serv-info_1 div.serv_1_float_2,
	#serv-info_1 div.serv_1_float_3{
		left: 20%;
		height: 200px;
		width: auto;
		margin-top: 2%;
	}

	#serv-info_1 div.serv_1_float_1 div,
	#serv-info_1 div.serv_1_float_2 div,
	#serv-info_1 div.serv_1_float_3 div{
		background-color: rgba(0,0,0, 0.3);
		float: left;
		left: 20%;
		width: 300px;
		margin: 2% 2.5% 0 5%;
		border-radius: 20px;
	}
	
	#serv-info_1 h2{
		font-size: .9em;
		text-align: left;
		text-shadow: none;
	}
	
	#serv-info_1 p{
		font-size: 14px;
		font-style: italic;
		text-align: left;
		text-shadow: none;
	}
	
	#serv-info_1 img{
		float: left;
		width: 80px;
		margin-top: 17%;
		padding: 5px;
	}

	/*	END Services */
	
	/*start ADMINISTRATION*/

	/*	ADMIN start */
	#admin{
		width: auto;
		max-width: 1300px;
		margin-top: 10%;
		margin-left: auto;
		margin-right: auto;
	}
	
	#admin li{
		color: white;
		font-size: 14px;
		text-shadow: none;
		list-style: none;
	}
	
	#admin p{
		font-size: 14px;
	}
	
	#admin img{
		float: left;
		height: auto;
		max-height: 250px;
		padding: 10px;
		margin-left: auto;
		margin-right: auto;
	}
	/*END admin*/

	/*	END ADMINISTRATION	*/

	/*	start DESIGN	*/
	/*	Design - page_1 */
	#design{
		width: auto;
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}

	#design-info-block li{
		list-style: none;
	}

	#design-info-block ul.check img{
		width: auto;
		max-width: 15px;
	}

	#design-info-block div#design-block-tuning{
		background-color: #990000;
		box-shadow: 4px 5px 3px black;
		padding: 20px;
	}

	#design-block-tuning h1{
		text-align: left;
		margin-top: -16%;
	}
	
	#design-block-tuning p{
		text-align: left;
		font-style: italic;
		color: #e6e6e6;
	}
	
	#design-block-tuning li{
		text-align: left;
		line-height: 1.6em;
		color: #e6e6e6;
	}
	
	#design-block-tuning img{
		float: left;
	}
	
	#design-block-tuning ul.check img{
		width: 15px;
		padding-right: 5px; 
	}

	#design-block-tuning p.strelka{
		color: orange;
	}
	
	#design-block-tuning p.strelka img{
		width: 35px;
	}

	/*	Design-List-Services */
	#design-list-tuning{
		margin: 0 auto 0 auto;
		border: none;
	}
	
	#design-list-tuning h3{
		text-align: left;
		font-size: 1.6em;
		color: white;
	}
	
	#design-list-tuning div{
		background-color: rgba(0, 0, 0, 0.0);
		color: white;
		font-size: 12px;
		line-height: 1.2em;
		width: auto;
		max-width: 900px;
		padding: 10px;
		margin-top: 0%;
		margin-left: auto;
		margin-right: auto;
		border: none;
	}
	
	#design-list-tuning p,
	#design-list-tuning li{
	    list-style-type:none;
		color: white;
		font-size: 1.2em; 
		line-height: 1.2em;
	}
	
	#design-list-tuning img{
		float: left;
		width: auto;
		max-width: 300px;
		padding: 20px;
	}

	/*	End Design-list-services */

	#design-block-all h2{
		text-align: left;
	}

	#design-block-all li{
		list-style: none;
		text-decoration: none;
		text-shadow: none;
		color: white;
	}

	#model,
	#individual,
	#upgrade-re_design,
	#dev_logo,
	#flash-element{

	}

	#individual table{
		background-color: #262626;
		border-radius: 0px 10px 10px 0;
		margin: 0 auto 0 0;
		box-shadow: 8px 7px 5px black;
	}

	#individual th,
	#individual td{
		color: white;
		text-align: left;
		text-shadow: none;
		padding: 5px;
	}

	#milestones{
		background-color: #262626;
		height: auto;
		width: 900px;
		padding: 10px;
		margin: 0 0 0 auto;
		box-shadow: -9px 10px 5px black;
	}

	.outline{
		background-color: #262626;
		height: auto;
		width: auto;
		max-width: 900px;
		padding: 20px;
		margin: 0 0 0 auto;
		box-shadow: -9px 10px 5px black;
	}

	/*	END DESIGN	*/

	/*	SEO - page_2	*/
	#seo{
		width: auto;
		max-width: 1100px;
		margin-left: auto;
		margin-right: auto;
	}

	#seo img.seoImage{
		float: left;
		width: auto;
		padding: 20px;
	}
					
	#seo-basic p{
		margin-left: auto;
		margin-right: auto;
		padding: 0px;
		line-height: 1.2em;
		color: white;
	}
	
	
	#seo-basic h1{
		text-align: center;
		margin-top: 0;
		padding: 5% 10px 0 10px;
		color: white;
	}
	
	#seo-basic h4{
		text-align: center;
		padding: 5px 10px 0 10px;
		color: white;
	}
	
	#seo-basic ul{
		padding: 0px;
		margin-left: auto;
		margin-right: auto;
		width: auto;
		max-width: 850px;
		line-height: 1.3em;
	}
	
	#seo-basic li{
	    list-style-type:none;
		color: white;
		margin-left: 0%;
		margin-right: 0%;
	}
	
	#seo-basic h2{
		color: orange;
	}
	
	#seo-basic .seo-dev{
		width: auto;
		margin-left: 2%;
	}
	
	#seo-basic .grafic{
		width: auto;
		margin-left: 15%;
		margin-right: auto;
	}

	/*	SEO-TABLE	*/
	#seo-table h1{
		text-align: center;
		color: white;
		padding: 20px 10px 0 10px;
		border: none;
	}
	
	#seo-table p{
		text-align: center;
		color: white;
		font-size: 14px;
	}
	
	#seo-table a{
		color: lightblue;
		font-size: 21px;
	}
	
	#seo-table li{
		color: white;
		font-size: 14px;
	}
	
	#seo-table div{
		background-color: rgba(0, 0, 0, 0.1);
		color: white;
		padding: 0px;
		margin-left: auto;
		margin-right: auto;
		border: none;
		height: auto;
		width: auto;
	}
	
	.field{
		margin: 10px;
	}
	
	#seo-table .seo-table{
		color: white;
		padding: 5px;
		margin: 0 auto 0 auto;
		border-collapse: collapse;
		box-shadow: 0 0 3px black;
	}
	
	#seo-table .seo-table tr{
		border: 1px solid white;
	}
	
	#seo-table .seo-table td{
		border: 1px solid black;
		padding: 5px;
	}
	
	#seo-table .seo-table h3{
		color: lightblue;
	}
	
	#seo-table .seo-table b{
		color: orange;
		font-size: 16px;
	}
	
	/*	SEO fadeBack	*/
	#seo-basic h2{
		background: url(../_images/open.png) no-repeat 0 11px;
		padding: 10px 0 0 25px;
		cursor: pointer;
		color: lightblue;
	}
	
	#seo-basic img{
		width: 40px;
	}
	
	#seo-basic h2.close {
		background-image: url(../_images/close.png);
	}
	.answer {
		margin-left: 25px;
		font-size: 14px;
	}
	/*CLOSE fadeBack SEO*/
	
	/*	END SEO */

	/*	MODULE - page_3 */
	#module h1{
		text-align: center;
		font-size: 1.6em;
		color: white;
		margin-top: 10%;
		padding: 10px 10px 0 10px;
		text-shadow: 1px 1px 1px grey;
		border: none;
	}
	
	#module p{
		text-align: center;
		color: white;
		font-size: 14px;
		text-shadow: none;
	}
	
	#module a{
		color: lightblue;
		font-size: 16px;
		text-shadow: none;
	}
	
	#module li{
		color: white;
		text-shadow: 1px 1px 1px grey;
		font-size: 14px;
	}
	
	#module div{
		background-color: rgba(0, 0, 0, 0.15);
		color: white;
		text-shadow: none;
		padding: 0px;
		margin:0 auto 0 auto;
		border: none;
		height: auto;
		width: auto;
	}
	
	#module .basic-table,
	#module .others-table,
	#module .magazyn-table,
	#module .landing-table{
		color: white;
		text-shadow: none;
		padding: 5px;
		margin: 0 auto 10px auto;
		border-collapse: collapse;
		box-shadow: 0 0 3px black;
	}
	
	#module .basic-table tr,
	#module .others-table tr,
	#module .magazyn-table tr,
	#module .landing-table tr{
		border: 1px solid black;
	}
	
	#module .basic-table td,
	#module .others-table td,
	#module .magazyn-table td,
	#module .landing-table td{
		border: 1px solid black;
		padding: 5px;
	}
	
	#module .basic-table h3,
	#module .others-table h3,
	#module .magazyn-table h3,
	#module .landing-table h3{
		color: lightblue;
		text-shadow: none;
	}
	
	#module .basic-table b,
	#module .others-table b,
	#module .magazyn-table b,
	#module .landing-table b{
		color: orange;
		font-size: 16px;
	}
	
	#module img{
		width: auto;
		max-width: 40px;
	}

	/*	END MODULE */

	/*	BACK-UP */
	#back .left img{
		position: fixed;
		float: left;
		margin:0 auto 0 auto;
		left: 0;
		bottom: 40px;
		width: auto;
		max-width: 50px;
		margin: 10px;
	}
	
	#back .left:hover img{ 
		-moz-transform:scale(1.10);
	    -webkit-transform:scale(1.10);
	}
	
	#back .right img{
		position: fixed;
		float: right;
		margin:0 auto 0 auto;
		right: 0;
		bottom: 40px;
		width: auto;
		max-width: 50px;
		margin: 10px;
	}
	
	#back .right:hover img{ 
		-moz-transform:scale(1.10);
	    -webkit-transform:scale(1.10);
	}
	/* END Back-up */
	
	footer{
		background-image: url(../images/fon-rabbitweb2.png);
		background-repeat: no-repeat;
		background-position: center;
		background-color: #262626;
		padding: 0;
		margin: 0 auto 0 auto;
		height: auto;
		font-size: 12px;
		line-height: 1.1em;
	}
	
	footer div{
		background-color: rgba(0,0,0, 0.65);
	}
	
	footer p.copyright{
		color: white;
		padding: 5px;
		bottom: 0;
	}
	
	#bottom{
		list-style-type: none;
		padding-top: 0px;
		margin: 0 auto 0 auto;
	}
	
	#bottom li,
	#bottom a{
		color: white;
		font-size: 12px;
		line-height:2.0em;
		text-shadow: none;
		text-decoration: none;
	}
	
	/*	REGFORM */
	#regform{
		width: auto;
		max-width: 1600px;
		padding-top: 10px;
		margin: 0% auto 0 auto;
	}
	
	#regform h1{
		text-align: center;
		color: orange;
		text-shadow: none;
	}
	
	#feedback{
		padding: 0px;
		text-align: center;
	}
	
	#feedback label{
		margin-left: 30px;
		margin-right: 30px;
		font-size: 20px;
		color: white;
		text-align: center;
	}
	
	#feedback p{
		color: white;
	}
	
	#fio{
		height: 28px;
		width: 300px;
		padding: 5px;
		margin: 10px 0 0 0;
		font-size: 16px;
		color: black;
		background: white;
		border: none;
		box-shadow: 0 0 3px black;
	}
	
	#phone{
		height: 28px;
		width: 300px;
		padding: 5px;
		margin: 10px 0 0 0;
		font-size: 16px;
		color: black;
		background: white;
		border: none;
		box-shadow: 0 0 3px black;
	}
	
	#email{
		height: auto;
		max-height: 28px;
		width: auto;
		max-width: 300px;
		padding: 5px;
		margin: 10px 0 0 26px;
		font-size: 16px;
		color: black;
		background: white;
		border: none;
		box-shadow: 0 0 3px black;
		-moz-transform:scale(1);
	    -webkit-transform:scale(1);
	}
	
	#city{
		height: auto;
		max-height: 28px;
		width: auto;
		max-width: 300px;
		padding: 5px;
		margin: 10px 0 0 28px;
		font-size: 16px;
		color: black;
		background: white;
		border: none;
		box-shadow: 0 0 3px black;
		-moz-transform:scale(1);
	    -webkit-transform:scale(1);
	}
	
	.submit{
		height: 28px;
		width: 120px;
		box-shadow: 12px;
		font-size: 16px;
		color: black;
		border: 3px solid orange;
		border-radius: 12px;
	}
	
	.submit:hover{
		height: 28px;
		width: 120px;
		box-shadow: 12px;
		font-size: 16px;
		color: black;
		text-shadow: 1px 1px 0px grey;
		background: orange;
		border: none;
		border-radius: 12px;
	}

	/*	END regform */

}