@media screen and (max-width:479px) {
 #tiles-bx_2662763187_-item-13649 {
  padding:50% 50.1%;
  background-image:url(/upload/resize_cache/iblock/80b/100_100_1/80b9b4c28f7c6e9adc827b29c1790770.jpg);
  margin:0% 0 0 0%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13649 {
  background-image:url(/upload/resize_cache/iblock/80b/800_800_1/80b9b4c28f7c6e9adc827b29c1790770.jpg);
 }
 #tiles-bx_2662763187_-item-13630 {
  padding:50% 25.1%;
  background-image:url(/upload/resize_cache/iblock/028/100_100_1/028cd16e52ba907250cc8a5efbd7e1b7.jpg);
  margin:100% 0 0 0%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13630 {
  background-image:url(/upload/resize_cache/iblock/028/800_800_1/028cd16e52ba907250cc8a5efbd7e1b7.jpg);
 }
 #tiles-bx_2662763187_-item-13708 {
  padding:50% 25.1%;
  background-image:url(/upload/resize_cache/iblock/5be/100_100_1/5be54a613c73dd384e44a3a3c9c264b9.jpg);
  margin:100% 0 0 50%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13708 {
  background-image:url(/upload/resize_cache/iblock/5be/800_800_1/5be54a613c73dd384e44a3a3c9c264b9.jpg);
 }
 #tiles-bx_2662763187_-item-13650 {
  padding:50% 25.1%;
  background-image:url(/upload/resize_cache/iblock/aa9/100_100_1/aa9f26c460c974def056665d38820c24.jpg);
  margin:200% 0 0 0%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13650 {
  background-image:url(/upload/resize_cache/iblock/aa9/800_800_1/aa9f26c460c974def056665d38820c24.jpg);
 }
 #tiles-bx_2662763187_-item-13579 {
  padding:50% 25.1%;
  background-image:url(/upload/resize_cache/iblock/578/100_100_1/578100aafcfa8df36b5c3fc6fc32a1ed.png);
  margin:200% 0 0 50%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13579 {
  background-image:url(/upload/resize_cache/iblock/578/800_800_1/578100aafcfa8df36b5c3fc6fc32a1ed.png);
 }
 #tiles-bx_2662763187_-item-13679 {
  padding:50% 25.1%;
  background-image:url(/upload/resize_cache/iblock/765/100_100_1/765a9b6cb165d36fedb6f550f84d3139.jpg);
  margin:300% 0 0 0%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13679 {
  background-image:url(/upload/resize_cache/iblock/765/800_800_1/765a9b6cb165d36fedb6f550f84d3139.jpg);
 }
 #tiles-bx_2662763187_-item-13616 {
  padding:50% 25.1%;
  background-image:url(/upload/resize_cache/iblock/e9e/100_100_1/e9e3007c5b1b8ce176e9dcd0351e3c0d.jpg);
  margin:300% 0 0 50%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13616 {
  background-image:url(/upload/resize_cache/iblock/e9e/800_800_1/e9e3007c5b1b8ce176e9dcd0351e3c0d.jpg);
 }
 #tiles-bx_2662763187_-item-14645 {
  padding:50% 25.1%;
  background-image:url(/upload/resize_cache/iblock/63a/100_100_1/63a78defcee3c87291fac763c2348a81.jpg);
  margin:400% 0 0 0%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-14645 {
  background-image:url(/upload/resize_cache/iblock/63a/800_800_1/63a78defcee3c87291fac763c2348a81.jpg);
 }
 #tiles-bx_2662763187_-item-13678 {
  padding:50% 25.1%;
  background-image:url(/upload/resize_cache/iblock/ea8/100_100_1/ea8924590d7336befe2c97c7b80f5a07.jpg);
  margin:400% 0 0 50%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13678 {
  background-image:url(/upload/resize_cache/iblock/ea8/800_800_1/ea8924590d7336befe2c97c7b80f5a07.jpg);
 }
 #tiles-bx_2662763187_-item-13648 {
  padding:50% 25.1%;
  background-image:url(/upload/resize_cache/iblock/4f1/100_100_1/4f17ee383a9fdae882b8a86c81ee3bfb.jpg);
  margin:500% 0 0 0%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13648 {
  background-image:url(/upload/resize_cache/iblock/4f1/800_800_1/4f17ee383a9fdae882b8a86c81ee3bfb.jpg);
 }
 #tiles-bx_2662763187_-item-13647 {
  padding:50% 25.1%;
  background-image:url(/upload/resize_cache/iblock/9fb/100_100_1/9fbe27e66018182fee3bb475c009c508.png);
  margin:500% 0 0 50%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13647 {
  background-image:url(/upload/resize_cache/iblock/9fb/800_800_1/9fbe27e66018182fee3bb475c009c508.png);
 }
 #tiles-bx_2662763187_-item-13699 {
  padding:50% 50.1%;
  background-image:url(/upload/resize_cache/iblock/e07/100_100_1/e0706c7a144f8f4ca8966b8ed4065691.jpg);
  margin:600% 0 0 0%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13699 {
  background-image:url(/upload/resize_cache/iblock/e07/800_800_1/e0706c7a144f8f4ca8966b8ed4065691.jpg);
 }
 #tiles-bx_2662763187_-item-13594 {
  padding:50% 25.1%;
  background-image:url(/upload/resize_cache/iblock/69f/100_100_1/69f6c14b66d3a52ddecd0600e915bd7b.jpg);
  margin:700% 0 0 0%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13594 {
  background-image:url(/upload/resize_cache/iblock/69f/800_800_1/69f6c14b66d3a52ddecd0600e915bd7b.jpg);
 }
 #tiles-bx_2662763187_-item-13634 {
  padding:50% 25.1%;
  background-image:url(/upload/resize_cache/iblock/802/100_100_1/802a01bb3b056e1191bf649dc73ddf1f.png);
  margin:700% 0 0 50%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13634 {
  background-image:url(/upload/resize_cache/iblock/802/800_800_1/802a01bb3b056e1191bf649dc73ddf1f.png);
 }
 #tiles-bx_2662763187_-item-13590 {
  padding:50% 25.1%;
  background-image:url(/upload/resize_cache/iblock/51b/100_100_1/51b35fdd7cf7209feccfc69c995ea3b2.png);
  margin:800% 0 0 0%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13590 {
  background-image:url(/upload/resize_cache/iblock/51b/800_800_1/51b35fdd7cf7209feccfc69c995ea3b2.png);
 }
 #tiles-bx_2662763187_-item-13680 {
  padding:50% 25.1%;
  background-image:url(/upload/resize_cache/iblock/530/100_100_1/53073e119a095a87da0bb38202ab68b6.png);
  margin:800% 0 0 50%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13680 {
  background-image:url(/upload/resize_cache/iblock/530/800_800_1/53073e119a095a87da0bb38202ab68b6.png);
 }
 #tiles-bx_2662763187_-item-13709 {
  padding:50% 25.1%;
  background-image:url(/upload/resize_cache/iblock/ff5/100_100_1/ff58d9485a2255712a66eebf5b0932f2.jpg);
  margin:900% 0 0 0%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13709 {
  background-image:url(/upload/resize_cache/iblock/ff5/800_800_1/ff58d9485a2255712a66eebf5b0932f2.jpg);
 }
 #tiles-bx_2662763187_-item-13614 {
  padding:50% 25.1%;
  background-image:url(/upload/resize_cache/iblock/c92/100_100_1/c92de8b9d4035e1abbadc0905dd256e4.jpg);
  margin:900% 0 0 50%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13614 {
  background-image:url(/upload/resize_cache/iblock/c92/800_800_1/c92de8b9d4035e1abbadc0905dd256e4.jpg);
 }
 #tiles-bx_2662763187_-item-14441 {
  padding:50% 50.1%;
  background-image:url(/upload/resize_cache/iblock/21c/100_100_1/21c168c2ac1290a40fc3370b5911ca83.jpg);
  margin:1000% 0 0 0%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-14441 {
  background-image:url(/upload/resize_cache/iblock/21c/800_800_1/21c168c2ac1290a40fc3370b5911ca83.jpg);
 }
 #tiles-bx_2662763187_-fix {
  padding:1100% 0 0 0;
 }
}
@media all and (min-width:480px) and (max-width:1023px) {
 #tiles-bx_2662763187_-item-13649 {
  padding:25% 25.1%;
  background-image:url(/upload/resize_cache/iblock/80b/100_100_1/80b9b4c28f7c6e9adc827b29c1790770.jpg);
  margin:0% 0 0 0%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13649 {
  background-image:url(/upload/resize_cache/iblock/80b/750_750_1/80b9b4c28f7c6e9adc827b29c1790770.jpg);
 }
 #tiles-bx_2662763187_-item-13630 {
  padding:25% 12.6%;
  background-image:url(/upload/resize_cache/iblock/028/100_100_1/028cd16e52ba907250cc8a5efbd7e1b7.jpg);
  margin:0% 0 0 50%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13630 {
  background-image:url(/upload/resize_cache/iblock/028/750_750_1/028cd16e52ba907250cc8a5efbd7e1b7.jpg);
 }
 #tiles-bx_2662763187_-item-13708 {
  padding:25% 12.6%;
  background-image:url(/upload/resize_cache/iblock/5be/100_100_1/5be54a613c73dd384e44a3a3c9c264b9.jpg);
  margin:0% 0 0 75%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13708 {
  background-image:url(/upload/resize_cache/iblock/5be/750_750_1/5be54a613c73dd384e44a3a3c9c264b9.jpg);
 }
 #tiles-bx_2662763187_-item-13650 {
  padding:25% 25.1%;
  background-image:url(/upload/resize_cache/iblock/41b/100_100_1/41b966ef4ff3cb7935287e19d745f1a3.jpg);
  margin:50% 0 0 0%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13650 {
  background-image:url(/upload/resize_cache/iblock/41b/750_750_1/41b966ef4ff3cb7935287e19d745f1a3.jpg);
 }
 #tiles-bx_2662763187_-item-13579 {
  padding:25% 12.6%;
  background-image:url(/upload/resize_cache/iblock/578/100_100_1/578100aafcfa8df36b5c3fc6fc32a1ed.png);
  margin:50% 0 0 50%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13579 {
  background-image:url(/upload/resize_cache/iblock/578/750_750_1/578100aafcfa8df36b5c3fc6fc32a1ed.png);
 }
 #tiles-bx_2662763187_-item-13679 {
  padding:25% 12.6%;
  background-image:url(/upload/resize_cache/iblock/765/100_100_1/765a9b6cb165d36fedb6f550f84d3139.jpg);
  margin:50% 0 0 75%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13679 {
  background-image:url(/upload/resize_cache/iblock/765/750_750_1/765a9b6cb165d36fedb6f550f84d3139.jpg);
 }
 #tiles-bx_2662763187_-item-13616 {
  padding:25% 25.1%;
  background-image:url(/upload/resize_cache/iblock/9ef/100_100_1/9ef3c205f564a2c4dab60802028b4ad2.jpg);
  margin:100% 0 0 0%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13616 {
  background-image:url(/upload/resize_cache/iblock/9ef/750_750_1/9ef3c205f564a2c4dab60802028b4ad2.jpg);
 }
 #tiles-bx_2662763187_-item-14645 {
  padding:25% 12.6%;
  background-image:url(/upload/resize_cache/iblock/63a/100_100_1/63a78defcee3c87291fac763c2348a81.jpg);
  margin:100% 0 0 50%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-14645 {
  background-image:url(/upload/resize_cache/iblock/63a/750_750_1/63a78defcee3c87291fac763c2348a81.jpg);
 }
 #tiles-bx_2662763187_-item-13678 {
  padding:25% 25.1%;
  background-image:url(/upload/resize_cache/iblock/069/100_100_1/069a226ec8ab6f0a50dfeb0f0cc5c796.jpg);
  margin:150% 0 0 0%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13678 {
  background-image:url(/upload/resize_cache/iblock/069/750_750_1/069a226ec8ab6f0a50dfeb0f0cc5c796.jpg);
 }
 #tiles-bx_2662763187_-item-13648 {
  padding:25% 12.6%;
  background-image:url(/upload/resize_cache/iblock/4f1/100_100_1/4f17ee383a9fdae882b8a86c81ee3bfb.jpg);
  margin:100% 0 0 75%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13648 {
  background-image:url(/upload/resize_cache/iblock/4f1/750_750_1/4f17ee383a9fdae882b8a86c81ee3bfb.jpg);
 }
 #tiles-bx_2662763187_-item-13647 {
  padding:25% 12.6%;
  background-image:url(/upload/resize_cache/iblock/9fb/100_100_1/9fbe27e66018182fee3bb475c009c508.png);
  margin:150% 0 0 50%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13647 {
  background-image:url(/upload/resize_cache/iblock/9fb/750_750_1/9fbe27e66018182fee3bb475c009c508.png);
 }
 #tiles-bx_2662763187_-item-13699 {
  padding:25% 25.1%;
  background-image:url(/upload/resize_cache/iblock/e07/100_100_1/e0706c7a144f8f4ca8966b8ed4065691.jpg);
  margin:200% 0 0 0%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13699 {
  background-image:url(/upload/resize_cache/iblock/e07/750_750_1/e0706c7a144f8f4ca8966b8ed4065691.jpg);
 }
 #tiles-bx_2662763187_-item-13594 {
  padding:25% 12.6%;
  background-image:url(/upload/resize_cache/iblock/69f/100_100_1/69f6c14b66d3a52ddecd0600e915bd7b.jpg);
  margin:150% 0 0 75%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13594 {
  background-image:url(/upload/resize_cache/iblock/69f/750_750_1/69f6c14b66d3a52ddecd0600e915bd7b.jpg);
 }
 #tiles-bx_2662763187_-item-13634 {
  padding:25% 12.6%;
  background-image:url(/upload/resize_cache/iblock/802/100_100_1/802a01bb3b056e1191bf649dc73ddf1f.png);
  margin:200% 0 0 50%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13634 {
  background-image:url(/upload/resize_cache/iblock/802/750_750_1/802a01bb3b056e1191bf649dc73ddf1f.png);
 }
 #tiles-bx_2662763187_-item-13590 {
  padding:25% 12.6%;
  background-image:url(/upload/resize_cache/iblock/51b/100_100_1/51b35fdd7cf7209feccfc69c995ea3b2.png);
  margin:200% 0 0 75%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13590 {
  background-image:url(/upload/resize_cache/iblock/51b/750_750_1/51b35fdd7cf7209feccfc69c995ea3b2.png);
 }
 #tiles-bx_2662763187_-item-13680 {
  padding:25% 12.6%;
  background-image:url(/upload/resize_cache/iblock/530/100_100_1/53073e119a095a87da0bb38202ab68b6.png);
  margin:250% 0 0 0%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13680 {
  background-image:url(/upload/resize_cache/iblock/530/750_750_1/53073e119a095a87da0bb38202ab68b6.png);
 }
 #tiles-bx_2662763187_-item-13709 {
  padding:25% 25.1%;
  background-image:url(/upload/resize_cache/iblock/e8c/100_100_1/e8ce9575c528cc2108029d4aca51572f.jpg);
  margin:250% 0 0 25%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13709 {
  background-image:url(/upload/resize_cache/iblock/e8c/750_750_1/e8ce9575c528cc2108029d4aca51572f.jpg);
 }
 #tiles-bx_2662763187_-item-13614 {
  padding:25% 12.6%;
  background-image:url(/upload/resize_cache/iblock/c92/100_100_1/c92de8b9d4035e1abbadc0905dd256e4.jpg);
  margin:250% 0 0 75%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13614 {
  background-image:url(/upload/resize_cache/iblock/c92/750_750_1/c92de8b9d4035e1abbadc0905dd256e4.jpg);
 }
 #tiles-bx_2662763187_-item-14441 {
  padding:25% 50.1%;
  background-image:url(/upload/resize_cache/iblock/21c/100_100_1/21c168c2ac1290a40fc3370b5911ca83.jpg);
  margin:300% 0 0 0%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-14441 {
  background-image:url(/upload/compress/2f1/2f18dfcde73e55dafe575781af067b06.jpg);
 }
 #tiles-bx_2662763187_-fix {
  padding:350% 0 0 0;
 }
}
@media screen and (min-width:1024px) and (max-width:1599px) {
 #tiles-bx_2662763187_-item-13649 {
  padding:16.666666666667% 16.766666666667%;
  background-image:url(/upload/resize_cache/iblock/80b/100_100_1/80b9b4c28f7c6e9adc827b29c1790770.jpg);
  margin:0% 0 0 0%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13649 {
  background-image:url(/upload/resize_cache/iblock/80b/666_666_1/80b9b4c28f7c6e9adc827b29c1790770.jpg);
 }
 #tiles-bx_2662763187_-item-13630 {
  padding:16.666666666667% 8.4333333333333%;
  background-image:url(/upload/resize_cache/iblock/028/100_100_1/028cd16e52ba907250cc8a5efbd7e1b7.jpg);
  margin:0% 0 0 33.333333333333%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13630 {
  background-image:url(/upload/resize_cache/iblock/028/666_666_1/028cd16e52ba907250cc8a5efbd7e1b7.jpg);
 }
 #tiles-bx_2662763187_-item-13708 {
  padding:16.666666666667% 8.4333333333333%;
  background-image:url(/upload/resize_cache/iblock/5be/100_100_1/5be54a613c73dd384e44a3a3c9c264b9.jpg);
  margin:0% 0 0 50%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13708 {
  background-image:url(/upload/resize_cache/iblock/5be/666_666_1/5be54a613c73dd384e44a3a3c9c264b9.jpg);
 }
 #tiles-bx_2662763187_-item-13650 {
  padding:16.666666666667% 16.766666666667%;
  background-image:url(/upload/resize_cache/iblock/41b/100_100_1/41b966ef4ff3cb7935287e19d745f1a3.jpg);
  margin:0% 0 0 66.666666666667%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13650 {
  background-image:url(/upload/resize_cache/iblock/41b/666_666_1/41b966ef4ff3cb7935287e19d745f1a3.jpg);
 }
 #tiles-bx_2662763187_-item-13579 {
  padding:16.666666666667% 8.4333333333333%;
  background-image:url(/upload/resize_cache/iblock/578/100_100_1/578100aafcfa8df36b5c3fc6fc32a1ed.png);
  margin:33.333333333333% 0 0 0%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13579 {
  background-image:url(/upload/resize_cache/iblock/578/666_666_1/578100aafcfa8df36b5c3fc6fc32a1ed.png);
 }
 #tiles-bx_2662763187_-item-13679 {
  padding:16.666666666667% 8.4333333333333%;
  background-image:url(/upload/resize_cache/iblock/765/100_100_1/765a9b6cb165d36fedb6f550f84d3139.jpg);
  margin:33.333333333333% 0 0 16.666666666667%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13679 {
  background-image:url(/upload/resize_cache/iblock/765/666_666_1/765a9b6cb165d36fedb6f550f84d3139.jpg);
 }
 #tiles-bx_2662763187_-item-13616 {
  padding:16.666666666667% 25.1%;
  background-image:url(/upload/resize_cache/iblock/dba/100_100_1/dbafbd3900bc4e505c88c08a397bc8f3.jpg);
  margin:33.333333333333% 0 0 33.333333333333%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13616 {
  background-image:url(/upload/resize_cache/iblock/dba/1000_1000_1/dbafbd3900bc4e505c88c08a397bc8f3.jpg);
 }
 #tiles-bx_2662763187_-item-14645 {
  padding:16.666666666667% 8.4333333333333%;
  background-image:url(/upload/resize_cache/iblock/63a/100_100_1/63a78defcee3c87291fac763c2348a81.jpg);
  margin:33.333333333333% 0 0 83.333333333333%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-14645 {
  background-image:url(/upload/resize_cache/iblock/63a/666_666_1/63a78defcee3c87291fac763c2348a81.jpg);
 }
 #tiles-bx_2662763187_-item-13678 {
  padding:16.666666666667% 16.766666666667%;
  background-image:url(/upload/resize_cache/iblock/069/100_100_1/069a226ec8ab6f0a50dfeb0f0cc5c796.jpg);
  margin:66.666666666667% 0 0 0%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13678 {
  background-image:url(/upload/resize_cache/iblock/069/666_666_1/069a226ec8ab6f0a50dfeb0f0cc5c796.jpg);
 }
 #tiles-bx_2662763187_-item-13648 {
  padding:16.666666666667% 8.4333333333333%;
  background-image:url(/upload/resize_cache/iblock/4f1/100_100_1/4f17ee383a9fdae882b8a86c81ee3bfb.jpg);
  margin:66.666666666667% 0 0 33.333333333333%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13648 {
  background-image:url(/upload/resize_cache/iblock/4f1/666_666_1/4f17ee383a9fdae882b8a86c81ee3bfb.jpg);
 }
 #tiles-bx_2662763187_-item-13647 {
  padding:16.666666666667% 8.4333333333333%;
  background-image:url(/upload/resize_cache/iblock/9fb/100_100_1/9fbe27e66018182fee3bb475c009c508.png);
  margin:66.666666666667% 0 0 50%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13647 {
  background-image:url(/upload/resize_cache/iblock/9fb/666_666_1/9fbe27e66018182fee3bb475c009c508.png);
 }
 #tiles-bx_2662763187_-item-13699 {
  padding:16.666666666667% 33.433333333333%;
  background-image:url(/upload/resize_cache/iblock/bd0/100_100_1/bd073b9e7be247b3382ca9e9e07b0107.jpg);
  margin:100% 0 0 0%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13699 {
  background-image:url(/upload/resize_cache/iblock/bd0/1334_1334_1/bd073b9e7be247b3382ca9e9e07b0107.jpg);
 }
 #tiles-bx_2662763187_-item-13594 {
  padding:16.666666666667% 16.766666666667%;
  background-image:url(/upload/resize_cache/iblock/c74/100_100_1/c747841779d5460e16a8aa25b58866e5.jpg);
  margin:66.666666666667% 0 0 66.666666666667%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13594 {
  background-image:url(/upload/resize_cache/iblock/c74/666_666_1/c747841779d5460e16a8aa25b58866e5.jpg);
 }
 #tiles-bx_2662763187_-item-13634 {
  padding:16.666666666667% 8.4333333333333%;
  background-image:url(/upload/resize_cache/iblock/802/100_100_1/802a01bb3b056e1191bf649dc73ddf1f.png);
  margin:100% 0 0 66.666666666667%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13634 {
  background-image:url(/upload/resize_cache/iblock/802/666_666_1/802a01bb3b056e1191bf649dc73ddf1f.png);
 }
 #tiles-bx_2662763187_-item-13590 {
  padding:16.666666666667% 8.4333333333333%;
  background-image:url(/upload/resize_cache/iblock/51b/100_100_1/51b35fdd7cf7209feccfc69c995ea3b2.png);
  margin:100% 0 0 83.333333333333%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13590 {
  background-image:url(/upload/resize_cache/iblock/51b/666_666_1/51b35fdd7cf7209feccfc69c995ea3b2.png);
 }
 #tiles-bx_2662763187_-item-13680 {
  padding:16.666666666667% 16.766666666667%;
  background-image:url(/upload/resize_cache/iblock/ca9/100_100_1/ca9ca3bad57d7ee75385c68293b9d1ba.png);
  margin:133.33333333333% 0 0 0%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13680 {
  background-image:url(/upload/resize_cache/iblock/ca9/666_666_1/ca9ca3bad57d7ee75385c68293b9d1ba.png);
 }
 #tiles-bx_2662763187_-item-13709 {
  padding:16.666666666667% 16.766666666667%;
  background-image:url(/upload/resize_cache/iblock/e8c/100_100_1/e8ce9575c528cc2108029d4aca51572f.jpg);
  margin:133.33333333333% 0 0 33.333333333333%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13709 {
  background-image:url(/upload/resize_cache/iblock/e8c/666_666_1/e8ce9575c528cc2108029d4aca51572f.jpg);
 }
 #tiles-bx_2662763187_-item-13614 {
  padding:16.666666666667% 8.4333333333333%;
  background-image:url(/upload/resize_cache/iblock/c92/100_100_1/c92de8b9d4035e1abbadc0905dd256e4.jpg);
  margin:133.33333333333% 0 0 66.666666666667%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13614 {
  background-image:url(/upload/resize_cache/iblock/c92/666_666_1/c92de8b9d4035e1abbadc0905dd256e4.jpg);
 }
 #tiles-bx_2662763187_-item-14441 {
  padding:16.666666666667% 8.4333333333333%;
  background-image:url(/upload/resize_cache/iblock/21c/100_100_1/21c168c2ac1290a40fc3370b5911ca83.jpg);
  margin:133.33333333333% 0 0 83.333333333333%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-14441 {
  background-image:url(/upload/resize_cache/iblock/21c/666_666_1/21c168c2ac1290a40fc3370b5911ca83.jpg);
 }
 #tiles-bx_2662763187_-fix {
  padding:166.66666666667% 0 0 0;
 }
}
@media screen and (min-width:1600px) {
 #tiles-bx_2662763187_-item-13649 {
  padding:12.5% 18.85%;
  background-image:url(/upload/resize_cache/iblock/f82/100_100_1/f82de0440a9ec87ebd3f0e1b20dbc360.jpg);
  margin:0% 0 0 0%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13649 {
  background-image:url(/upload/resize_cache/iblock/f82/900_900_1/f82de0440a9ec87ebd3f0e1b20dbc360.jpg);
 }
 #tiles-bx_2662763187_-item-13630 {
  padding:12.5% 6.35%;
  background-image:url(/upload/resize_cache/iblock/028/100_100_1/028cd16e52ba907250cc8a5efbd7e1b7.jpg);
  margin:0% 0 0 37.5%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13630 {
  background-image:url(/upload/resize_cache/iblock/028/600_600_1/028cd16e52ba907250cc8a5efbd7e1b7.jpg);
 }
 #tiles-bx_2662763187_-item-13708 {
  padding:12.5% 6.35%;
  background-image:url(/upload/resize_cache/iblock/5be/100_100_1/5be54a613c73dd384e44a3a3c9c264b9.jpg);
  margin:0% 0 0 50%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13708 {
  background-image:url(/upload/resize_cache/iblock/5be/600_600_1/5be54a613c73dd384e44a3a3c9c264b9.jpg);
 }
 #tiles-bx_2662763187_-item-13650 {
  padding:12.5% 6.35%;
  background-image:url(/upload/resize_cache/iblock/41b/100_100_1/41b966ef4ff3cb7935287e19d745f1a3.jpg);
  margin:0% 0 0 62.5%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13650 {
  background-image:url(/upload/resize_cache/iblock/41b/600_600_1/41b966ef4ff3cb7935287e19d745f1a3.jpg);
 }
 #tiles-bx_2662763187_-item-13579 {
  padding:12.5% 6.35%;
  background-image:url(/upload/resize_cache/iblock/578/100_100_1/578100aafcfa8df36b5c3fc6fc32a1ed.png);
  margin:0% 0 0 75%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13579 {
  background-image:url(/upload/resize_cache/iblock/578/600_600_1/578100aafcfa8df36b5c3fc6fc32a1ed.png);
 }
 #tiles-bx_2662763187_-item-13679 {
  padding:12.5% 6.35%;
  background-image:url(/upload/resize_cache/iblock/765/100_100_1/765a9b6cb165d36fedb6f550f84d3139.jpg);
  margin:0% 0 0 87.5%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13679 {
  background-image:url(/upload/resize_cache/iblock/765/600_600_1/765a9b6cb165d36fedb6f550f84d3139.jpg);
 }
 #tiles-bx_2662763187_-item-13616 {
  padding:12.5% 18.85%;
  background-image:url(/upload/resize_cache/iblock/dba/100_100_1/dbafbd3900bc4e505c88c08a397bc8f3.jpg);
  margin:25% 0 0 0%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13616 {
  background-image:url(/upload/resize_cache/iblock/dba/900_900_1/dbafbd3900bc4e505c88c08a397bc8f3.jpg);
 }
 #tiles-bx_2662763187_-item-14645 {
  padding:12.5% 6.35%;
  background-image:url(/upload/resize_cache/iblock/63a/100_100_1/63a78defcee3c87291fac763c2348a81.jpg);
  margin:25% 0 0 37.5%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-14645 {
  background-image:url(/upload/resize_cache/iblock/63a/600_600_1/63a78defcee3c87291fac763c2348a81.jpg);
 }
 #tiles-bx_2662763187_-item-13678 {
  padding:12.5% 12.6%;
  background-image:url(/upload/resize_cache/iblock/069/100_100_1/069a226ec8ab6f0a50dfeb0f0cc5c796.jpg);
  margin:25% 0 0 50%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13678 {
  background-image:url(/upload/resize_cache/iblock/069/600_600_1/069a226ec8ab6f0a50dfeb0f0cc5c796.jpg);
 }
 #tiles-bx_2662763187_-item-13648 {
  padding:12.5% 12.6%;
  background-image:url(/upload/resize_cache/iblock/482/100_100_1/482b098f2e02c644508f9c0dc70da449.jpg);
  margin:25% 0 0 75%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13648 {
  background-image:url(/upload/resize_cache/iblock/482/600_600_1/482b098f2e02c644508f9c0dc70da449.jpg);
 }
 #tiles-bx_2662763187_-item-13647 {
  padding:12.5% 6.35%;
  background-image:url(/upload/resize_cache/iblock/9fb/100_100_1/9fbe27e66018182fee3bb475c009c508.png);
  margin:50% 0 0 0%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13647 {
  background-image:url(/upload/resize_cache/iblock/9fb/600_600_1/9fbe27e66018182fee3bb475c009c508.png);
 }
 #tiles-bx_2662763187_-item-13699 {
  padding:12.5% 12.6%;
  background-image:url(/upload/resize_cache/iblock/e07/100_100_1/e0706c7a144f8f4ca8966b8ed4065691.jpg);
  margin:50% 0 0 12.5%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13699 {
  background-image:url(/upload/resize_cache/iblock/e07/600_600_1/e0706c7a144f8f4ca8966b8ed4065691.jpg);
 }
 #tiles-bx_2662763187_-item-13594 {
  padding:12.5% 18.85%;
  background-image:url(/upload/resize_cache/iblock/4f7/100_100_1/4f7d283d246f86d8d6325091d48b0d11.jpg);
  margin:50% 0 0 37.5%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13594 {
  background-image:url(/upload/resize_cache/iblock/4f7/900_900_1/4f7d283d246f86d8d6325091d48b0d11.jpg);
 }
 #tiles-bx_2662763187_-item-13634 {
  padding:12.5% 12.6%;
  background-image:url(/upload/resize_cache/iblock/802/100_100_1/802a01bb3b056e1191bf649dc73ddf1f.png);
  margin:50% 0 0 75%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13634 {
  background-image:url(/upload/resize_cache/iblock/802/600_600_1/802a01bb3b056e1191bf649dc73ddf1f.png);
 }
 #tiles-bx_2662763187_-item-13590 {
  padding:12.5% 6.35%;
  background-image:url(/upload/resize_cache/iblock/51b/100_100_1/51b35fdd7cf7209feccfc69c995ea3b2.png);
  margin:75% 0 0 0%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13590 {
  background-image:url(/upload/resize_cache/iblock/51b/600_600_1/51b35fdd7cf7209feccfc69c995ea3b2.png);
 }
 #tiles-bx_2662763187_-item-13680 {
  padding:12.5% 12.6%;
  background-image:url(/upload/resize_cache/iblock/ca9/100_100_1/ca9ca3bad57d7ee75385c68293b9d1ba.png);
  margin:75% 0 0 12.5%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13680 {
  background-image:url(/upload/resize_cache/iblock/ca9/600_600_1/ca9ca3bad57d7ee75385c68293b9d1ba.png);
 }
 #tiles-bx_2662763187_-item-13709 {
  padding:12.5% 6.35%;
  background-image:url(/upload/resize_cache/iblock/ff5/100_100_1/ff58d9485a2255712a66eebf5b0932f2.jpg);
  margin:75% 0 0 37.5%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13709 {
  background-image:url(/upload/resize_cache/iblock/ff5/600_600_1/ff58d9485a2255712a66eebf5b0932f2.jpg);
 }
 #tiles-bx_2662763187_-item-13614 {
  padding:12.5% 12.6%;
  background-image:url(/upload/resize_cache/iblock/ddb/100_100_1/ddb05cd4d99caaddd32e62e42fe18221.jpg);
  margin:75% 0 0 50%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-13614 {
  background-image:url(/upload/resize_cache/iblock/ddb/600_600_1/ddb05cd4d99caaddd32e62e42fe18221.jpg);
 }
 #tiles-bx_2662763187_-item-14441 {
  padding:12.5% 12.6%;
  background-image:url(/upload/resize_cache/iblock/21c/100_100_1/21c168c2ac1290a40fc3370b5911ca83.jpg);
  margin:75% 0 0 75%;
 }
 #tiles-bx_2662763187_.is-inited #tiles-bx_2662763187_-item-14441 {
  background-image:url(/upload/resize_cache/iblock/21c/600_600_1/21c168c2ac1290a40fc3370b5911ca83.jpg);
 }
 #tiles-bx_2662763187_-fix {
  padding:100% 0 0 0;
 }
}
