/*Landing page RabbitWeb.ru*/
@media all and (min-width: 1300px){
	@font-face{
		font-family: ;
		src: url(../);
	}
	html{
		background-color: white;
	}

	body{
		height: auto;
		font-family: helvetica;
		width: auto;
		max-width: 1300px;
		margin: 0 auto 0 auto;
	}
	/* Header NavBar */
	#header{
		height: 80px;
		width: auto;
		margin: 0 auto 0 auto;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		color: white;
	}
	#header:hover{
		background-color: white;
		color: black;
	}
	#nav_header_1{
		float: left;
	}
	#nav_header_1 li{
		float: left;
		margin-top: 15px;
		margin-left: 25px;
		list-style-type: none;
		text-decoration: none;
	}
	/**/
	#nav_header_1 li#header_developers{
		margin-left: 700px;
		margin-right: auto;
	}
	#nav_header_2 li#find{
		margin-right: 700px;
		margin-left: auto;
	}
	#nav_header_1_basic ul,
	#nav_header_1_basic_design ul{
		margin-left: 700px;
		margin-right: auto;
	}
	#nav_header_1_basic div,
	#nav_header_1_basic_design div{
		margin-right: 300px;
		margin-left: auto;
	}
	#nav_header_1_basic_design div#header_design_standart,
	#nav_header_1_basic_design div#header_design_individual{
		margin-left: 500px;
		margin-right: 200px;
	}
	/**/
	.nav_service li{
		color: white;
	}
	#nav_header_1 li:hover,
	#nav_header_2 li:hover{
		padding-bottom: 26px;
		border-bottom: 2px solid blue;
		color: blue;
		cursor: pointer;
	}
	#nav_header_1 li img,
	#nav_header_2 li img{
		border: 2px solid black;
		border-radius: 10px;
		margin-left: 30px;
		margin-right: 20px;
		padding: 5px;
		color: black;
	}
	#nav_header_1 a,
	#nav_header_2 a{
		color: white;
	}

	#nav_header_2{
		float: right;
	}
	#nav_header_2 li{
		float: left;
		margin-top: 15px;
		margin-right: 10px;
		list-style-type: none;
		text-decoration: none;
	}
	#nav_header_1_basic,
	#nav_header_1_basic_design {
		display: none;
		border-top: 1px solid grey;
		border-bottom: 1px solid grey;
	}
	#header_developers:hover #nav_header_1_basic,
	#nav_design:hover #nav_header_1_basic_design{
		display: block;
		position: absolute;
		background-color: white;
		height: auto;
		top: 80px;
		left: 0;
		right: 0;
	}
	#nav_header_1_basic ul,
	#nav_header_1_basic_design ul{
		float: none;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	#nav_header_1_basic_design ul{
		margin-bottom: 90px;		
	}
	li#visiting-site,
	li#company-site,
	li#landing-page,
	li#internet-magazine,
	li#standard-design,
	li#individual-design{
		float: none;
		border-bottom: none;
		padding: 1px;
		margin: 20px;
		color: black;
	}
	li#visiting-site:hover,
	li#company-site:hover,
	li#landing-page:hover,
	li#internet-magazine:hover,
	li#standard-design:hover,
	li#individual-design:hover{
		border-bottom: 1px solid blue;
		padding-bottom: 0px;
		cursor: pointer;
		color: blue;
	}
	#nav_header_1_list_developers{
		position: absolute;
		left: 40%;
		right: 0;
		top: 40px;
	}
	#nav_header_1_list_design div#home-info-design{
		position: absolute;
		left: 30%;
		right: 0;
		top: 40px;
	}
	#nav_header_1_list_design{
		position: absolute;
		left: 20%;
		right: 5%;
		top: 10px;
	}
	#nav_header_1_list_developers div,
	#nav_header_1_list_design div{
		position: absolute;
		left: 0;
		right: 5%;
		cursor: default;
		color: black;
	}
	#header_developers_visiting input,
	#header_developers_company input,
	#header_developers_landing input,
	#header_developers_magazine input,
	#header_design_standart input,
	#header_design_individual input{
		border: 1px solid green;
		border-radius: 3px;
		box-shadow: 1px 1px 1px grey;
		float: right;
		background-color: green;
		color: white;
		padding: 5px;

	}
	#header_developers_visiting input:hover,
	#header_developers_company input:hover,
	#header_developers_landing input:hover,
	#header_developers_magazine input:hover,
	#header_design_standart input:hover,
	#header_design_individual input:hover{
		background-color: lightgreen;
		color: black;
		box-shadow: 0 0 3px black;
		cursor: pointer;
	}
	/* end Header NavBar */

	#allcontent{
		
	}
	#basic{
		background-image: url(../images/galaxy-unpacked201708-black-pc.jpg);
		background-repeat: no-repeat;
		background-position: center;
		margin-top: -7%;
		margin-left: -8px;
		margin-right: -8px;
		height: 850px;
		width: auto;
		text-align: center;
	}
	#basic h1{
		padding-top: 200px;
		font-size: 5em;
		color: white;
		text-shadow: 1px 1px 3px grey;
	}
	#basic input.submitLeft{
		float: right;
		margin-right: 50px;
		margin-left: auto;
		margin-top: 430px;
		border: 2px solid white;
		background-color: rgba(173, 194, 235, .5);
		padding: 7px;
		border-radius: 5px;
		color: white;
		width: 130px;
	}
	#basic input.submitRight{
		float: right;
		margin-right: 10px;
		margin-left: auto;	
		margin-top: 430px;
		border: 2px solid white;
		background-color: rgba(173, 194, 235, .5);
		padding: 7px;
		border-radius: 5px;
		color: white;
		width: 130px;
	}
	#block_service{
		background-image: url(../images/levelbox-main.jpg);
		background-repeat: no-repeat;
		background-position: right;
		height: 530px;
		width: auto;
		text-align: center;
	}
	#block_service div{
		margin-top: 10px;
		padding: 40px;
		width: 600px;
		text-align: left;
	}
	#block_service h1{
		font-size: 4em;
	}
	#block_service input.submitLevelbox{
		float: left;
		margin-right: 10px;
		margin-left: auto;	
		margin-top: 50px;
		border: 2px solid black;
		background-color: white;
		padding: 9px;
		border-radius: 5px;
		color: black;
		width: 150px;
	}
	/* Footer NavFooter */
	#footer{
		background-color: white;
		position: absolute;
		height: 200px;
		top: 2000px;
		left: 0;
		right: 0;
		bottom: 0;
	}
	#nav_footer{
		float: left;
	}
	#nav_footer li{
		list-style-type: none;
	}
	/* end Footer */
}