/*Landing page RabbitWeb.ru*/
@media all and (min-width: 1024px){
	@font-face{
		font-family: ;
		src: url(../);
	}
	html{
		background-color: #ffffff;
	}

	body{
		height: auto;
		font-family: helvetica;
		font-size: 1em;
	}
	/* Header NavBar */
	#header{
		position: absolute;
		height: 80px;
		margin: 0 auto 0 auto;
		left: 0;
		right: 0;
		top: 0;
	}
	#header:hover{
		background-color: lightgrey;
	}

	#nav_header_1{
		float: left;
	}
	#nav_header_1 li{
		float: left;
		margin-top: 15px;
		margin-left: 25px;
		list-style-type: none;
	}
	.nav_service li{
		color: white;
	}
	#nav_header_1 li,
	#nav_header_2 li{
		text-decoration: none;
		color: black;
		font-style: bold;
	}
	#nav_header_1 li:hover,
	#nav_header_2 li:hover{
		padding-bottom: 26px;
		border-bottom: 2px solid blue;
		color: blue;
		cursor: pointer;
	}
	#nav_header_1 li img,
	#nav_header_2 li img{
		border: 2px solid black;
		margin-left: 30px;
		margin-right: 20px;
		padding: 5px;
	}

	#nav_header_2{
		float: right;
	}
	#nav_header_2 li{
		float: left;
		margin-top: 15px;
		margin-right: 10px;
		list-style-type: none;
	}
	#nav_header_1_basic,
	#nav_header_1_basic_design {
		display: none;
		border-top: 1px solid grey;
	}
	#header_developers:hover #nav_header_1_basic,
	#nav_design:hover #nav_header_1_basic_design{
		display: block;
		position: absolute;
		background-color: lightgrey;
		height: auto;
		top: 80px;
		left: 0;
		right: 0;
	}
	#nav_header_1_basic ul,
	#nav_header_1_basic_design ul{
		float: none;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	li#visiting-site,
	li#company-site,
	li#landing-page,
	li#internet-magazine,
	li#standard-design,
	li#individual-design{
		float: none;
		border-bottom: none;
		padding: 1px;
		margin: 20px;
		
	}
	li#visiting-site:hover,
	li#company-site:hover,
	li#landing-page:hover,
	li#internet-magazine:hover,
	li#standard-design:hover,
	li#individual-design:hover{
		border-bottom: 1px solid blue;
		padding-bottom: 0px;
		cursor: pointer;
		color: blue;
	}
	#nav_header_1_list_developers,
	#nav_header_1_list_design{
		position: absolute;
		left: 20%;
		right: 0;
		top: 40px;
	}
	#nav_header_1_list_developers div,
	#nav_header_1_list_design div{
		position: absolute;
		left: 0;
		right: 5%;
		cursor: default;
		color: black;
	}
	#header_developers_visiting input,
	#header_developers_company input,
	#header_developers_landing input,
	#header_developers_magazine input,
	#header_design_standart input,
	#header_design_individual input{
		border: 1px solid green;
		border-radius: 3px;
		box-shadow: 1px 1px 1px grey;
		float: right;
		background-color: green;
		color: white;
		padding: 5px;

	}
	#header_developers_visiting input:hover,
	#header_developers_company input:hover,
	#header_developers_landing input:hover,
	#header_developers_magazine input:hover,
	#header_design_standart input:hover,
	#header_design_individual input:hover{
		background-color: lightgreen;
		color: black;
		box-shadow: 0 0 3px black;
		cursor: pointer;
	}
	/* end Header NavBar */

	#allcontent{
		
	}
	#basic{
		background-image: url(../images/);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 1000px 500px;
		height: 500px;
		width: auto;
		text-align: center;
	}
	#basic h1{
		margin-top: 100px;
	}
	#block_service{
		background-image: url(../images/hi-tech-personal-computer-pc-6103.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 1000px 500px;
		height: 500px;
		width: auto;
		text-align: center;
	}

	/* Footer NavFooter */
	#footer{
		background-color: lightgrey;
		position: absolute;
		height: 200px;
		top: 2000px;
		left: 0;
		right: 0;
		bottom: 0;
	}
	#nav_footer{
		float: left;
	}
	#nav_footer li{
		list-style-type: none;
	}
	/* end Footer */
}