.html_home-content {
	width: auto;
}
.nav-bar a {
	margin-left: 0;
	color: blue;
}.nav-bar a:hover {
	color: darkblue;
	text-decoration: none;
}
/*LEFT*/
.left-block-annotation {
	margin-left: 0;
}
.content-left-block {
	position: absolute;
	top: 143px;
	left: 0;
	right: auto;
	background-color: #e6eeff;
	box-shadow: 2px 7px 10px grey;
	width: auto;
	max-width: 1540px;
	height: 1550px;
}
.content-left-block div {
	padding-top: 10px;
	padding-left: 30%;
	padding-right: 30px;
	padding-bottom: 0px;
	width: 1050px;
}
.left-block-structure-1,
.left-block-structure-2,
.left-block-structure-3 {
	margin-top: 5%;
	height: 200px;
}
.left-block-structure-1 div.block-all-course,
.left-block-structure-2 div.block-all-course,
.left-block-structure-3 div.block-all-course {
	float: left;
	background-color: white;
	border: 5px solid grey;
	border-radius: 50px;
	width: 65px;
	height: 65px;
	margin-left: 65px;
	padding: 20px;
}.left-block-structure-1 div.block-all-course:hover,
.left-block-structure-2 div.block-all-course:hover,
.left-block-structure-3 div.block-all-course:hover {
	width: 65px;
	height: 65px;
	margin-left: 65px;
	border: 5px solid green;
}
.left-block-structure-1 div .img-block-course,
.left-block-structure-2 div .img-block-course,
.left-block-structure-3 div .img-block-course {
	margin: -43px 0 50px -47px;
}
div.text-block-course:nth-child(1),
div.text-block-course:nth-child(2),
div.text-block-course:nth-child(3),
div.text-block-course:nth-child(4),
div.text-block-course:nth-child(5),
div.text-block-course:nth-child(6),
div.text-block-course:nth-child(7),
div.text-block-course:nth-child(8) {
	float: left;
	width: 100px;
	margin-top: -45px;
	margin-left: -25px;
	padding: 10px;
	color: blue;
	text-align: center;
}


.left-block-structure-1 a,
.left-block-structure-2 a,
.left-block-structure-3 a,
.right-block-structure a {
	color: blue;
}.left-block-structure-1 a:hover,
.left-block-structure-2 a:hover,
.left-block-structure-3 a:hover,
.right-block-structure a:hover {
	color: darkblue;
	text-decoration: none;
}
/**end LEFT/

/*RIGHT*/
.content-right-block {
	position: absolute;
	top: 150px;
	left: auto;
	right: 0;
	width: auto;
	max-width: 1020px;
	height: 1550px;
}
.content-right-block div {}
.subscription {
	border: 0 solid white;
	background-color: #ffdb4d;
	color: black;
	padding: 10px;
}
.subscription:hover {
	background-color: #fff0b3;
}
.right-block-structure div {
	padding: 20px;
	padding-left: 5%;
	padding-right: 30%;
	padding-bottom: 20px;
}
.right-block-structure input {
	background-color: green;
	color: white;
	font-size: 1em;
	border: 0 solid white;
	box-shadow: 3px 3px 1px black;
	width: 140px;
	padding: 10px;
	cursor: pointer;
}
.right-block-structure input:hover {
	box-shadow: none;
}

.start-course {
	float: left;
	list-style-type: none;
}.start-course li{
	float: left;
	padding: 20px;
}.start-course li:nth-child(1) {
	margin-left: -70px;
}.start-course li:nth-child(2) {
	margin-left: -20px;
}.start-course img {
	margin-top: -10px;
	height: 40px;
}
.total-box-passive {
	background-color: rgb(217, 217, 217);
	color: white;
	font-size: .8em;
	margin-left: 400px;
	padding: 5px;
	border-radius: 5px;
}.total-box-active {
	background-color: green;
	color: white;
	font-size: .8em;
	margin-left: 400px;
	padding: 5px;
	border-radius: 5px;
}
/*end RIGHT*/

.footer {
	top: 1350px;
}