/***\ New project file for RW \***/

html {
	font-family: helvetica !important;
}
	
body {
	height: 100%;
	background-color: rgba(0, 0, 15, .85);
}

@media all and (min-width: 2150px){

	header {
		background-color: rgba(0,0,0, .4) !important;
		position: fixed;
		top: 0 !important;
		left: 0 !important;
		right: auto !important;
		bottom: 0 !important;
		width: 11%;
	}
	/*** -----------
		HEADER nav 
	-------------***/
	.nav {
		font-size: 18px;
	}
	.nav ul {
		list-style-type: none;
		padding: 20px;
		line-height: 1.5em;
	}
	.nav p {
		color: rgba(255,255,255, .2) !important;
	}
	
	.nav-print-logo {
		margin: 20px ;
	}
	.nav-print-logo img {
		height: 130px;
	}
	
	.nav-main {
		border-top: 1px dashed black !important;	
	}
	.nav-main a {
		font-size: 1.1em;
		line-height: 1.4em;
		color: white !important;
		text-decoration: none !important;
	}
	.nav-main a:hover {
		color: orange !important;
	}
	
	.nav-main-service {
		border-bottom: 1px dashed black !important;
	}
	.nav-main-service a {
		font-size: 1.1em;
		line-height: 1.4em;
		color: white !important;
		text-decoration: none !important;
	}
	.nav-main-service a:hover {
		color: orange !important;
	}
	
	.nav-contacts {
		border-bottom: 1px dashed black !important;
	}
	.nav-contacts-phone {
		font-size: 21px;
	}
	.nav-contacts-phone-grey {
		color: grey;
	}
	.nav-contacts-phone-lightgrey {
		color: lightgrey;
	}
	.nav-contacts-callback a {
		color: darkred;
		font-size: 16px;
		border-bottom: 1px dashed darkred !important;
		text-decoration: none !important;
	}
	.nav-contacts-callback a:hover {
		color: red;
		border-bottom: 1px dashed red !important;
	}
	.nav-address li{
		color: grey;
		font-size: 14px;
		line-height: 1em;
	}
	
	.nav-order-submit input {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 60px;
		font-size: 1.8em;
		padding-left: 11%;
		padding-right: 11%;
		border-radius: 5px 5px 0 0;
		border: 0px solid white;
		background-color: green;
	}
	.nav-order-submit input:hover {
		background-color: lightgreen !important;
	}
	/*** \end HEADER nav 
	--------------------
		PRODUCT ***/
	.allContent {
		width: auto;
	}
	.product-block {
		position: absolute;
		top: 0;
		left: 11%;
		right: 0;
		bottom: 0;
		width: auto;
		max-height: 60%;
	}
	.product-block .product-bar_1{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.product-block .product-bar_2{
		position: absolute;
		top: 0;
		left: 42.65%;
		right: 0;
		bottom: 0;
	}
	.product-block .product-bar_3 {
		position: absolute;
		top: 0;
		left: 71.3%;
		right: 0;
		bottom: 0;
	}

	.product-bar_1 {
		max-width: 40%;
		width: auto;
		padding: 0px 30px;
		background-color: rgba(0, 26, 51, .35);
		border-bottom: 10px solid lightblue;
	}
	.product-bar_1 div table {
		color: white;
		border-spacing: 0px;
		margin-bottom: 0px;
	}
	.product-bar_1 div th {
		text-align: left;
		border-right: 1px solid lightgrey;
		padding-right: 50px; 
	}
	.product-bar-table-h1 h1 {
		font-size: 2em;
	}
	.product-bar_1 td {
		padding-left: 20px;
		color: lightgrey;
		font-size: 1.1em;
	}
	.product-bar_1 td span {
		color: grey;
	}
	.product-bar_1 div h3 {
		position: absolute;
		bottom: 0;
		font-size: 1.2em;
	}

	.product-bar_2 {
		max-width: 26%;
		width: auto;
		padding: 0px 30px;
		background-color: rgba(0, 26, 51, .55);
		border-bottom: 10px solid darkorange;
	}
	.product-bar_2 div h3 {
		position: absolute;
		bottom: 0;
		font-size: 1.2em;
	}

	.product-bar_3 {
		max-width: 26%;
		width: auto;
		padding: 0px 30px;
		background-color: rgba(0, 26, 51, .75);
		border-bottom: 10px solid pink;
	}
	
	.product-bar_3 div h3 {
		position: absolute;
		bottom: 0;
		font-size: 1.2em;
	}

	.product-bar_1 div h2,
	.product-bar_2 div h2,
	.product-bar_3 div h2 {
		color: white;
		font-size: 2em;
	}
	.product-bar_1 p,
	.product-bar_2 p,
	.product-bar_3 p {
		font-size: 1.1em;
		color: lightgrey;
	}
	.product-bar_1 a {color: lightblue; text-decoration: none;}
	.product-bar_2 a {color: darkorange; text-decoration: none;}
	.product-bar_3 a {color: pink; text-decoration: none;}
	/*** \end PRODUCT 
	----------------------
		  PORTFOLIO
	----------------------
		PORTFOLIO-TEXT ***/
	.portfolio {
		position: absolute;
		top: 60%;
		left: 11%;
		right: 0;
		bottom: 0;
		color: white;
	}
	.portfolio-block-text {
		padding: 50px;
		margin-bottom: 55px;
	}
	.portfolio-block-text div h1 {
		font-size: 3.3em;
		padding-left: 50px;
	}
	.portfolio-block-text div p {
		color: lightgrey;
		font-size: 1.5em;
	}
	/* \end PORTFOLIO-TEXT
	----------------------
		PORTFOLIO-IMAGE*/
	.portfolio-image {
		position: absolute;
		top: 100%;
		left: 11%;
		right: 0;
		width: auto;
		height: 85%;
	}
	.portfolio-image .portfolio-block-image_1 {
		position: absolute;
		left: 0;
		right: 0;
	}
	.portfolio-image .portfolio-block-image_2 {
		position: absolute;
		top: 38.95%;
		left: 0;
		right: 0;
	}
	.portfolio-block-image-visaz {
		background-image: url(../image/devushka-stil-indiana-fotograf-dmitry-arhar.jpg) !important; 
		position: absolute;
		left: 0;
		right: 0;
		width: 500px;
		height: 300px;
	}
	.portfolio-block-image-horeca {
		background-image: url(../image/bartender-cocktail-green.jpg) !important; 
		position: absolute;
		left: 21%;
		right: 0;
		width: 370px;
		height: 300px;
	}
	.portfolio-block-image-online-course-children {
		background-image: url(../image/city-yuusha-two-face-batgirl-animated-movie-harley-quinn-rob.jpg) !important; 
		position: absolute;
		left: 37%;
		right: 0;
		width: 430px;
		height: 300px;
	}
	.portfolio-block-image-children-center {
		background-image: url(../image/group-puppies-young-angry-birds-film-cinema-deredere-subaras.jpg) !important; 
		position: absolute;
		left: 56%;
		right: 0;
		width: 345px;
		height: 300px;
	}
	.portfolio-block-image-turagence {
		background-image: url(../image/aziatka-plate-tkan-cvet.jpg) !important; 
		position: absolute;
		left: 72%;
		right: 0;
		width: 330px;
		height: 300px;
	}
	.portfolio-block-image-fitnes {
		background-image: url(../image/arina-bezlapova-seksualnaia-blondinka-stoit-poziruet-priches.jpg) !important; 
		position: absolute;
		right: 0;
		width: 326px;
		height: 300px;
	}
	.portfolio-block-image-foto-school {
		background-image: url(../image/aisii-portret-vzglyad-chb.jpg) !important; 
		position: absolute;
		left: 0;
		right: 0;
		width: 231px;
		height: 300px;
	}
	.portfolio-block-image-promo-site {
		background-image: url(../image/batman-betmen-art-kreativ-maska-kostium-chernyi-oskolki-fon.jpg) !important; 
		position: absolute;
		left: 11%;
		right: 0;
		width: 231px;
		height: 300px;
	}
	.portfolio-block-image-internet-magazyn {
		background-image: url(../image/chronometer-wristwach-ulysse-ulysse-nardin-4k-hd-wallpaper-t.jpg) !important; 
		position: absolute;
		left: 22%;
		right: 0;
		width: 500px;
		height: 300px;
	}
	.portfolio-block-image-prazdnik-show {
		background-image: url(../image/devushka-noch-boke-svet-banka-ogni.jpg) !important; 
		position: absolute;
		left: 52%;
		right: 0;
		width: 465px;
		height: 300px;
	}
	.portfolio-block-image-it-service {
		background-image: url(../image/hi-tech-wires-cables-provoda-2861.jpg) !important; 
		position: absolute;
		left: 42%;
		right: 0;
		width: 231px;
		height: 300px;
	}
	.portfolio-block-image-cosplay-show {
		background-image: url(../image/hugh-jackman-logan-marvel-comics-wolverine-mo.jpg) !important;
		position: absolute;
		left: 72%;
		right: 0;
		width: 231px;
		height: 300px;
	}
	.portfolio-block-image-surprize {
		background-image: url(../image/hayley-marie-daisy-watts-lucy-6734.jpg) !important;
		position: absolute;
		right: 0;
		width: 374px;
		height: 300px;
	}
	
	.portfolio-block-image-visaz,
	.portfolio-block-image-horeca ,
	.portfolio-block-image-online-course-children,
	.portfolio-block-image-children-center,
	.portfolio-block-image-turagence,
	.portfolio-block-image-fitnes,
	.portfolio-block-image-foto-school,
	.portfolio-block-image-promo-site,
	.portfolio-block-image-internet-magazyn,
	.portfolio-block-image-prazdnik-show,
	.portfolio-block-image-it-service,
	.portfolio-block-image-cosplay-show,
	.portfolio-block-image-surprize {
		background-size: cover;
		background-repeat: no-repeat;
		padding: 10px;
		color: white;
		cursor: pointer;
	}
	/*** \end PORTFOLIO-IMAGE 
	-------------------------
		 \end PORTFOLIO 
		----------------
			CLIENT ***/
	.client-basic {
		position: absolute;
		top: 166.3%;
		left: 11%;
		right: 0;
		width: auto;
		margin: auto;
	}
	.client-table-sector table {
		padding: 20px;
	}
	.client-table-sector th {
		padding-right: 50px;
		width: 450px;
		font-size: 1.3em;
		text-align: left;
		color: grey;
	}
	.client-table-sector td a {
		color: white;
		font-size: 1.3em;
		text-decoration: none !important;
	}
	.client-table-sector td a:hover {
		color: lightgrey !important;
	}
	/*** \end CLIENT 
	---------------------
		CLIENT-IMAGE ***/
	.client-image {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		height: auto;
		width: auto;
		background-color: rgba(255,255,255,1) !important;
	}
	.client-image_1,
	.client-image_2,
	.client-image_3,
	.client-image_4,
	.client-image_5,
	.client-image_6,
	.client-image_7,
	.client-image_8,
	.client-image_9,
	.client-image_10 {
		float: left;
		padding: 1%;
		margin-left: auto;
		margin-right: auto;
	} 
	/*** end CLIENT-IMAGE 
	---------------------
		RW-SERVICE ***/
	.rw-service {
		position: absolute;
		top: 190%;
		left: 11%;
		right: 0;
		bottom: 0;
	}
	.rw-service-block h1 {
		color: white !important;
		font-size: 3.2em;
		padding-left: 50px;
	}
	.rw-service-block p {
		color: lightgrey;
		padding: 0 30px;
	}
	.rw-service-block h2 {
		color: white;
		font-size: 2.2em;
		padding-left: 50px;
	}
	.rw-service-block li {line-height: 2em; margin-left: 50px;}
	.rw-service-block li,
	.rw-service-block a {
		color: lightgrey !important;
	}
	.rw-service-block a:hover {
		text-decoration: none;
	}
	.rw-service-develop {
		font-size: 1.3em;
		width: 75%;
		padding-left: 50px;
		height: auto;
	}
	.reviews {
		float: right;
		margin-top: 0;
		width: 22%;
		height: auto;
		background-color: rgba(0,0,20, .25) !important;
	}
	.reviews h1 {
		font-size: 2.5em;
	}
	.reviews img {
		height: auto;
		width: 100%;
	}
	/*** ---------------
	  \end RW-SERVICE 
	----------------***/

	.footer-list {
		height: 380px;
		margin-top: 15%;
		margin-left: auto;
		margin-right: auto;
		background-color: rgba(0,0,15, .85);
	}
	.footer-list-service_1 {
		float: left;
		padding: 20px;
	}
	.footer-list-service_2 {
		float: left;
		margin-left: 10%;
		padding: 20px;
	}
	.footer-list-service_3 {
		float: left;
		margin-left: 10%;
		padding: 20px;
	}
	
	.footer-list-service_1 span {color: orange;}

	.footer-list-service_1 li,
	.footer-list-service_1 a,
	.footer-list-service_2 li,
	.footer-list-service_2 a,
	.footer-list-service_3 li,
	.footer-list-service_3 a {
		color: lightgrey;
		list-style-type: none;
		text-decoration: none;
		line-height: 1.6em;
		font-size: 1.1em;
	}
	.footer-list-service_1 a:hover,
	.footer-list-service_2 a:hover,
	.footer-list-service_3 a:hover {
		color: grey;
	}
}/* end code STYLE @media (min-width: 2150px;)
----------------------------------------------
code STYLE @media (min-width: 1921px) (max-width: 2149px;) */
@media all and (min-width: 1921px) and (max-width: 2149px){	
	header {
		background-color: rgba(0,0,0, .4) !important;
		position: fixed;
		top: 0;
		left: 0;
		right: auto;
		bottom: 0;
		width: 11%;
	}
	/*** -----------
		HEADER nav 
	-------------***/
	.nav {
		font-size: 18px;
	}
	.nav ul {
		list-style-type: none;
		padding: 20px;
		line-height: 1.5em;
	}
	.nav p {
		color: rgba(255,255,255, .2) !important;
	}
	
	.nav-print-logo {
		margin: 40px 15px ;
	}
	.nav-print-logo img {
		height: 110px;
	}
	
	.nav-main {
		border-top: 1px dashed black !important;	
	}
	.nav-main a {
		font-size: 1.1em;
		line-height: 1.4em;
		color: white !important;
		text-decoration: none !important;
	}
	.nav-main a:hover {
		color: orange !important;
	}
	
	.nav-main-service {
		border-bottom: 1px dashed black !important;
	}
	.nav-main-service a {
		font-size: 1.1em;
		line-height: 1.4em;
		color: white !important;
		text-decoration: none !important;
	}
	.nav-main-service a:hover {
		color: orange !important;
	}
	
	.nav-contacts {
		border-bottom: 1px dashed black !important;
	}
	.nav-contacts-phone {
		font-size: 21px;
	}
	.nav-contacts-phone-grey {
		color: grey;
	}
	.nav-contacts-phone-lightgrey {
		color: lightgrey;
	}
	.nav-contacts-callback a {
		color: darkred;
		font-size: 14px;
		border-bottom: 1px dashed darkred !important;
		text-decoration: none !important;
	}
	.nav-contacts-callback a:hover {
		color: red;
		border-bottom: 1px dashed red !important;
	}
	.nav-address li{
		color: grey;
		font-size: 14px;
		line-height: 1.3em;
	}
	
	.nav-order-submit input {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 60px;
		font-size: 1.3em;
		padding-left: 11%;
		padding-right: 11%;
		border: 0px solid white;
		background-color: green;
	}
	.nav-order-submit input:hover {
		background-color: lightgreen !important;
	}
	/*** \end HEADER nav 
	--------------------
		PRODUCT ***/
	.allContent {
		width: auto;
	}
	.product-block {
		position: absolute;
		top: 0;
		left: 11%;
		right: 0;
		bottom: 0;
		width: auto;
		max-height: 60%;
	}
	.product-block .product-bar_1{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.product-block .product-bar_2{
		position: absolute;
		top: 0;
		left: 43.2%;
		right: 0;
		bottom: 0;
	}
	.product-block .product-bar_3 {
		position: absolute;
		top: 0;
		left: 72.4%;
		right: 0;
		bottom: 0;
	}

	.product-bar_1 {
		max-width: 40%;
		width: auto;
		padding: 0px 30px;
		background-color: rgba(0, 26, 51, .35);
		border-bottom: 10px solid lightblue;
	}
	.product-bar_1 div table {
		color: white;
		border-spacing: 0px;
		margin-bottom: 0px;
	}
	.product-bar_1 div th {
		text-align: left;
		border-right: 1px solid lightgrey;
		padding-right: 50px; 
	}
	.product-bar-table-h1 h1 {
		font-size: 2em;
	}
	.product-bar_1 td {
		padding-left: 20px;
		color: lightgrey;
		font-size: 1.1em;
	}
	.product-bar_1 td span {
		color: grey;
	}
	.product-bar_1 div h3 {
		position: absolute;
		bottom: 0;
		font-size: 1.2em;
	}

	.product-bar_2 {
		max-width: 26%;
		width: auto;
		padding: 0px 30px;
		background-color: rgba(0, 26, 51, .55);
		border-bottom: 10px solid darkorange;
	}
	.product-bar_2 div h3 {
		position: absolute;
		bottom: 0;
		font-size: 1.2em;
	}

	.product-bar_3 {
		max-width: 26%;
		width: auto;
		padding: 0px 30px;
		background-color: rgba(0, 26, 51, .75);
		border-bottom: 10px solid pink;
	}
	
	.product-bar_3 div h3 {
		position: absolute;
		bottom: 0;
		font-size: 1.2em;
	}

	.product-bar_1 div h2,
	.product-bar_2 div h2,
	.product-bar_3 div h2 {
		color: white;
		font-size: 1.5em;
	}
	.product-bar_1 p,
	.product-bar_2 p,
	.product-bar_3 p {
		font-size: 1em;
		color: lightgrey;
	}
	.product-bar_1 a {color: lightblue; text-decoration: none;}
	.product-bar_2 a {color: darkorange; text-decoration: none;}
	.product-bar_3 a {color: pink; text-decoration: none;}
	/*** \end PRODUCT 
	----------------------
		  PORTFOLIO
	----------------------
		PORTFOLIO-TEXT ***/
	.portfolio {
		position: absolute;
		top: 60%;
		left: 11%;
		right: 0;
		bottom: 0;
		color: white;
	}
	.portfolio-block-text {
		padding: 50px;
		margin-bottom: 55px;
	}
	.portfolio-block-text div h1 {
		font-size: 3em;
		padding-left: 50px;
	}
	.portfolio-block-text div p {
		color: lightgrey;
		font-size: 1.3em;
	}
	/* \end PORTFOLIO-TEXT
	----------------------
		PORTFOLIO-IMAGE*/
	.portfolio-image {
		position: absolute;
		top: 100%;
		left: 11%;
		right: 0;
		width: auto;
		height: 85%;
	}
	.portfolio-image .portfolio-block-image_1 {
		position: absolute;
		left: 0;
		right: 0;
	}
	.portfolio-image .portfolio-block-image_2 {
		position: absolute;
		top: 38.95%;
		left: 0;
		right: 0;
	}
	.portfolio-block-image-visaz {
		background-image: url(../image/devushka-stil-indiana-fotograf-dmitry-arhar.jpg) !important; 
		position: absolute;
		left: 0;
		right: 0;
		width: 420px;
		height: 300px;
	}
	.portfolio-block-image-horeca {
		background-image: url(../image/bartender-cocktail-green.jpg) !important; 
		position: absolute;
		left: 15%;
		right: 0;
		width: 350px;
		height: 300px;
	}
	.portfolio-block-image-online-course-children {
		background-image: url(../image/city-yuusha-two-face-batgirl-animated-movie-harley-quinn-rob.jpg) !important; 
		position: absolute;
		left: 32%;
		right: 0;
		width: 350px;
		height: 300px;
	}
	.portfolio-block-image-children-center {
		background-image: url(../image/group-puppies-young-angry-birds-film-cinema-deredere-subaras.jpg) !important; 
		position: absolute;
		left: 50%;
		right: 0;
		width: 320px;
		height: 300px;
	}
	.portfolio-block-image-turagence {
		background-image: url(../image/aziatka-plate-tkan-cvet.jpg) !important; 
		position: absolute;
		left: 65%;
		right: 0;
		width: 330px;
		height: 300px;
	}
	.portfolio-block-image-fitnes {
		background-image: url(../image/arina-bezlapova-seksualnaia-blondinka-stoit-poziruet-priches.jpg) !important; 
		position: absolute;
		right: 0;
		width: 326px;
		height: 300px;
	}
	.portfolio-block-image-foto-school {
		background-image: url(../image/aisii-portret-vzglyad-chb.jpg) !important; 
		position: absolute;
		left: 0;
		right: 0;
		width: 231px;
		height: 300px;
	}
	.portfolio-block-image-promo-site {
		background-image: url(../image/batman-betmen-art-kreativ-maska-kostium-chernyi-oskolki-fon.jpg) !important; 
		position: absolute;
		left: 11%;
		right: 0;
		width: 231px;
		height: 300px;
	}
	.portfolio-block-image-internet-magazyn {
		background-image: url(../image/chronometer-wristwach-ulysse-ulysse-nardin-4k-hd-wallpaper-t.jpg) !important; 
		position: absolute;
		left: 22%;
		right: 0;
		width: 500px;
		height: 300px;
	}
	.portfolio-block-image-prazdnik-show {
		background-image: url(../image/devushka-noch-boke-svet-banka-ogni.jpg) !important; 
		position: absolute;
		left: 52%;
		right: 0;
		width: 465px;
		height: 300px;
	}
	.portfolio-block-image-it-service {
		background-image: url(../image/hi-tech-wires-cables-provoda-2861.jpg) !important; 
		position: absolute;
		left: 42%;
		right: 0;
		width: 231px;
		height: 300px;
	}
	.portfolio-block-image-cosplay-show {
		background-image: url(../image/hugh-jackman-logan-marvel-comics-wolverine-mo.jpg) !important;
		position: absolute;
		left: 72%;
		right: 0;
		width: 231px;
		height: 300px;
	}
	.portfolio-block-image-surprize {
		background-image: url(../image/hayley-marie-daisy-watts-lucy-6734.jpg) !important;
		position: absolute;
		right: 0;
		width: 284px;
		height: 300px;
	}
	
	.portfolio-block-image-visaz,
	.portfolio-block-image-horeca ,
	.portfolio-block-image-online-course-children,
	.portfolio-block-image-children-center,
	.portfolio-block-image-turagence,
	.portfolio-block-image-fitnes,
	.portfolio-block-image-foto-school,
	.portfolio-block-image-promo-site,
	.portfolio-block-image-internet-magazyn,
	.portfolio-block-image-prazdnik-show,
	.portfolio-block-image-it-service,
	.portfolio-block-image-cosplay-show,
	.portfolio-block-image-surprize {
		background-size: cover;
		background-repeat: no-repeat;
		padding: 10px;
		color: white;
		cursor: pointer;
	}
	/*** \end PORTFOLIO-IMAGE 
	-------------------------
		 \end PORTFOLIO 
		----------------
			CLIENT ***/
	.client-basic {
		position: absolute;
		top: 166.3%;
		left: 11%;
		right: 0;
		width: auto;
		margin: auto;
	}
	.client-table-sector table {
		padding: 20px;
	}
	.client-table-sector th {
		padding-right: 50px;
		width: 450px;
		font-size: 1.3em;
		text-align: left;
		color: grey;
	}
	.client-table-sector td a {
		color: white;
		font-size: 1.3em;
		text-decoration: none !important;
	}
	.client-table-sector td a:hover {
		color: lightgrey !important;
	}
	/*** \end CLIENT 
	---------------------
		CLIENT-IMAGE ***/
	.client-image {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		height: auto;
		width: auto;
		background-color: rgba(255,255,255,1) !important;
	}
	.client-image_1,
	.client-image_2,
	.client-image_3,
	.client-image_4,
	.client-image_5,
	.client-image_6,
	.client-image_7,
	.client-image_8,
	.client-image_9,
	.client-image_10 {
		float: left;
		padding: 10px 15px;
		margin-left: auto;
		margin-right: auto;
	}
	/*** end CLIENT-IMAGE 
	---------------------
		RW-SERVICE ***/
	.rw-service {
		position: absolute;
		top: 190%;
		left: 11%;
		right: 0;
		bottom: 0;
	}
	.rw-service-block h1 {
		color: white !important;
		font-size: 3em;
		padding-left: 50px;
	}
	.rw-service-block p {
		color: lightgrey;
		padding: 0 30px;
	}
	.rw-service-block h2 {
		color: white;
		font-size: 2em;
		padding-left: 50px;
	}
	.rw-service-block li {line-height: 2em; margin-left: 50px;}
	.rw-service-block li,
	.rw-service-block a {
		color: lightgrey !important;
	}
	.rw-service-block a:hover {
		text-decoration: none;
	}
	.rw-service-develop {
		font-size: 1.3em;
		width: 75%;
		padding-left: 50px;
		height: auto;
	}
	.reviews {
		float: right;
		margin-top: 0;
		width: 22%;
		height: auto;
		background-color: rgba(0,0,20, .25) !important;
	}
	.reviews h1 {
		font-size: 2em;
	}
	.reviews h2 {
		font-size: 1.5em;
	}
	.reviews img {
		height: auto;
		width: 100%;
	}
	/*** ---------------
	  \end RW-SERVICE 
	----------------***/

	.footer-list {
		height: 380px;
		margin-top: 15%;
		margin-left: auto;
		margin-right: auto;
		background-color: rgba(0,0,15, .85);
	}
	.footer-list-service_1 {
		float: left;
		padding: 20px;
	}
	.footer-list-service_2 {
		float: left;
		margin-left: 10%;
		padding: 20px;
	}
	.footer-list-service_3 {
		float: left;
		margin-left: 10%;
		padding: 20px;
	}
	
	.footer-list-service_1 span {color: orange;}

	.footer-list-service_1 li,
	.footer-list-service_1 a,
	.footer-list-service_2 li,
	.footer-list-service_2 a,
	.footer-list-service_3 li,
	.footer-list-service_3 a {
		color: lightgrey;
		list-style-type: none;
		text-decoration: none;
		line-height: 1.6em;
		font-size: 1.1em;
	}
	.footer-list-service_1 a:hover,
	.footer-list-service_2 a:hover,
	.footer-list-service_3 a:hover {
		color: grey;
	}
}/* end code STYLE @media (min-width: 1921px) (max-width: 2149px;)
------------------------------------------------------------------
code STYLE @media (min-width: 1321px) (max-width: 1920px;) */
@media all and (min-width: 1321px) and (max-width: 1920px){
	header {
		background-color: rgba(0,0,0, .4) !important;
		position: fixed;
		top: 0;
		left: 0;
		right: auto;
		bottom: 0;
		width: 15%;
	}
	/*** -----------
		HEADER nav 
	-------------***/
	.nav {
		font-size: 18px;
	}
	.nav ul {
		list-style-type: none;
		padding: 20px;
		line-height: 1.5em;
	}
	.nav p {
		color: rgba(255,255,255, .2) !important;
	}
	
	.nav-print-logo {
		margin: 10px 20px;
	}
	.nav-print-logo img {
		height: 60px;
	}
	
	.nav-main {
		border-top: 1px dashed black !important;	
	}
	.nav-main a {
		font-size: .8em;
		line-height: 1.4em;
		color: white !important;
		text-decoration: none !important;
	}
	.nav-main a:hover {
		color: orange !important;
	}
	
	.nav-main-service {
		border-bottom: 1px dashed black !important;
	}
	.nav-main-service a {
		font-size: .8em;
		line-height: 1.4em;
		color: white !important;
		text-decoration: none !important;
	}
	.nav-main-service a:hover {
		color: orange !important;
	}
	
	.nav-contacts {
		border-bottom: 1px dashed black !important;
	}
	.nav-contacts-phone {
		font-size: 16px;
	}
	.nav-contacts-phone-grey {
		color: grey;
	}
	.nav-contacts-phone-lightgrey {
		color: lightgrey;
	}
	.nav-contacts-callback a {
		color: darkred;
		font-size: 12px;
		border-bottom: 1px dashed darkred !important;
		text-decoration: none !important;
	}
	.nav-contacts-callback a:hover {
		color: red;
		border-bottom: 1px dashed red !important;
	}
	.nav-address li{
		color: grey;
		font-size: 11px;
		line-height: 1.3em;
	}
	
	.nav-order-submit input {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 60px;
		font-size: 1.3em;
		padding-left: 11%;
		padding-right: 11%;
		border: 0px solid white;
		background-color: green;
	}
	.nav-order-submit input:hover {
		background-color: lightgreen !important;
	}
	/*** \end HEADER nav 
	--------------------
		PRODUCT ***/
	.allContent {
		width: auto;
	}
	.product-block {
		position: absolute;
		top: 0;
		left: 15%;
		right: 0;
		bottom: 0;
		width: auto;
		height: auto;
		max-height: 66%;
	}
	.product-block .product-bar_1{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.product-block .product-bar_2{
		position: absolute;
		top: 0;
		left: 43.2%;
		right: 0;
		bottom: 0;
	}
	.product-block .product-bar_3 {
		position: absolute;
		top: 0;
		left: 72.4%;
		right: 0;
		bottom: 0;
	}

	.product-bar_1 {
		max-width: 40%;
		width: auto;
		padding: 0px 30px;
		background-color: rgba(0, 26, 51, .35);
		border-bottom: 10px solid lightblue;
	}
	.product-bar_1 div table {
		color: white;
		border-spacing: 0px;
		margin-bottom: 0px;
	}
	.product-bar_1 div th {
		text-align: left;
		border-right: 1px solid lightgrey;
		padding-right: 50px; 
	}
	.product-bar-table-h1 h1 {
		font-size: 1.3em;
	}
	.product-bar_1 td {
		padding-left: 20px;
		color: lightgrey;
		font-size: .9em;
	}
	.product-bar_1 td span {
		color: grey;
	}
	.product-bar_1 div h3 {
		position: absolute;
		bottom: 0;
		font-size: 1em;
	}

	.product-bar_2 {
		max-width: 26%;
		width: auto;
		padding: 0px 30px;
		background-color: rgba(0, 26, 51, .55);
		border-bottom: 10px solid darkorange;
	}
	.product-bar_2 div h3 {
		position: absolute;
		bottom: 0;
		font-size: 1em;
	}

	.product-bar_3 {
		max-width: 26%;
		width: auto;
		padding: 0px 30px;
		background-color: rgba(0, 26, 51, .75);
		border-bottom: 10px solid pink;
	}
	
	.product-bar_3 div h3 {
		position: absolute;
		bottom: 0;
		font-size: 1em;
	}

	.product-bar_1 div h2,
	.product-bar_2 div h2,
	.product-bar_3 div h2 {
		color: white;
		font-size: 1.3em;
	}
	.product-bar_1 p,
	.product-bar_2 p,
	.product-bar_3 p {
		font-size: .8em;
		color: lightgrey;
	}
	.product-bar_1 a {color: lightblue; text-decoration: none;}
	.product-bar_2 a {color: darkorange; text-decoration: none;}
	.product-bar_3 a {color: pink; text-decoration: none;}
	/*** \end PRODUCT 
	----------------------
		  PORTFOLIO
	----------------------
		PORTFOLIO-TEXT ***/
	.portfolio {
		position: absolute;
		top: 60%;
		left: 15%;
		right: 0;
		bottom: 0;
		color: white;
	}
	.portfolio-block-text {
		padding: 50px;
		margin-bottom: 55px;
	}
	.portfolio-block-text div h1 {
		font-size: 2.2em;
		padding-left: 50px;
	}
	.portfolio-block-text div p {
		color: lightgrey;
		font-size: 1.1em;
	}
	/* \end PORTFOLIO-TEXT
	----------------------
		PORTFOLIO-IMAGE*/
	.portfolio-image {
		position: absolute;
		top: 100%;
		left: 15%;
		right: 0;
		width: auto;
		height: 85%;
	}
	.portfolio-image .portfolio-block-image_1 {
		position: absolute;
		left: 0;
		right: 0;
	}
	.portfolio-image .portfolio-block-image_2 {
		position: absolute;
		top: 38.95%;
		left: 0;
		right: 0;
	}
	.portfolio-block-image-visaz {
		background-image: url(../image/devushka-stil-indiana-fotograf-dmitry-arhar.jpg) !important; 
		position: absolute;
		left: 0;
		right: 0;
		width: 420px;
		height: 300px;
	}
	.portfolio-block-image-horeca {
		background-image: url(../image/bartender-cocktail-green.jpg) !important; 
		position: absolute;
		left: 15%;
		right: 0;
		width: 350px;
		height: 300px;
	}
	.portfolio-block-image-online-course-children {
		background-image: url(../image/city-yuusha-two-face-batgirl-animated-movie-harley-quinn-rob.jpg) !important; 
		position: absolute;
		left: 32%;
		right: 0;
		width: 350px;
		height: 300px;
	}
	.portfolio-block-image-children-center {
		background-image: url(../image/group-puppies-young-angry-birds-film-cinema-deredere-subaras.jpg) !important; 
		position: absolute;
		left: 50%;
		right: 0;
		width: 320px;
		height: 300px;
	}
	.portfolio-block-image-turagence {
		background-image: url(../image/aziatka-plate-tkan-cvet.jpg) !important; 
		position: absolute;
		left: 65%;
		right: 0;
		width: 330px;
		height: 300px;
	}
	.portfolio-block-image-fitnes {
		background-image: url(../image/arina-bezlapova-seksualnaia-blondinka-stoit-poziruet-priches.jpg) !important; 
		position: absolute;
		right: 0;
		width: 226px;
		height: 300px;
	}
	.portfolio-block-image-foto-school {
		background-image: url(../image/aisii-portret-vzglyad-chb.jpg) !important; 
		position: absolute;
		left: 0;
		right: 0;
		width: 231px;
		height: 300px;
	}
	.portfolio-block-image-promo-site {
		background-image: url(../image/batman-betmen-art-kreativ-maska-kostium-chernyi-oskolki-fon.jpg) !important; 
		position: absolute;
		left: 11%;
		right: 0;
		width: 231px;
		height: 300px;
	}
	.portfolio-block-image-internet-magazyn {
		background-image: url(../image/chronometer-wristwach-ulysse-ulysse-nardin-4k-hd-wallpaper-t.jpg) !important; 
		position: absolute;
		left: 22%;
		right: 0;
		width: 350px;
		height: 300px;
	}
	.portfolio-block-image-prazdnik-show {
		background-image: url(../image/devushka-noch-boke-svet-banka-ogni.jpg) !important; 
		position: absolute;
		left: 52%;
		right: 0;
		width: 465px;
		height: 300px;
	}
	.portfolio-block-image-it-service {
		background-image: url(../image/hi-tech-wires-cables-provoda-2861.jpg) !important; 
		position: absolute;
		left: 35%;
		right: 0;
		width: 231px;
		height: 300px;
	}
	.portfolio-block-image-cosplay-show {
		background-image: url(../image/hugh-jackman-logan-marvel-comics-wolverine-mo.jpg) !important;
		position: absolute;
		left: 67%;
		right: 0;
		width: 231px;
		height: 300px;
	}
	.portfolio-block-image-surprize {
		background-image: url(../image/hayley-marie-daisy-watts-lucy-6734.jpg) !important;
		position: absolute;
		right: 0;
		width: 184px;
		height: 300px;
	}
	
	.portfolio-block-image-visaz,
	.portfolio-block-image-horeca ,
	.portfolio-block-image-online-course-children,
	.portfolio-block-image-children-center,
	.portfolio-block-image-turagence,
	.portfolio-block-image-fitnes,
	.portfolio-block-image-foto-school,
	.portfolio-block-image-promo-site,
	.portfolio-block-image-internet-magazyn,
	.portfolio-block-image-prazdnik-show,
	.portfolio-block-image-it-service,
	.portfolio-block-image-cosplay-show,
	.portfolio-block-image-surprize {
		background-size: cover;
		background-repeat: no-repeat;
		padding: 10px;
		color: white;
		cursor: pointer;
	}
	/*** \end PORTFOLIO-IMAGE 
	-------------------------
		 \end PORTFOLIO 
		----------------
			CLIENT ***/
	.client-basic {
		position: absolute;
		top: 166.3%;
		left: 15%;
		right: 0;
		width: auto;
		margin: auto;
	}
	.client-table-sector table {
		padding: 20px;
	}
	.client-table-sector th {
		padding-right: 50px;
		width: 450px;
		font-size: 1.3em;
		text-align: left;
		color: grey;
	}
	.client-table-sector td a {
		color: white;
		font-size: 1.1em;
		text-decoration: none !important;
	}
	.client-table-sector td a:hover {
		color: lightgrey !important;
	}
	/*** \end CLIENT 
	---------------------
		CLIENT-IMAGE ***/
	.client-image {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		height: auto;
		width: auto;
		background-color: rgba(255,255,255,1) !important;
	}
	.client-image_1,
	.client-image_2,
	.client-image_3,
	.client-image_4,
	.client-image_5,
	.client-image_6,
	.client-image_7 {
		float: left;
		padding: 10px 5px;
		margin-left: auto;
		margin-right: auto;
	}
	.client-image_8,
	.client-image_9,
	.client-image_10 {display: none;}
	/*** end CLIENT-IMAGE 
	---------------------
		RW-SERVICE ***/
	.rw-service {
		position: absolute;
		top: 190%;
		left: 15%;
		right: 0;
		bottom: 0;
	}
	.rw-service-block h1 {
		color: white !important;
		font-size: 2.2em;
		padding-top: 32px;
		padding-left: 50px;
	}
	.rw-service-block p {
		color: lightgrey;
		padding: 0 30px;
	}
	.rw-service-block h2 {
		color: white;
		font-size: 1.5em;
		padding-left: 50px;
	}
	.rw-service-block li {line-height: 2em; margin-left: 50px;}
	.rw-service-block li,
	.rw-service-block a {
		color: lightgrey !important;
	}
	.rw-service-block a:hover {
		text-decoration: none;
	}
	.rw-service-develop {
		font-size: 1.1em;
		width: 75%;
		padding-left: 50px;
		height: auto;
	}
	.reviews {
		float: right;
		margin-top: 0;
		width: 22%;
		height: auto;
		background-color: rgba(0,0,20, .25) !important;
	}
	.reviews h1 {
		font-size: 1.8em;
	}
	.reviews h2 {
		font-size: 1.3em;
	}
	.reviews img {
		height: auto;
		width: 100%;
	}
	/*** ---------------
	  \end RW-SERVICE 
	----------------***/

	.footer-list {
		height: 520px;
		margin-top: 50%;
		margin-left: auto;
		margin-right: auto;
		background-color: rgba(0,0,15, .85);
	}
	.footer-list-service_1 {
		float: left;
		padding: 10px;
	}
	.footer-list-service_2 {
		float: left;
		margin-left: 5%;
		padding: 10px;
	}
	.footer-list-service_3 {
		float: left;
		margin-left: 5%;
		padding: 10px;
	}
	
	.footer-list-service_1 span {color: orange;}

	.footer-list-service_1 li,
	.footer-list-service_1 a,
	.footer-list-service_2 li,
	.footer-list-service_2 a,
	.footer-list-service_3 li,
	.footer-list-service_3 a {
		color: lightgrey;
		list-style-type: none;
		text-decoration: none;
		line-height: 1.6em;
		font-size: 1.1em;
	}
	.footer-list-service_1 a:hover,
	.footer-list-service_2 a:hover,
	.footer-list-service_3 a:hover {
		color: grey;
	}
}/* end code STYLE @media (min-width: 1321px) (max-width: 1920px;)
------------------------------------------------------------------
code STYLE @media (min-width: 769px) (max-width: 1320px;) */
@media all and (min-width: 769px) and (max-width: 1320px){
	
}/* end code STYLE @media (min-width: 769px) (max-width: 1024px;)
------------------------------------------------------------------
code STYLE @media (min-width: 481px) (max-width: 768px;) */
@media all and (min-width: 481px) and (max-width: 768px){
	
}/* end code STYLE @media (min-width: 481px) (max-width: 768px;)
------------------------------------------------------------------
code STYLE @media (max-width: 480px) */
@media all and (max-width: 480px){
	
}/* code STYLE @media (max-width: 480px)
---------------------------------------- */