/***\ New project file for RW \***/
@media all and (min-width: 1024px){	
	html {
		font-family: helvetica;
	}
	
	body {
	
	}
	
	header {
		background-color: rgba(0,0,0, .9);
		position: fixed;
		top: 0;
		left: 0;
		right: auto;
		bottom: 0;
		width: 250px;
	}
	/*** HEADER nav ***/
	.nav {
		font-size: 14px;
	}
	.nav ul {
		list-style-type: none;
		padding: 20px;
		line-height: 1.5em;
	}
	.nav p {
		color: rgba(255,255,255, .2);
	}
	
	.nav-print-logo {
		height: 120px;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
	}
	.nav-print-logo img {
		position: absolute;
		left: 30px;
		right: auto;
		height: 110px;	
	}
	
	.nav-main {
		border-top: 1px dashed black;	
	}
	.nav-main a {
		font-size: 1.3em;
		line-height: 1.4em;
		color: white;
		text-decoration: none;
	}
	.nav-main a:hover {
		color: orange;
	}
	
	.nav-main-service {
		border-bottom: 1px dashed black;
	}
	.nav-main-service a {
		font-size: 1.3em;
		line-height: 1.4em;
		color: white;
		text-decoration: none;
	}
	.nav-main-service a:hover {
		color: orange;
	}
	
	.nav-contacts {
		border-bottom: 1px dashed black;
	}
	.nav-contacts-phone {
		font-size: 17px;
	}
	.nav-contacts-phone-grey {
		color: grey;
	}
	.nav-contacts-phone-lightgrey {
		color: lightgrey;
	}
	.nav-contacts-callback a {
		color: darkred;
		font-size: 14px;
		border-bottom: 1px dashed darkred;
		text-decoration: none;
	}
	.nav-contacts-callback a:hover {
		color: red;
		border-bottom: 1px dashed red;
	}
	.nav-address li{
		color: grey;
		font-size: 12px;
		line-height: 1em;
	}
	
	.nav-order-submit {
		position: absolute;
		bottom: 0;
	}
	
	.nav-order-submit input {
		width: 250px;
		height: 50px;
		font-size: 1.8em;
		border: 0px solid white;
		background-color: green;
	}
	.nav-order-submit input:hover {
		background-color: lightgreen;
	}
	/*** \end HEADER nav ***/
	/*** PRODUCT ***/
	.product {
		position: absolute;
		top: 0;
		left: 250px;
		width: auto;
	}
	.product-bar_1 {
		float: left;
		max-width: 970px;
		width: auto;
		height: 500px;
		padding: 0px 30px 30px 30px;
		background-color: rgba(0, 26, 51, .75);
		border-bottom: 10px solid lightblue;
	}
	.product-bar_1 table {
		color: white;
		border-spacing: 0px;
		margin-bottom: 10px;
	}
	.product-bar_1 th {
		text-align: left;
		border-right: 1px solid lightgrey;
		padding-right: 50px; 
	}
	.product-bar-table-h1 h1 {
		font-size: 2.2em;
	}
	.product-bar_1 td {
		padding-left: 20px;
		color: lightgrey;
		font-size: 1.2em;
	}
	.product-bar_1 td span {
		color: grey;
	}

	.product-bar_2 {
		float: left;
		max-width: 573px;
		width: auto;
		height: 500px;
		padding: 0px 30px 30px 30px;
		background-color: rgba(0, 26, 51, .85);
		border-bottom: 10px solid darkorange;
	}

	.product-bar_3 {
		float: left;
		max-width: 575px;
		width: auto;
		height: 500px;
		padding: 0px 30px 30px 30px;
		background-color: rgba(0, 26, 51, .95);
		border-bottom: 10px solid pink;
	}
	.product-bar_1 h2,
	.product-bar_2 h2,
	.product-bar_3 h2 {
		color: white;
		font-size: 1.8em;
	}
	.product-bar_1 p,
	.product-bar_2 p,
	.product-bar_3 p {
		color: lightgrey;
	}
	.product-bar_1 a {color: lightblue; text-decoration: none;}
	.product-bar_2 a {color: darkorange; text-decoration: none;}
	.product-bar_3 a {color: pink; text-decoration: none;}
	/*** \end PRODUCT ***/
	/*** PORTFOLIO ***/
	/*PORTFOLIO-TEXT*/
	.portfolio {
		position: absolute;
		top: 540px;
		left: 0px;
		right: auto;
		background-color: rgba(0,0,15, .85);
		color: white;
	}
	.portfolio-text {
		padding: 20px;
	}
	.portfolio-text h1 {
		font-size: 3.3em;
		padding-left: 50px;
	}
	.portfolio-text p {
		color: lightgrey;
		font-size: 1.3em;
	}
	/* \end PORTFOLIO-TEXT */
	/*PORTFOLIO-IMAGE*/
	.portfolio-image {
		float: left;
		margin: 0; 
	}
	.portfolio-image-visaz {
		background-image: url(../image/devushka-stil-indiana-fotograf-dmitry-arhar.jpg); 
		width: 600px;
		height: 300px;
	}
	.portfolio-image-horeca {
		background-image: url(../image/bartender-cocktail-green.jpg); 
		width: 315px;
		height: 300px;
	}
	.portfolio-image-online-course-children {
		background-image: url(../image/city-yuusha-two-face-batgirl-animated-movie-harley-quinn-rob.jpg); 
		width: 315px;
		height: 300px;
	}
	.portfolio-image-children-center {
		background-image: url(../image/group-puppies-young-angry-birds-film-cinema-deredere-subaras.jpg); 
		width: 315px;
		height: 300px;
	}
	.portfolio-image-turagence {
		background-image: url(../image/aziatka-plate-tkan-cvet.jpg); 
		width: 315px;
		height: 300px;
	}
	.portfolio-image-fitnes {
		background-image: url(../image/arina-bezlapova-seksualnaia-blondinka-stoit-poziruet-priches.jpg); 
		width: 315px;
		height: 300px;
	}
	.portfolio-image-foto-school {
		background-image: url(../image/aisii-portret-vzglyad-chb.jpg); 
		width: 231px;
		height: 300px;
	}
	.portfolio-image-promo-site {
		background-image: url(../image/batman-betmen-art-kreativ-maska-kostium-chernyi-oskolki-fon.jpg); 
		width: 231px;
		height: 300px;
	}
	.portfolio-image-internet-magazyn {
		background-image: url(../image/chronometer-wristwach-ulysse-ulysse-nardin-4k-hd-wallpaper-t.jpg); 
		width: 500px;
		height: 300px;
	}
	.portfolio-image-prazdnik-show {
		background-image: url(../image/devushka-noch-boke-svet-banka-ogni.jpg); 
		width: 500px;
		height: 300px;
	}
	.portfolio-image-it-service {
		background-image: url(../image/hi-tech-wires-cables-provoda-2861.jpg); 
		width: 231px;
		height: 300px;
	}
	.portfolio-image-cosplay-show {
		background-image: url(../image/hugh-jackman-logan-marvel-comics-wolverine-mo.jpg);
		width: 231px;
		height: 300px;
	}
	.portfolio-image-surprize {
		background-image: url(../image/hayley-marie-daisy-watts-lucy-6734.jpg);
		width: 233px;
		height: 300px;
	}
	
	.portfolio-image-visaz,
	.portfolio-image-horeca ,
	.portfolio-image-online-course-children,
	.portfolio-image-children-center,
	.portfolio-image-turagence,
	.portfolio-image-fitnes,
	.portfolio-image-foto-school,
	.portfolio-image-promo-site,
	.portfolio-image-internet-magazyn,
	.portfolio-image-prazdnik-show,
	.portfolio-image-it-service,
	.portfolio-image-cosplay-show,
	.portfolio-image-surprize {
		background-size: cover;
		background-repeat: no-repeat;
		padding: 10px;
		color: white;
		cursor: pointer;
	}
	/* \end PORTFOLIO-IMAGE */
	/*** \end PORTFOLIO ***/
	/*** CLIENT ***/
	.client {
		position: absolute;
		top: 1433px;
		left: 250px;
		right: 0;
		width: auto;
		background-color: rgba(0,0,15, .85);
	}
	.client table {
		padding: 20px;
	}
	.client th {
		padding-right: 50px;
		width: 450px;
		font-size: 1.3em;
		text-align: left;
		color: grey;
	}
	.client td a {
		color: white;
		font-size: 1.3em;
		text-decoration: none;
	}
	.client td a:hover {
		color: lightgrey;
	}
	/*** \end CLIENT ***/
	/* CLIENT-IMAGE */
	.client-image {
		position: absolute;
		top: 1630px;
		left: 250px;
		right: 0;
		height: 100px;
		width: auto;
		background-color: rgba(255,255,255,1);
	}
	.client-image img {
		padding-left: 5px;
	}
	/* end CLIENT-IMAGE */
	/*** RW-SERVICE ***/
	.rw-service {
		position: absolute;
		top: 1740px;
		left: 250px;
		right: 0;
		width: auto;
		background-color: rgba(0,0,15, .85);
	}
	.rw-service h1 {
		color: white;
		font-size: 3.2em;
		padding-left: 50px;
	}
	.rw-service p {
		color: lightgrey;
		padding: 0 30px;
	}
	.rw-service h2 {
		color: white;
		font-size: 2.2em;
		padding-left: 50px;
	}
	.rw-service li {line-height: 2em; margin-left: 50px;}
	.rw-service li,
	.rw-service a {
		color: lightgrey;
	}
	.rw-service a:hover {
		text-decoration: none;
	}
	.rw-service-develop {
		font-size: 1.3em;
		width: 1700px;
		padding-left: 50px;
	}
	.reviews {
		float: right;
		width: 500px;
		height: auto;
		background-color: rgba(0,0,20, .25);
	}
	.reviews img {
		height: 400px;
		width: 500px;
	}
	/*** \end RW-SERVICE ***/
	
	footer {
		position: absolute;
		top: 3183px;
		left: 250px;
		right: 0;
		width: auto;
		background-color: rgba(0,0,15, .95);
	}
	footer div {
		float: left;
		margin-right: 200px;
		padding: 20px;
	}
	footer div span {color: orange;}
	footer div li,
	footer div a {
		color: lightgrey;
		list-style-type: none;
		text-decoration: none;
		line-height: 1.6em;
	}
	footer div a:hover {
		color: grey;
	}
}/* end code STYLE*/