html {}
body {
    font-family: sans-serif;
	line-height: 1.3em;
    background-color: whitesmoke;
}

/*** HEADER MENU ***/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
	height: auto;
    background-color: whitesmoke;
    opacity: 1;
}
#header {}
.nav {
    width: auto;
    max-width: 1500px;
    margin: 0 auto;
}
.nav_menu {
    float: left;
}
.nav_menu li {
    float: left;
    border: 1px solid whitesmoke;
    padding: 10px 10px 0 10px;
    list-style-type: none;
}
.nav_menu li:hover:nth-child(2),
.nav_menu li:hover:nth-child(3),
.nav_menu li:hover:nth-child(4),
.nav_menu li:hover:nth-child(5) {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: ghostwhite;    
}
.nav_menu li:active:nth-child(2),
.nav_menu li:active:nth-child(3),
.nav_menu li:active:nth-child(4),
.nav_menu li:active:nth-child(5) {
    border: 1px dashed blue;
}
.nav_menu li a {color: blue; text-decoration: none;}
.logo_RW {
    width: 90px;
    margin-top: -15px;
}
.nav_contacts {
    float: right;
    margin-right: 50px;
}
.nav_contacts li {
    list-style-type: none;
}
.nav_contacts li:nth-child(1) {
	padding-bottom: 5px;
    font-size: 21px;
    color: coral;
}
.nav_contacts li:nth-child(2) {
    font-size: 14px;
}
.nav_contacts li:nth-child(2) a {color: cadetblue;}

#allContent {margin-top: 150px;}

/***RW_bl_group***/
.RW_bl_group {
    margin: 20px auto 0px auto;
    width: auto;
    max-width: 1500px;
    height: 150px;
}
.bl_group_h1 {
    font-family: cursive;
    font-size: 2.5em;
    text-align: center;
    text-shadow: 1px 1px 1px grey;
    padding: 20px auto;
}
.bl_group_h1 h1 {color: darkcyan;}
.bl_group_h1 span {color: darkorange;}
.bl_group_image {
    margin-left: 15%;
    margin-right: auto;
}
.bl_image_left {
    float:left;
    width: 100px;
    height: 100px;
    border: 2px dashed lightblue;
    border-radius: 50px;
    margin: 20px 20px 20px auto;
}
.bl_image_center {
    float:left;
    width: 100px;
    height: 100px;
    border: 2px dashed orange;
    border-radius: 50px;
    margin: 20px 25%;
}
.bl_image_right {
    float:left;
    width: 100px;
    height: 100px;
    border: 2px dashed lightblue;
    border-radius: 50px;
    margin: 20px auto 20px 20px;
}
.bl_image_left a img {width: 100px; padding-top: 15px;}
.bl_image_right a img {width: 80px; padding-top: 20px; padding-left: 10px; opacity: .5;}
.bl_image_left:hover {border:2px solid orange;}
.bl_image_right {border:2px dashed lightgrey;}
.bl_image_left a img:hover,
.bl_image_center a img {width: 80px; padding-top: 20px; padding-left: 10px; opacity: .5;}

/*** SLIDER ***/
.slider_2,
.slider_3 {display: none;}

.slider_1,
.slider_2,
.slider_3 {
    width: auto;
    max-width: 1500px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    box-shadow: none;
    background-image: url(../image/nano.jpg);
    background-position: center;
}
.slider_1 h1,
.slider_2 h1,
.slider_3 h1 {
    color: whitesmoke;
    line-height: 1.3em;
    text-align: center;
    text-shadow: 2px 1px 1px black;
}
.slider_form {
    width: 350px;
    margin-left: 20px;
    margin-right: 70px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 15px black;
    background-color: lightgray;
    float: right;
}
.slider_form h2 {color: whitesmoke;}
.slider_str_info {
    width: auto;
    height: 350px;
}
.slider_str_info div {
    padding: 50px;
}
.sl_form_input input {
    height: 30px;
    width: 250px;
    padding-left: 10px;
    border: 1px solid white;
    border-radius: 5px;
    font-family: monospace;
}
.sl_form_submit input {
    width: 100px;
    padding: 10px;
    font-size: 18px;
    border-radius: 15px;
    color: white;
    background-color: gray;
    border: none;
    cursor: pointer;
}
.sl_form_submit input:hover {
    color: black;
    background-color: lightcyan;
}
.sl_form_submit input:active,
.sl_form_submit input:focus {
    text-shadow: 1px 1px 1px grey;
    box-shadow: none;
    outline: none;
    background-color: orange;
}
.block_info_slider {
    width: auto;
    max-width: 1500px;
    margin: auto;
    padding: 10px;
    color: white;
    text-shadow: 2px 1px 1px gray;
}
.block_info_slider div {opacity: none;}
.slider_input {margin: 0 auto; padding: 5px;}
.sub1,.sub2,.sub3 {
    border: 2px solid lightgray;
    border-radius: 10px;
    height: 20px;
    cursor: pointer;
}
.sub1:hover,.sub2:hover,.sub3:hover,
.slider_active {
    box-shadow: 0 0 2px blue; background-color: grey;
}
.sub1:focus,.sub2:focus,.sub3:focus {outline: none;}
.slider_submit {margin: 10px;}
.slider_submit input,
.sl_sub3_continue {
    margin: 0 5px;
    padding: 10px 35px;
    color: white;
    font-size: 1.3em;
    font-family: cursive;
    border: none;
    border-radius: 5px 20px 20px 5px;
    box-shadow: 2px 3px 5px black;
    background-color: cadetblue;
    cursor: pointer;
    text-decoration: none;
}
.slider_submit input:hover,
.sl_sub3_continue:hover {
    color: white;
    box-shadow: none;
    background-color: orange;
}
.slider_submit input:focus,
.sl_sub3_continue:focus {outline: none;}
/*** BASIC ***/
#basic {
    width: auto;
    max-width: 1500px;
    height: auto;
    margin: 100px auto;
}
.basic_div h1 {
    text-align: center;
    padding-top: 20px;
}

.basic_div {
    border-radius: 0;
    margin-bottom: 50px;
    box-shadow: none;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-image: url(../image/1.jpg);
    background-position: center;
}

/*** BASIC BLOCK ***/
.basic_img_block_left {float: left;}
.basic_img_block_right {float: right;}
.basic_img_block_left img,
.basic_img_block_right img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 50%;
}
.basic_img_block_left img {box-shadow: -2px 2px 5px black;}
.basic_img_block_right img {box-shadow: 2px 2px 5px black;}
.basic_block {padding: 30px; margin: 0 auto;}

/*** BLOCK_H_P ***/
.block_h {
    height: auto;
    width: auto;
    max-width: 1050px;
    margin: 50px auto;
}
.block_p {
    height: auto;
    padding: 10px;
}
.block_p h2 {margin: 0 auto; padding-bottom: 50px; font-family: cursive; font-size: 2em;}
.block_p div {
    float: left;
    width: auto;
    max-width: 300px;
    margin: auto 20px;
}
.bl_img_pfl a img {
    height: auto;
    width: 280px;
    border-radius: 20px;
}
.bl_img_pfl a img:hover {box-shadow: 0 0 10px black;}
.bl_info_pfl {
    margin: 450px auto 150px auto;
}

/*** BLOCK LIST ***/
.basic_block_list {
    height: auto;
    width: auto;
    padding: 10px;
    margin: auto;
    border-radius: 0;
    box-shadow: none;
    background-image: url(../image/slider-code.png);
    background-position: center;
}
.block_list_info {margin: 0 30%;}
.list_info_h2 h2 {
    width: auto;
    margin: 0 auto;
    padding: 15px;
    font-family: cursive;
    font-size: 2em;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
}
.block_list_info h3 {text-decoration: underline;}
.block_list_info b {font-family: cursive;}
.block_list_info ul {float: left; list-style-type: none;}
.block_list_info li {
    float: left;
    width: auto;
    max-width: 800px;
    height: auto;
    padding: 20px;
    margin: 20px auto;
    border: none;
    border-radius: none;
    text-shadow: 1px 1px 1px lightgray;
    background-color: whitesmoke;
}
.block_list_info li a {color: blue; font-size: 1.1em; text-decoration: underline;}
.block_list_info li a:hover {text-decoration: none;}
.block_list_info li a:focus{color: orange;}
.list_p_info {margin-top: 20px;
    margin-left: 180px;}
.list_p_a {padding-top: 20px;}

.list_image_block {
    height: 300px;
    width: 350px;
    margin-left: -200px;
    border-radius: 7px;
    box-shadow: 5px 5px 10px black;
    float: left;
}
.image_block {
    height: 300px; width: 350px;
    border-radius: 3px 5px 5px 3px;
}

/*** CONTINUE BASIC BLOCK ***/
.basic_block_bottom {padding: 30px; margin: auto;}
.block_bottom_up,
.block_bottom_down {width: auto; max-width: 1500px;}
.block_bottom_up {margin: 50px;}
.block_bottom_down {margin-bottom: 70px;}
.basic_bottom {
    border-radius: 0;
    box-shadow: none;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-image: url(../image/reviews2.jpg);
    background-position: center;
}

/*** ORDER FORM ***/
#order_form {
	height: auto;
	width: auto;
	max-width: 950px;
	margin: 10px auto;
}
.order_form_basic{
    border-radius: 7px;
    text-shadow: 1px 1px 1px grey;
	background-color: lightgray;
}
#order_form h1 {
	margin: 0;
	padding: 50px 10px 10px 10px;
	text-align: center;
}
#order_form form {
	width: 550px;
	margin: 0 auto;
	padding: 20px;
}
#order_form p {text-align: right; padding: 8px;}
#order_form p:nth-child(1) input,
#order_form p:nth-child(2) input,
#order_form p:nth-child(3) input {
	width: 300px;
	height: 40px;
	margin-left: 25px;
	padding-left: 10px;
	font-size: 1.2em;
    font-family: monospace;
	color: grey;
	border: 3px solid white;
}
#order_form p:nth-child(1) input:hover,
#order_form p:nth-child(2) input:hover,
#order_form p:nth-child(3) input:hover {
	border: 3px solid blue;}
#order_form p:nth-child(1) input:focus,
#order_form p:nth-child(2) input:focus,
#order_form p:nth-child(3) input:focus {
	border: 3px solid orange;}
#order_form p:nth-child(4) input {
	border: none;
	height: 30px;
	padding: 10px;
    font-family: monospace;
	cursor: pointer;
}
#order_form p:nth-child(5) input {cursor: pointer; border: 1px solid white;}
#order_form p:nth-child(5) {font-size: 14px; text-align: center;font-family: monospace;}
#order_form p:nth-child(6) input {
	width: 150px;
	height: 40px;
	padding: 10px;
	border: none;
	font-size: 16px;
	cursor: pointer;
}
#order_form p:nth-child(6) input:focus {
	background-color: orange;
}

/*** FOOTER ***/
#footer {
    height: 370px;
    margin: 100px -8px -8px -8px;
    padding: 20px;
    border-top: 10px solid cadetblue;
}
.footer_basic {
    width: auto;
    max-width: 1500px;
    margin: 0 auto;
}
.footer_basic h2{color: darkcyan; font-size: 2em; font-family: cursive; margin-left: 50px;}
.footer_basic h2 span {color: darkorange;}
.footer_list {margin:0 auto;}
.list {float:left; margin: 10px;}
.info {float:right; width: 500px; margin-right: 10px;}
.list ul,
.info ul {list-style-type: none; line-height: 1.5em;}
.list a {color:black;}
.list a:hover {text-decoration: none;}
.info a {color: black;}
.info a:hover {text-decoration: none;}
.social_widget_1 li,
.social_widget_2 li {float: left; margin: 5px; color: black;}
.social_widget_1 li img,
.social_widget_2 li img {width: 25px;}
/******/
.social_widget_1 li:nth-child(1) img:hover {
    border-radius: 50px;
    box-shadow: 0 0 10px yellow;
}
.social_widget_1 li:nth-child(2) img:hover {
    border-radius: 50px;
    box-shadow: 0 0 10px blue;
}
.social_widget_1 li:nth-child(3) img:hover {
    border-radius: 50px;
    box-shadow: 0 0 10px purple;
}
.social_widget_1 li:nth-child(4) img:hover {
    border-radius: 50px;
    box-shadow: 0 0 10px green;
}
.social_widget_2 li:nth-child(1) img:hover {
    border-radius: 50px;
    box-shadow: 0 0 10px darkblue;
}
.social_widget_2 li:nth-child(2) img:hover {
    border-radius: 50px;
    box-shadow: 0 0 10px blue;
}
.social_widget_2 li:nth-child(3) img:hover {
    border-radius: 50px;
    box-shadow: 0 0 10px red;
}
