html {}
body {
    font-family: helvetica;
    background-color: cornsilk;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: cornsilk;
}
#header {}
.nav {}
.nav_menu {
    float: left;
}
.nav_menu li,
.nav_contacts li {
    float: left;
    padding: 10px;
    list-style-type: none;
}
.nav_contacts {
    float: right;
}
.nav_contacts li:nth-child(2) {
    font-size: 12px;
}

#allContent {
    margin-top: 100px;
}
.slider_1,
.slider_2,
.slider_3 {
    width: auto;
    height: auto;
    margin: 0 -8px;
    padding: 10px;
    text-align: center;
    background-color: aqua;
}
.slider_1 {display: block;}
.slider_2 {display: none;}
.slider_3 {display: none;}
.slider_1 div,
.slider_2 div,
.slider_3 div {
    margin: 30px auto;
    padding: 10px;
    background-color: green;
}
.slider_input {
    margin: 0 auto;
    padding: 5px;
}
.slider_input input {
    border: 1px outset lightgrey;
    border-radius: 10px;
    height: 5px;
    cursor: pointer;
}
.slider_input input:hover {
    background-color: grey;
}
.slider_active { 
    background-color: grey;
}

#basic {
    width: auto;
    height: auto;
    margin: 0px -8px;
    background-color: blueviolet;
}
#basic h2 {padding: 20px;}

.basic_block {
    padding: 20px;
}

#footer {
    height: 300px;
    margin: 0 -8px -8px -8px;
    padding: 20px;
    background-color: brown;
}
.footer_list {
    margin-left: 10%;
}
.list {
    float:left;
    margin: 20px;
}
.info {
    float: right;
    width: 500px;
    margin-right: 10%;
}