/*@media all and (max-width:2560px;){*/
  html {
    background-color:whitesmoke;
    font-family:monospace;
  }
  /*HEADER*/
  .header_contents {
    width:auto;
    padding:5px 0 5px 20px;
    position:absolute;
    left:0;
    top:0;
    right:0;
    background-color:pink;
  }
  h1.logo-darkcyan {
    color:darkcyan;
  }
  span.logo-darkorange {
    color:darkorange;
  }
  .content-select input {
    padding:5px;
    border:none;
    border-radius:3px;
    color:ghostwhite;
    background-color:lightblue;
  }
  /*END HEADER*/
  /*Block Right*/
  .right-block {
    width:300px;
    margin-top:60px;
    margin-right:20px;
    background-color:yellow;
    box-shadow:0 0 5px gray;
    border-radius:2px;
    float:right;
  }
  .right-block div {
    border-bottom:1px dashed grey;
    padding:5px 10px;
  }
  /*END Block Right*/
  
  /* All Contents*/
  
  #all_contents {
    width:auto;
    margin:150px auto 0 50px;
    background-color:lightgreen;
  }
  .all_contents_heading h1 {
    text-align:center;
  }
  .content-blog {
    height:1500px;
    margin-bottom:100px;
  }
  .content-blog div {
    width:400px;
    margin:10px;
    padding:20px;
    float:left;
    box-shadow:0 0 5px gray;
    border-radius:2px;
    background-color:lightblue;
  }
  /*END All Contents*/
  /*FOOTER CONTENTS*/
  .footer-contents {
    height:200px;
    position:absolute;
    top:2000px;
    left:0;
    bottom:0;
    right:0;
    background-color:gray;
  }
  /*END Footer Contents*/
}
